﻿@using Newtonsoft.Json
@using LegalData;
@{
    Layout = null;
}

<div id="frmMail">
    <div class="card">
        <div class="card-header card-header-tabs card-header-info">
            <h4 class="card-title" id="TypeHeader" runat="server">Mail Template</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-1 text-right">
                    <div class="tim-typo mt-4-5">
                        <h5>
                            <span class="tim-note">Mail Subject</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2 text-right">
                    <div style="margin-top:27px;">
                        <input type="text" class="form-control" v-model="dataMail_temp.Mail_Subject" />
                    </div>
                </div>
                <div class="col-md-1 text-right">
                    <div class="tim-typo mt-4-5">
                        <h5>
                            <span class="tim-note">Mail Type</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select class="form-control" v-model="dataMail_temp.Mail_Type">
                            <option :value="null">-- Please Select --</option>
                            <option v-for="(item, index) in listMailType" :key="index" v-bind:value="item.Value">
                                {{ item.Text }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="tim-typo mt-4-5">
                        <button type="button" class="btn btn-primary" @@click="SearchData"><i class="fa fa-search"></i>&nbsp;Search</button>
                        <button type="button" class="mb-sm btn btn-outline-secondary" @@click="ClearData"><i class="fa fa-refresh"></i>&nbsp;Clear</button>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: -25px;">
                <div class="col-md-1 text-right">
                    <div class="tim-typo mt-4-5">
                        <button type="button" class="btn btn-success" @@click="AddDataModal"><i class="fa fa-plus"></i>&nbsp;Add</button>
                    </div>
                </div>
                <div class="col-md-1 text-right">
                    <div style="margin-top:27px;">

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row" style="margin-bottom:1%;">
                        <div class="container col-md-12 text-center">
                            <div class="material-datatables table-responsive">
                                <table id="gvMail" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="font-weight: bold;font-size: small;">No</th>
                                            <th style="font-weight: bold;font-size: small;">Type</th>
                                            <th style="font-weight: bold;font-size: small;">From</th>
                                            <th style="font-weight: bold;font-size: small;">Subject</th>
                                            <th style="font-weight: bold;font-size: small;">Edit</th>
                                            <th style="font-weight: bold;font-size: small;">Delete</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Mail Form -->
    <mailfrom-component ref="ma">
    </mailfrom-component>
</div>

@Html.Partial("~/Views/MailSetup/_ModalForm.cshtml")

<script type="text/javascript">
    var tableMail;
    var vueMail = new Vue({
        el: '#frmMail',
        data: function () {
            return {
                errors: [],
                dataMail_temp: {},
                modelMail_create:  @Html.Raw(JsonConvert.SerializeObject(new msMailConfig { Mail_SMTP = "tcrbwebmail", Mail_Body = "<p><br></p>" })),
                listMailType: {},
            }
        },
        methods: {
            InitialData: function () {
                let self = this;
                debugger
                self.dataMail_temp = _.cloneDeep(self.modelMail_create);

                tableMail = $("#gvMail").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 20,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/MailSetup/InquiryData",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: self.dataMail_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "Mail_Type_Desc" },
                        { data: "Mail_From" },
                        { data: "Mail_Subject" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" style="color: white;"><i class="fa fa-edit"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" style="color: white;"><i class="fa fa-trash"></i></a>';
                            }
                        }
                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableMail.fnGetData($(this).parents('tr')[0]);
                    self.EditData(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableMail.fnGetData($(this).parents('tr')[0]);
                    self.DeleteData(dataRow);
                });
            },
            SearchData: function () {
                let self = this;

                tableMail.fnDraw();
            },
            ClearData: function () {
                let self = this;

                self.dataMail_temp = _.cloneDeep(self.modelMail_create);
            },
            AddDataModal: function () {
                debugger
                let self = this;
                let _ma = this.$refs.ma;
                _ma.dataMail_temp = _.cloneDeep(_ma.modelMail_create);
                _ma.status = 'Add';
                _ma.modalTitle = "Add Mail Template";
                _ma.errors = [];
                $("#frmMa").modal('show');

            },
            ListMailTypeData() {
                let self = this;

                _Ajax("/LegalSystem_DEV/MailSetup/ListMailType",
                    {}, null, function (res) {
                        self.listMailType = res;
                    });
            },
            EditData(obj) {
                let self = this;
                let _ma = this.$refs.ma;
                _ma.dataMail_temp = _.cloneDeep(_ma.modelMail_create);
                _ma.dataMail_temp = obj;
                _ma.status = 'Edit';
                _ma.modalTitle = "Edit Mail Template";
                _ma.errors = [];
                $("#frmMa").modal('show');
            },
            DeleteData(obj) {
                let self = this;

                var r = confirm("Are you sure to delete this item?");

                if (r == true) {
                    _Ajax("/LegalSystem_DEV/MailSetup/DeleteData",
                        {
                            model: obj
                        }, null, function (res) {
                            toastr.success(res);
                            tableMail.fnDraw();
                        });
                }
            }
        },
        mounted() {
            let self = this;

            self.InitialData();
            self.ListMailTypeData();
        },
    });
</script>
