﻿<template id="datepicker-template">
    <input type="text"  class="form-control datepicker" autocomplete="off" />
</template>

<script>
    var dateComponent = Vue.component('datepicker-component', {
        props: ['value', 'startdate', 'enddate', 'allowclear'],
        template: '#datepicker-template',
        mounted: function () {
            var self = this;

            $(self.$el).datepicker({
                //language: "th",
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                todayBtn: false,
                language: 'th-th',             //เปลี่ยน label ต่างของ ปฏิทิน ให้เป็น ภาษาไทย   (ต้องใช้ไฟล์ bootstrap-datepicker.th.min.js นี้ด้วย)
                thaiyear: true              //Set เป็นปี พ.ศ.
            });

            $(self.$el).change(function () {
                self.$emit('input', $(this).val());
            });

            if (moment(this.value, ["DD/MM/YYYY", moment.ISO_8601]).isValid()) {
                let currentValue = moment(this.value, ["DD/MM/YYYY", moment.ISO_8601]).format('DD/MM/YYYY')
                $(this.$el).datepicker('update', currentValue)
            }


            self.setStartDate(self.startdate);
            self.setEndDate(self.enddate);
        },
        watch: {
           
            startdate: function (startdate) {
                this.setStartDate(startdate);
            },
            enddate: function (enddate) {
                this.setEndDate(enddate);
            },
            value: function (newValue, oldValue) {
            
                
                if (!_.isUndefined(this.allowclear)
                    && ((newValue == "" || newValue == undefined || newValue == null)
                        && !this.allowclear)) {
                    let todayDate = moment().format('DD/MM/YYYY');
                    $(this.$el).val('');
                }
                else {
                    if (newValue == null || newValue == undefined) {
                        $(this.$el).val('');
                    }
                    else {
                    
                        let currentValue = moment(newValue, ["DD/MM/YYYY", moment.ISO_8601]).format('DD/MM/YYYY');
                        $(this.$el).datepicker('update', currentValue);
                    }
                    //else if (moment(newValue, ["DD/MM/YYYY", moment.ISO_8601]).isValid()) {
                    //    let currentValue = moment(newValue, ["DD/MM/YYYY", moment.ISO_8601]).format('DD/MM/YYYY');
                    //    $(this.$el).datepicker('update', currentValue);
                    //}
                }
            }
        },
        methods: {
            setStartDate: function (startdate) {
               if (!_.isEmpty(startdate) && startdate != null && startdate != undefined) {
                    $(this.$el).datepicker('setStartDate', startdate);
                } else {
                    $(this.$el).datepicker('setStartDate', false);
                }
            },
            setEndDate: function(enddate) {
                if (!_.isEmpty(enddate) && enddate != null && enddate != undefined) {
                    $(this.$el).datepicker('setEndDate', enddate);
                } else {
                    $(this.$el).datepicker('setEndDate', false);
                }
            }
        },
        destroy() {
            this.$destroy();
        }
    });
</script>
