﻿@using TCRB.Securities;
@using LegalSystem.Extensions;

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Legal System</title>

    @*@Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")*@

    <link href="/LegalSystem_DEV/Content/font/font-awesome.css" rel="stylesheet" />
    <link href="/LegalSystem_DEV/Content/Site.css" rel="stylesheet" />
    <link href="/LegalSystem_DEV/Content/bootstrap-plugin-pages.css" rel="stylesheet" />
    <link href="/LegalSystem_DEV/Content/vendor/material-dashboard.css" rel="stylesheet" />
    <link href="/LegalSystem_DEV/Content/plugin/select2.min.css" rel="stylesheet" />
    <link href="/LegalSystem_DEV/Content/plugin/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="/LegalSystem_DEV/Content/plugin/toastr.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/LegalSystem_DEV/plugins/datatables-bs4/css/dataTables.bootstrap4.css" />
    <link rel="stylesheet" href="/LegalSystem_DEV/plugins/summernote/summernote-bs4.css">
    <!-- Select2 -->
    <link href="/LegalSystem_DEV/plugins/select2/css/select2.min.css" rel="stylesheet" />

    @if (IsSectionDefined("Styles"))
    {
        @RenderSection("Styles", required: false)
    }
</head>
<body>

    <div class="se-pre-con" style="display:none"></div>
    <div class="wrapper sidebar-mini ">

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column" style="padding-bottom: 3em">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <nav class="navbar fixed-top" style="height: 6%">

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>
                        <!-- Nav Item - User Information -->
                        <form class="navbar-form">
                            <div class="input-group no-border">
                                <div class="mt-2 mx-2 mr-4 ">
                                    <i class="fa fa-user mx-2"></i>
                                    @(((UserIdentity)Session["UserLogin"]).TH_Name)
                                </div>
                            </div>
                        </form>
                    </ul>
                </nav>
            </div>
        </div>

        <!-- End of Content Wrapper -->
        <div class="sidebar" data-color="azure" data-background-color="black">
            <div class="sidebar-wrapper">
                <div class="logo simple-text" style="margin-left: 6px;">
                    <a href="/LegalSystem_DEV/Pages/InboxPage.aspx" class="simple-text">
                        <img src="/LegalSystem_DEV/Images/TCR_Logo_Fish.png" />
                        <img src="/LegalSystem_DEV/Images/TCR_Logo.png" style="height: 55px" />
                    </a>
                </div>


                @Html.Navigation()

                <ul class="nav collapse" style="display:none;">
                    <li id="liCreateRequest" runat="server" class="nav-item">
                        <a class="nav-link" href="/LegalSystem_DEV/Pages/RequestPage.aspx">
                            <i class="fa fa-plus"></i>
                            <p>Create Request</p>
                        </a>
                    </li>
                    <li id="liInbox" runat="server" class="nav-item">
                        <a class="nav-link" href="/LegalSystem_DEV/Pages/InboxPage.aspx">
                            <i class="fa fa-inbox"></i>
                            <p>Inbox</p>
                        </a>
                    </li>
                    <li id="liRequestInbox" runat="server" class="nav-item" visible="false">
                        <a class="nav-link" href="/LegalSystem_DEV/Pages/InboxPage.aspx?CaseEdit=Y">
                            <i class="fa fa-bell"></i>
                            <p>Request Inbox</p>
                        </a>
                    </li>
                    <li id="liworklist" runat="server" class="nav-item" visible="false">
                        <a class="nav-link" href="/LegalSystem_DEV/Pages/WorkListPage.aspx">
                            <i class="fa fa-briefcase"></i>
                            <p>Worklist</p>
                        </a>
                    </li>
                    <li id="liInquiryRequest" runat="server" class="nav-item">
                        <a class="nav-link" href="/LegalSystem_DEV/Pages/InquiryPage.aspx">
                            <i class="fa fa-building-o"></i>
                            <p>Inquiry Request</p>
                        </a>
                    </li>
                    <li id="liPoolInbox" runat="server" class="nav-item">
                        <a class="nav-link" href="/LegalSystem_DEV/Pages/InboxPoolPage.aspx">
                            <i class="fa fa-inbox"></i>
                            <p>Pool Inbox</p>
                        </a>
                    </li>
                    <li id="liAssign" runat="server" class="nav-item">
                        <a class="nav-link" href="/LegalSystem_DEV/Pages/AssignPage.aspx">
                            <i class="fa fa-briefcase"></i>
                            <p>Assign Lawyer</p>
                        </a>
                    </li>
                    <li id="liRequestOper" runat="server" class="nav-item" visible="false">
                        <a class="nav-link " data-toggle="collapse" href="#collapseRequestOper" aria-expanded="false" aria-controls="collapseRequestOper">
                            <i class="fa fa-mail-forward @* fa-file*@"></i>
                            <p class="dropdown-toggle">Request Oper</p>
                        </a>
                        <div class="collapse" id="collapseRequestOper">
                            <ul class="nav nav-item">
                                <li id="liReqDoc" runat="server" class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/RequestOperPage.aspx?reqMode=DocOper">
                                        @* <span class="sidebar-mini">RD</span>*@
                                        <span class="sidebar-normal">Request Doc to Oper</span>
                                    </a>
                                </li>
                                <li id="liReqOS" runat="server" class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/RequestOperPage.aspx?reqMode=OSOper">
                                        @* <span class="sidebar-mini">RO</span>*@
                                        <span class="sidebar-normal">Request OS to Oper</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="liTray" runat="server" class="nav-item">
                        <a class="nav-link" data-toggle="collapse" href="#collapseTray" aria-expanded="false" aria-controls="collapseTray">
                            <i class="fa fa-file"></i>
                            <p class="dropdown-toggle">Tray</p>
                        </a>
                        <div class="collapse" id="collapseTray">
                            <ul class="nav">
                                <li id="liTray1" runat="server" class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Tray/Tray1">
                                        <span class="sidebar-mini">T1</span>
                                        <span class="sidebar-normal">รับเรื่องดำเนินคดี</span>
                                    </a>
                                </li>
                                <li id="liTray2" runat="server" class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Tray/Tray2">
                                        <span class="sidebar-mini">T2</span>
                                        <span class="sidebar-normal">ออกหนังสือทวงถาม</span>
                                    </a>
                                </li>
                                <li id="liTray3" runat="server" class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Tray/Tray3">
                                        <span class="sidebar-mini">T3</span>
                                        <span class="sidebar-normal">อยุ่ระหว่างพิจารณาคดี</span>
                                    </a>
                                </li>
                                <li id="liTray4" runat="server" class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Tray/Tray4">
                                        <span class="sidebar-mini">T4</span>
                                        <span class="sidebar-normal">บังคับคดี</span>
                                    </a>
                                </li>
                                <li id="liTray5" runat="server" class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Tray/Tray5">
                                        <span class="sidebar-mini">T5</span>
                                        <span class="sidebar-normal">สืบทรัพย์/ยึดทรัพย์</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="liReports" runat="server" class="nav-item">
                        <a class="nav-link " data-toggle="collapse" href="#collapseReport" aria-expanded="false" aria-controls="collapseReport">
                            <i class="fa fa-file"></i>
                            <p class="dropdown-toggle">Reports</p>
                        </a>
                        <div class="collapse" id="collapseReport">
                            <ul class="nav ">
                                <li class="nav-item">
                                    <a class="nav-link">
                                        @*  href="/LegalSystem_DEV/Pages/Reports/.aspx"*@
                                        <span class="sidebar-mini">R1 </span>
                                        <span class="sidebar-normal">Report1 </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        @*  href="/LegalSystem_DEV/Pages/Reports/.aspx"*@
                                        <span class="sidebar-mini">R2 </span>
                                        <span class="sidebar-normal">Report2 </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link">
                                        @*  href="/LegalSystem_DEV/Pages/Reports/Report3.aspx"*@
                                        <span class="sidebar-mini">R3 </span>
                                        <span class="sidebar-normal">Report3 </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li id="liSetting" runat="server" class="nav-item">
                        <a class="nav-link " data-toggle="collapse" href="#collapseSetting" aria-expanded="false" aria-controls="collapseSetting">
                            <i class="fa fa-cogs" style="padding-right: 10px"></i>
                            <p class="dropdown-toggle">Setting</p>
                        </a>

                        <div class="collapse" id="collapseSetting" style="max-height: 300px; overflow-y: scroll;">
                            <ul class="nav ">
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Master/RequestTypePage.aspx">
                                        <span class="sidebar-mini">RT</span>
                                        <span class="sidebar-normal">Request Type </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Master/DocumentTypePage.aspx">
                                        <span class="sidebar-mini">DT</span>
                                        <span class="sidebar-normal">Document Type </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Master/DocumentTypeMappingPage.aspx">
                                        <span class="sidebar-mini">DM</span>
                                        <span class="sidebar-normal">Document Type Mapping</span>
                                    </a>
                                </li>
                                @*  พื้นที่เขตศาล *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Master/CourtZonePage.aspx">
                                        <span class="sidebar-mini">CZ </span>
                                        <span class="sidebar-normal">Court Zone </span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Master/ProductDetailPage.aspx">
                                        <span class="sidebar-mini">PD</span>
                                        <span class="sidebar-normal">Product Detail</span>
                                    </a>
                                </li>
                                @* Product เหมาจ่าย*@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Master/ProductFixPaymentPage.aspx">
                                        <span class="sidebar-mini">PF</span>
                                        <span class="sidebar-normal">Product เหมาจ่าย</span>
                                    </a>
                                </li>
                                @*  บริษัทกฎหมาย,OA/IA *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Master/LawyerOAPage.aspx">
                                        <span class="sidebar-mini">OA </span>
                                        <span class="sidebar-normal">OA/IA </span>
                                    </a>
                                </li>
                                @*Mail Template*@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Master/MailConfig.aspx">
                                        @*<span class="sidebar-mini">MT </span>*@
                                        <i class="fa fa-envelope-o" style="padding-right:2em"></i>
                                        <span class="sidebar-normal">Mail Template</span>
                                    </a>
                                </li>

                                @*  ประเภท ทนาย *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=AN">
                                        <span class="sidebar-mini">AN </span>
                                        <span class="sidebar-normal">Attorney Type </span>
                                    </a>
                                </li>
                                @*  ประเภท ทรัพย์สิน *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=AT">
                                        <span class="sidebar-mini">AT </span>
                                        <span class="sidebar-normal">Asset Type </span>
                                    </a>
                                </li>

                                @*  ประเภท Court Judgement เช่น 1:ทนายนอก/ค่าประสานงาน *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=CJ">
                                        <span class="sidebar-mini">CJ </span>
                                        <span class="sidebar-normal">Court Judgement </span>
                                    </a>
                                </li>

                                @*  ข้อมูลค่าธรรมเนียมตามประเภทศาลและทุนทรัพย์ จำกัด Maximum Limit *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/CourtFee.aspx">
                                        <span class="sidebar-mini">CF </span>
                                        <span class="sidebar-normal">Court Fee </span>
                                    </a>
                                </li>
                                @*  ประเภท CourtRate *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/CourtRate.aspx">
                                        <span class="sidebar-mini">CO </span>
                                        <span class="sidebar-normal">Court Rate </span>
                                    </a>
                                </li>
                                @*  ประเภท Cover Page เช่น 1:ต้นฉบับ/สำเนา,ฉบับที่ 2:ต้นฉบับ/สำเนา,ลงวันที่ 3:ต้นฉบับ/สำเนา,ฉบับที่,ลงวันที่ *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=CP">
                                        <span class="sidebar-mini">CP </span>
                                        <span class="sidebar-normal">Cover Page Type </span>
                                    </a>
                                </li>
                                @*  ประเภท Cost Type เช่น 1:ทนายนอก/ค่าประสานงาน *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingMapping.aspx?type=CT">
                                        <span class="sidebar-mini">CS </span>
                                        <span class="sidebar-normal">Cost Type </span>
                                    </a>
                                </li>
                                @*  ประเภท Cover Page เช่น 1:ต้นฉบับ/สำเนา,ฉบับที่ 2:ต้นฉบับ/สำเนา,ลงวันที่ 3:ต้นฉบับ/สำเนา,ฉบับที่,ลงวันที่ *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=CT">
                                        <span class="sidebar-mini">CT </span>
                                        <span class="sidebar-normal">Court Type </span>
                                    </a>
                                </li>
                                @*  ประเภท CapitalRate *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/CapitalRate.aspx">
                                        <span class="sidebar-mini">CR </span>
                                        <span class="sidebar-normal">Capital Rate </span>
                                    </a>
                                </li>
                                @*  Mapping ประเภท Cover Page กับ Document(Type=CoverPage) *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingMapping.aspx?type=CD">
                                        <span class="sidebar-mini">CD </span>
                                        <span class="sidebar-normal">Mapping Cover Page & Document </span>
                                    </a>
                                </li>

                                @*  ประเภท Document เช่น 1:First Letter,N 2:หนังสือส่งดำเนินคดี ไม่มีหลักประกัน,N 35:หนังสือขอให้ดำเนินคดีของฝ่ายเก็บเงินและเร่งรัดหนี้สิน,C *@
                                @*
                                    <li class="nav-item">
                                        <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingMapping.aspx?type=DT">
                                            <span class="sidebar-mini">DT </span>
                                            <span class="sidebar-normal">Document Type </span>
                                        </a>
                                    </li>*@
                                @*  ค่าฤชา ค่าธรรมเนียม *@
                                @*
                                    <li class="nav-item">
                                        <a class="nav-link" href="/LegalSystem_DEV/Pages/Setting/ExecutionCosts.aspx">
                                            <span class="sidebar-mini">EC </span>
                                            <span class="sidebar-normal">Execution Costs </span>
                                        </a>
                                    </li>*@
                                @*  Setting Email and Signature *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Setting/SettingEmailAndSignature.aspx">
                                        <span class="sidebar-mini">ES </span>
                                        <span class="sidebar-normal">Setting Email and Signature </span>
                                    </a>
                                </li>
                                @*  Fee *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=FE">
                                        <span class="sidebar-mini">FE </span>
                                        <span class="sidebar-normal">Fee Type </span>
                                    </a>
                                </li>

                                @*  Mapping ข้อมูล Request Type และ Legal Status *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingMapping.aspx?type=LM">
                                        <span class="sidebar-mini">LM </span>
                                        <span class="sidebar-normal">Legal Status Mapping </span>
                                    </a>
                                </li>
                                @*  จัดชั้นค่าใช้จ่ายทรายความ *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Setting/LawyerCostsTier.aspx">
                                        <span class="sidebar-mini">LT </span>
                                        <span class="sidebar-normal">Lawyer Costs Tier </span>
                                    </a>
                                </li>
                                @*  แบ่งงวดค่าใช้จ่ายทรายความ (เหมาจ่าย,ตามทุนทรัพย์) *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Setting/LawyerCostsPeroid.aspx">
                                        <span class="sidebar-mini">LP </span>
                                        <span class="sidebar-normal">Lawyer Costs Peroid </span>
                                    </a>
                                </li>
                                @*  เหตุผลแยกตามประเภท *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingMapping.aspx?type=LS">
                                        <span class="sidebar-mini">MR </span>
                                        <span class="sidebar-normal">Mapping Reason Request </span>
                                    </a>
                                </li>
                                @*  Product Type *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=PD">
                                        <span class="sidebar-mini">PD </span>
                                        <span class="sidebar-normal">Product Type </span>
                                    </a>
                                </li>
                                @*  Plaintiff *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Setting/Plaintiff.aspx">
                                        <span class="sidebar-mini">PL </span>
                                        <span class="sidebar-normal">Plaintiff </span>
                                    </a>
                                </li>
                                @*  ประเภทสินเชื่อ product และ flagเหมาจ่าย *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Setting/ProductPayment.aspx">
                                        <span class="sidebar-mini">PP </span>
                                        <span class="sidebar-normal">Product Payment </span>
                                    </a>
                                </li>
                                @*  payment type *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=PT">
                                        <span class="sidebar-mini">PT </span>
                                        <span class="sidebar-normal">Payment Type </span>
                                    </a>
                                </li>

                                @*  Mapping ประเภท Request Type กับ Document(Type=Normal) *@โ
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingMapping.aspx?type=RD">
                                        <span class="sidebar-mini">RD </span>
                                        <span class="sidebar-normal">Mapping Request & Document </span>
                                    </a>
                                </li>
                                @*  Relation *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/Setting/Relation.aspx">
                                        <span class="sidebar-mini">RL </span>
                                        <span class="sidebar-normal">Relation </span>
                                    </a>
                                </li>
                                @*  Request Reason Mapping *@
                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingMapping.aspx?type=LM">
                                        <span class="sidebar-mini">RM </span>
                                        <span class="sidebar-normal">Mapping Request Reason & Request Type </span>
                                    </a>
                                </li>
                                @*  เหตุผล *@

                                <li class="nav-item">
                                    <a class="nav-link" href="/LegalSystem_DEV/Pages/SettingType.aspx?type=RR">
                                        <span class="sidebar-mini">RR </span>
                                        <span class="sidebar-normal">Reason Request </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="nav-item">

                        <a id="logout" class="nav-link" href="/LegalSystem_DEV/Login.aspx">
                            <i class="fa fa-lock"></i>
                            <p>Logout</p>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="sidebar-background" style="background-color: #004f58"></div>
        </div>

        <div class="main-panel">
            @* navbar-fixed-top*@ @* navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top*@
            <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <a class="navbar-brand " href="#pablo"></a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                        <span class="navbar-toggler-icon icon-bar"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end">
                    </div>
                </div>
            </nav>

            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <div class="copyright float-right">
                        &copy;
                        <script type="text/html">
                            document.write(new Date().getFullYear())

                        </script>
                        , by
                        <a href="#" target="_blank">Thai Credit Retail Bank Creative Tim</a> for a better web.
                        @* ADD 2019-09-13*@
                        @* <a class="scroll-to-top rounded" href="#page-top">
                                <i class="fa fa-angle-up fa-2x"></i>
                            </a>*@
                    </div>
                </div>


            </footer>

        </div>
    </div>

    <script src="/LegalSystem_DEV/Scripts/jsSwal.js"></script>
    <script src="/LegalSystem_DEV/Scripts/jquery1-1.12.0.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/jquery-ul.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/tether.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/bootstrap.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/modernizr-2.6.2.js"></script>
    <script src="/LegalSystem_DEV/Scripts/bootstrap-input-spinner.js"></script>
    <script src="/LegalSystem_DEV/Scripts/plugin/bootstrap-datepicker.js"></script>
    <script src="/LegalSystem_DEV/Scripts/plugin/bootstrap-datepicker-custom.js"></script>
    <script src="/LegalSystem_DEV/Scripts/plugin/bootstrap-datepicker.th.min.js"></script>
    <!-- Select2 -->
    <script src="/LegalSystem_DEV/plugins/select2/js/select2.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/plugin/toastr.js"></script>
    <script src="/LegalSystem_DEV/plugins/datatables/jquery.dataTables.js"></script>
    <script src="/LegalSystem_DEV/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>
    <script src="/LegalSystem_DEV/plugins/summernote/summernote-bs4.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/vendor/popper.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/vendor/bootstrap-material-design.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/vendor/bootstrap-notify.js"></script>
    <script src="/LegalSystem_DEV/Scripts/vendor/material-dashboard.min.js"></script>
    <script src="/LegalSystem_DEV/Scripts/Site.js"></script>
    <script src="/LegalSystem_DEV/Scripts/vue.js"></script>
    <script src="/LegalSystem_DEV/Scripts/lodash.js"></script>
    <script src="/LegalSystem_DEV/Scripts/moment-with-locales.js"></script>
    <script src="/LegalSystem_DEV/Scripts/Customs.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>