﻿<template id="select2-single-template">
    <select style="width:100%">
        <slot></slot>
    </select>
</template>
<script>
    Vue.component('select2-single', {
        props: ['options', 'value', 'allowclear', 'placeholdermesssage', 'editing', 'defaultselected'],
        template: '#select2-single-template',
        mounted: function () {
            var self = this
            self.flagallowclear = (isNull(self.allowclear)) ? true : self.allowclear;
            self.strplaceholder = (!isNull(self.placeholdermesssage)) ? self.placeholdermesssage : '';

            $(self.$el)
                // init select2
                .select2({
                    data: self.options,
                    allowClear: self.flagallowclear,
                    placeholder: self.strplaceholder
                })
                .val(self.value)
                .trigger('change')
                // emit event on change.
                .on('change', function () {
                    self.$emit('input', $(this).val());
                });

            if (self.defaultselected && isNull(self.val)) {
                let selected = _.find(self.options, function (o) { return o.selected; });
                if (!isNull(selected)) {
                    $(this.$el).val(selected.id).trigger('change');
                }
            }

            //this.editingSetHilight();
        },
        data: function () {
            return {
                flagallowclear: false,
                strplaceholder: 'All'
            }
        },
        methods: {
            editingSetHilight: function () {
                if (!isNull(this.editing) && this.editing) {
                    $(this.$el).parent().find('span').addClass("text-red");
                }
            }
        },
        watch: {
            value: function (value) {
                $(this.$el).val(value).trigger('change');
                this.$emit('onchange', value);
            },
            options: function (options) {
                var self = this;
                $(this.$el).empty();
                $(this.$el).select2({
                    data: options,
                    allowClear: self.flagallowclear,
                    placeholder: self.strplaceholder
                }).val(this.value).trigger('change');
                this.editingSetHilight();
            },
            editing: function (value) {
                if (!isNull(value)) {
                    if (value) {
                        $(this.$el).parent().find('span').addClass("text-red");
                    } else {
                        $(this.$el).parent().find('span').removeClass("text-red");
                    }
                } else {
                    $(this.$el).parent().find('span').removeClass("text-red");
                }
            }
        },
        destroyed: function () {
            $(this.$el).off().select2('destroy')
        },
        //inject: ['$validator'],
    });</script>

