﻿@using Newtonsoft.Json
@using LegalData;
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelAN = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-AuctionNew">
     <div class="modal fade bd-example-modal-lg" id="frmAN" tabindex="-1" role="dialog" data-backdrop="static"   aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                    <button type="button" class="close" v-on:click= "FromModalClose('frmAN');"  aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่ประกาศขาย</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="dataAuctionNew_temp.SellDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">Remark</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="dataAuctionNew_temp.Remark" />

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -10px;margin-bottom: 5px;">
                        <div class="col-md-3 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">แนบประกาศขาย</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" v-on:click="addDataUploadModal();"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="margin-bottom:1%;">
                                <div class="container col-md-12 text-center">
                                    <div class="material-datatables table-responsive">
                                        <table id="gvAnUpload" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bold;font-size: small;">No</th>
                                                    <th style="font-weight: bold;font-size: small;">FileName</th>
                                                    <th style="font-weight: bold;font-size: small;">FileType</th>
                                                    <th style="font-weight: bold;font-size: small;">View</th>
                                                    <th style="font-weight: bold;font-size: small;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -10px;margin-bottom: 5px;">
                        <div class="col-md-3 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">รายละเอียด</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" v-on:click="addDataAssetDescModal();"><i class="fa fa-plus"></i>&nbsp;เพิ่มรายละเอียด</button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="margin-bottom:1%;">
                                <div class="container col-md-12 text-center">
                                    <div class="material-datatables table-responsive">
                                        <table id="gvAnAssetDesc" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bold;font-size: small;">No</th>
                                                    <th style="font-weight: bold;font-size: small;">ประเภท</th>
                                                    <th style="font-weight: bold;font-size: small;">เลขที่โฉนด</th>
                                                    <th style="font-weight: bold;font-size: small;">จังหวัด</th>
                                                    <th style="font-weight: bold;font-size: small;">อำเภอ</th>
                                                    <th style="font-weight: bold;font-size: small;">ตำบล</th>
                                                    <th style="font-weight: bold;font-size: small;">ที่อยู่</th>
                                                    <th style="font-weight: bold;font-size: small;">Edit</th>
                                                    <th style="font-weight: bold;font-size: small;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note" style="font-weight: bold">ข้อมูลแต่ละแปลง</span>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่บุคคลภายนอกซื้อ</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="dataAuctionNew_temp.OutsiderBuyDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">จำนวนที่ขายได้</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:25px">
                            <number-component v-model.number="dataAuctionNew_temp.SellAmount">
                            </number-component>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่ธนาคารซื้อทรัพย์</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="dataAuctionNew_temp.BankBuyDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">ราคาที่ธนาคารซื้อ</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:25px">
                            <number-component v-model.number="dataAuctionNew_temp.BankBuyPrice">
                            </number-component>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่รับเงินจากการขาย</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="dataAuctionNew_temp.ReceiveMoneySellDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">บัญชีรับ-จ่าย/จำนวนเงินที่รับ</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:25px">
                            <number-component v-model.number="dataAuctionNew_temp.ReceiveAmount">
                            </number-component>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">Remark</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="dataAuctionNew_temp.Remark2" />
                            </div>
                        </div>
                      
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">ราคา</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <number-component v-model.number="dataAuctionNew_temp.Price">
                                </number-component>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">ราคาที่บอร์ดอนุมัติซื้อ</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:25px">
                            <number-component v-model.number="dataAuctionNew_temp.BoardBuyPriceApproved">
                            </number-component>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                          
                        </div>
                        <div class="col-md-2">
                          
                        </div>
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">ราคาที่บอร์ดอนุมัติขาย</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2" style="margin-top:25px">
                            <number-component v-model.number="dataAuctionNew_temp.BoardSellPriceApproved">
                            </number-component>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" v-on:click="SubmitDataAuctionNew();"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-fill btn-default" v-on:click="ClearDataModal('frmAN');"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                </div>
            </div>
        </div>

        <!-- Modal FindAsset -->
        <div class="modal fade bd-example-modal-lg" id="frmAnfaDesc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitleDesc }}</h5>
                        <button type="button" class="close" v-on:click="FromModalClose('frmAnfaDesc');" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p v-if="errors.length">
                            <b class="text-danger">Please correct the following error(s):</b>
                            <ul>
                                <li v-for="error in errors" class="text-danger">{{ error }}</li>
                            </ul>
                        </p>
                        <div class="row" style="margin-top: -40px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ประเภท</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <select class="form-control" v-model="datafindAssetDesc_temp.AssetType">
                                        <option :value="null">-- Please Select --</option>
                                        <option v-for="(item, index) in listAssetType" :key="index" v-bind:value="item.Value">
                                            {{ item.Text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">จังหวัด</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <select class="form-control" v-model="datafindAssetDesc_temp.AssetProvince">
                                        <option :value="null">-- Please Select --</option>
                                        <option v-for="(item, index) in listProvince" :key="index" v-bind:value="item.Value">
                                            {{ item.Text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">เลขที่โฉนด</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetNo" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">อำเภอ</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetDistrict" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ตำบล</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetSubDistrict" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 5px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ที่อยู่</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetAddress" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" v-on:click="SubmitDataAssetDescModal();"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        <button type="button" class="btn btn-fill btn-default" v-on:click="ClearDataModal('frmAnfaDesc');"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Upload-->
        <div class="modal fade bd-example-modal-lg" id="frmAnUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitleUpload }}</h5>
                        <button type="button" class="close" v-on:click="FromModalClose('frmAnUpload');" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <uploadfile-component :list_fileupload="Anfileuploads" v-on:get_fileupload="get_FileUploadx($event)">
                        </uploadfile-component>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>


   </div>
</template>

<script>
    var tableAnAssetDesc;
    var tableAnUpload;
    var anComponent = Vue.component('an-component', {
        template: '#legal-AuctionNew',
        mounted() {
            let self = this;

            self.InitialData();
        },
        data: function () {
            return {
                Anfileuploads: [],
                modalTitle: '',
                modalTitleUpload: '',
                modalTitleDesc: '',
                status: '',
                errors: [],
                model_an: JSON.parse('@modelAN'),
                dataAuctionNew_temp: {},
                Modal_AuctionNew: @Html.Raw(JsonConvert.SerializeObject(new trAuctionNew { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                dataUpload_temp: {},
                Modal_Upload: @Html.Raw(JsonConvert.SerializeObject(new ScanDocument { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                datafindAssetDesc_temp: {},
                Modal_findAssetDesc: @Html.Raw(JsonConvert.SerializeObject(new AssetDesc { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                listProvince: [],
                listAssetType: [],
                isAnSave: false
            }
        },
        methods: {
            InitialData: function () {
                let self = this;

                self.dataAuctionNew_temp = _.cloneDeep(self.Modal_AuctionNew);

                self.LoadListAssetType();
                self.LoadListProvince();

                //Call Data Table AssetDesc
                tableAnAssetDesc = $("#gvAnAssetDesc").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 5,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryfindAssetDesc",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, fid: self.dataAuctionNew_temp.f_ID
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "AssetTypeName" },
                        { data: "AssetNo" },
                        { data: "Province" },
                        { data: "AssetDistrict" },
                        { data: "AssetSubDistrict" },
                        { data: "AssetAddress" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-edit"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-trash"></i></a>';
                            }
                        }


                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableAnAssetDesc.fnGetData($(this).parents('tr')[0]);
                    self.editDataAssetDescModal(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableAnAssetDesc.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataAssetDesc(dataRow);
                });

                //Call Data Table Upload
                tableAnUpload = $("#gvAnUpload").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 5,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryFileUpload",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, fid: self.dataAuctionNew_temp.f_ID
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "ScanDocName" },
                        { data: "File_Type" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-file-code-o"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-trash"></i></a>';
                            }
                        }


                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableAnUpload.fnGetData($(this).parents('tr')[0]);
                    self.ViewFileUpload(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableAnUpload.fnGetData($(this).parents('tr')[0]);
                    self.deleteUploadFile(dataRow);
                });

            },
            ClearDataModal: function (frm) {
                let self = this;

                debugger;
                switch (frm) {
                    case 'frmAnfaDesc':
                        self.datafindAssetDesc_temp = _.cloneDeep(self.Modal_AuctionNewDesc)
                        break;
                    default:
                        self.dataAuctionNew_temp = _.cloneDeep(self.Modal_AuctionNew);
                        break;
                }

            },
            
            
            FromModalClose: function (frm) {
                let self = this;
                let status = self.modalTitle.substring(0, 4).trim();
                switch (frm) {
                    case 'frmAN':
                        debugger;
                        if ((self.isAnSave == false && status == 'Add')
                            && (tableAnAssetDesc.DataTable().rows().count() > 0
                            || tableAnUpload.DataTable().rows().count() > 0)) {
                            toastr.error('กรุณากด save ก่อนปิดหน้าจอ');
                        }
                        else {
                            $('#' + frm).modal('hide');
                        }
                        break;
                    default:
                        $('#' + frm).modal('hide');
                        break;
                }
            },
            addDataAssetDescModal: function () {
                let self = this;
                debugger;
                _.assign(self.datafindAssetDesc_temp, self.Modal_findAssetDesc);
                self.datafindAssetDesc_temp.f_ID = self.dataAuctionNew_temp.f_ID;
                self.status = 'Add'
                self.modalTitleDesc = 'เพิ่มรายละเอียดทรัพย์ที่พบ';
                self.errors = [];

                $("#frmAnfaDesc").modal('show');
            },
            editDataAssetDescModal: function (obj) {
                let self = this;

                self.datafindAssetDesc_temp = obj;
                self.status = 'Edit'
                self.modalTitleDesc = 'แก้ไขรายละเอียดทรัพย์ที่พบ';
                self.errors = [];

                $("#frmAnfaDesc").modal('show');

            },
            LoadListAssetType: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListAssetType",
                    {}, null, function (res) {
                        self.listAssetType = res;
                    });
            },
            LoadListProvince: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListProvince",
                    {}, null, function (res) {
                        self.listProvince = res;
                    });
            },
            SubmitDataAssetDescModal: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeAssetDesc",
                    {
                        model: self.datafindAssetDesc_temp,
                        status: self.status
                    }, null, function (res) {
                        debugger;
                        toastr.success(res);
                        tableAnAssetDesc.fnDraw();
                        $('#frmAnfaDesc').modal('hide');
                    });
            },
            
            addDataUploadModal: function () {
                let self = this;

                _.assign(self.dataUpload_temp, self.Modal_Upload);
                self.dataUpload_temp.f_ID = self.dataAuctionNew_temp.f_ID;
                self.status = 'Add'
                self.modalTitleUpload = 'แนบไฟล์สิ่งที่สืบพบ';

                $("#frmAnUpload").modal('show');
            },
            get_FileUploadx: function (fileupload) {
                let self = this;

                self.Safileuploads = fileupload;
                this.destroyComponent = false;

                _Ajax("/LegalSystem_DEV/LegalTab/UploadData",
                    {
                        files: fileupload,
                        model: self.dataUpload_temp
                    }, null, function (res) {
                        toastr.success(res);
                        tableAnUpload.fnDraw();
                        $("#frmAnUpload").modal('hide');
                    });
            },
            ViewFileUpload: function (obj) {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/SelectDataView",
                    {
                        model: obj
                    }, null, function (res) {
                        debugger;
                        window.open("@Url.RouteUrl(new {
                                                Controller = "LegalTab", Action = "Download"
                                            })/?strfilename=" + res.filename + "&contype=" + res.type + "&path=" + res.filepath, '_blank')
                    });
            },
            deleteUploadFile: function (obj) {
                let self = this;

                var r = confirm("Are you sure to delete this item?");

                if (r == true) {
                    _Ajax("/LegalSystem_DEV/LegalTab/DeleteFileUpload",
                        {
                            model: obj
                        }, null, function (res) {
                            toastr.success(res);
                            tableAnUpload.fnDraw();
                        });
                }
            },
            deleteDataAssetDesc: function (obj) {
                let self = this;
                var r = confirm("Are you sure to delete this item?");

                if (r == true) {
                    _Ajax("/LegalSystem_DEV/LegalTab/DeleteDataAccessDesc",
                        {
                            model: obj
                        }, null, function (res) {
                            toastr.success(res);
                            tableAnAssetDesc.fnDraw();
                        });
                }
            },
            ValidateDataAuctionNew: function () {
                let self = this;

                self.errors = [];

                if (isNull(self.dataAuctionNew_temp.SellDate)) {
                    self.errors.push("วันที่ประกาศขาย is required.");
                }

                if (isNull(self.dataAuctionNew_temp.Remark)) {
                    self.errors.push("Remark is required.");
                }

                if (!self.errors.length) {
                    return true
                }
                else {
                    return false
                }

            },
            SubmitDataAuctionNew: function () {
                let self = this;

                if (self.ValidateDataAuctionNew()) {

                    _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeAuctionNew",
                        {
                            model: self.dataAuctionNew_temp,
                            status: self.status
                        }, null, function (res) {
                            toastr.success(res);
                            self.isAnSave = true;
                            tableAuctionNew.fnDraw();
                            $('#frmAN').modal('hide');
                        });
                }
                else {
                    let tabError = self.errors.join('</br> ');
                    toastr.error(tabError);
                }
            },
        },

    });
</script>