﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model LegalSystem.Model.LegalTabViewModel

@{
 

    var viewModel = Html.Raw(
         HttpUtility.JavaScriptStringEncode(
            JsonConvert.SerializeObject(Model.DocumentExtension)
            , false)
    );
}

<template id="button-template">
    <div class="form-group mb">
        <div class="col-xs-12">

            <button class="btn btn-outline-primary" style="margin-left:5px;" type="button" v-for="action in actions" v-on:click="btnClick(action)"  :disabled="action.IsDisable" >
                <i v-bind:class="btnCss"></i>&nbsp;{{action.TrayActionName}}
            </button>

            <modal-printpreview v-if="isPrintForm" v-on:close="closePrintForm()" v-bind:action="action">
                <h3 slot="header">{{action.TrayActionName}} Document</h3>
            </modal-printpreview>

            <modal-firstletter v-if="isFirstLetterForm" v-on:close="isFirstLetterForm=false">
                <h3 slot="header">{{action.TrayActionName}} Document</h3>
            </modal-firstletter>

            <modal-coverpage v-if="isCoverPageForm" v-on:close="isCoverPageForm=false" ref="modal-coverpage">
                <h3 slot="header">{{action.TrayActionName}} Document</h3>
            </modal-coverpage>

        </div>
    </div>
</template>

<script src="~/Scripts/App/Legal.js"></script>
<script src="~/Scripts/App/Controller/TrayAction.js"></script>
<script src="~/Scripts/Tray/TrayController.js"></script>
<script src="~/Scripts/vendor/PDFObject/pdfobject.js"></script>

@Html.Partial("~/Views/LegalTabComponent/_PreviewDocumentComponent.cshtml", Model)
@Html.Partial("~/Views/LegalTabComponent/_FirstLetterComponent.cshtml", Model)
@Html.Partial("~/Views/LegalTabComponent/_CoverPageComponent.cshtml")

<script>

    // register modal component
    var buttonComponent = Vue.component('button-permission', {
        template: '#button-template',
        data: function () {
            return {
                  signature : '@Model.Signature'
                , actions: []
                , btnCss: "fa fa-print"
                , isPrintForm: false
                , isFirstLetterForm: false
                , isCoverPageForm: false
                , action: {}
                , model: JSON.parse('@viewModel')
                , permission: {}
            }
        }
        , methods: {
            closePrintForm: function () {

                this.isPrintForm = false;
     
                if (this.model.DocumentStatusNo == 3 && this.model.PrintDate == null)
                {
                    if (this.permission.IsApprove) {
                        this.action.IsDisable = true;
                    }
                    else {
                        window.location.reload();
                    }
                }
            },

            btnClick: function (action) {
                let _this = this;
                _this.action = action;
                _Legal.TrayAction.Init({
                       vue: _this
                     , actionCode: _this.action.TrayActionCode
                     , fn: function (res) {
                         console.log(res);
                     }
                });
            },

            initButton: function () {
                let self = this;
                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Tray/TrayActionAsync"
                    , loadMask: true
                    , method: "post"
                    , signature: self.signature
                    , params: {
                        trayID: self.permission.TrayID
                    }
                    , success: function (res) {
                        if (res.Success)
                        {
                            self.actions = res.Data;
                        }

                        else
                        {
                            toastr.error(res.Message);
                        }
                    }
                    , error: function (res) {

                        toastr.error(res);
                    }
                });
            }

            , initButtonPermission: function (fn) {
                let self = this;
                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Tray/ButtonPermission"
                    , loadMask: true
                    , method: "post"
                    , signature : self.signature
                    , success: function (res) {
                        if (res.Success) {
                            self.permission = res.Data;
                            fn();
                        }

                        else
                        {
                            toastr.error(res.Message);
                        }
                    }

                    , error: function (res) {
                        toastr.error(res);
                    }
                });

            }
        }
        , mounted() {
            let self = this;

            self.initButtonPermission(function () {
              self.initButton();
            });
        }
    });

</script>