﻿<template id="input-date">
    <input type="text" autocomplete="off" class="input-date" :disabled="!disabled"/>
</template>

<template id="modal-coverpage">

    <div class="vue-modal-mask-1">
        <div class="vue-modal-wrapper">
            <div class="vue-modal-container">
                <div class="vue-modal-header">
                    <slot name="header">
                        default header
                    </slot>
                </div>
                <div class="vue-modal-body">
                    <slot name="body">
                        <div class="form-group">
                            <label>Document Type Of Issue</label>
                            <select class="form-control selectpicker" data-style="btn btn-link" v-model="documentTypeID" v-on:change="onDocumentChange()">
                                <option v-for="document in documentTypes" v-bind:value="document.DocumentID">
                                    {{ document.DocumentName }}
                                </option>
                            </select>
                        </div>
                        <div class="table-responsive" v-bind:style="{ height: (windowHeight-300) + 'px' }">

                            <template v-if="coverpage.documents.length==0">
                                ไม่พบข้อมูล !!
                            </template>

                            <template v-if="coverpage.documents.length>0">
                                <table class="table table-striped table-no-bordered table-hover">
                                    <tbody>
                                        <tr v-for="coverpage in coverpage.documents">
                                            <td class="text-center">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="" v-model="coverpage.IsSelect">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>
                                                {{coverpage.CoverPageDocumentNo}}.
                                                {{coverpage.CoverPageDocumentName}}

                                                <template v-for="prob in coverpage.Properties">

                                                    <template v-if="prob.InputType=='label'">
                                                        {{prob.Value}}&nbsp;
                                                    </template>

                                                    <template v-if="prob.InputType=='datepicker'">
                                                        {{prob.Label}}&nbsp;
                                                        <input-date v-model="prob.Value"   v-bind:disabled="coverpage.IsSelect" ></input-date>
                                                        &nbsp;{{prob.Unit}}
                                                    </template>

                                                    <template v-if="prob.InputType=='textarea'">
                                                        <div class="form-group">
                                                            <textarea class="form-control" v-model="prob.Value" rows="3" :disabled="!coverpage.IsSelect"></textarea>
                                                        </div>
                                                    </template>

                                                    <template v-if="prob.InputType=='dropdown'">
                                                        {{prob.Label}}&nbsp;
                                                        <select class="select-css" v-model="prob.Value" :disabled="!coverpage.IsSelect">
                                                            <option v-for="option in options(prob.Source)" v-bind:value="option.value">
                                                                {{ option.text }}
                                                            </option>
                                                        </select>
                                                        &nbsp;{{prob.Unit}}
                                                    </template>
                                                </template>

                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </template>
                        </div>
                    </slot>
                </div>
                <div class="vue-modal-footer">
                    <slot name="footer">
                        หมายเหตุ: -
                        <div class="vue-modal-default-button">

                      
                            <button class="btn btn-outline-primary" type="button" v-on:click="onPrintClick()" :disabled="!isSave">
                                <i class="fa fa-print"></i>&nbsp; พิมพ์เอกสาร
                            </button>

                            <button class="btn btn-outline-primary" type="button" v-on:click="onSaveClick()" :disabled="isSave">
                                <i class="fa fa-print"></i>&nbsp; บันทึกข้อมูล
                            </button>

                            <button class="btn btn-outline-primary" type="button" v-on:click="$emit('close')">
                                <i class="fa fa-close"></i>&nbsp; ปิด
                            </button>

                        </div>

                    </slot>
                </div>
            </div>
        </div>

        <modal-printpreview v-if="printCoverpage" v-on:close="printCoverpage=false" v-bind:action="action">
            <h3 slot="header">Cover Page Document</h3>
        </modal-printpreview>

    </div>

</template>

<style>

    .select-css {
        -webkit-appearance: checkbox;
        padding: 5px 5px;
    }

    .input-date {
        width: 100px;
        text-align: center;
        cursor: pointer;
    }
 
</style>

<script>

   var inputDate = Vue.component('input-date', {
        props: ['value', 'startdate', 'enddate', 'allowclear', 'disabled'],
        template: '#input-date',
        mounted: function () {
            var self = this;

            $(self.$el).datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy',
                todayBtn: false,
                language: 'th-th', 
                thaiyear: true,

                showOn: "button",
                buttonImage: "images/calendar.gif",
                buttonImageOnly: true,
                buttonText: "Select date"
            });

            $(self.$el).change(function () {
                self.$emit('input', $(this).val());
            });

            if (moment(this.value, ["DD/MM/YYYY", moment.ISO_8601]).isValid()) {
                let currentValue = moment(this.value, ["DD/MM/YYYY", moment.ISO_8601]).format('DD/MM/YYYY')
                $(this.$el).datepicker('update', currentValue)
            }

            self.setStartDate(self.startdate);
            self.setEndDate(self.enddate);
        },
        watch: {

            startdate: function (startdate) {
                this.setStartDate(startdate);
            },
            enddate: function (enddate) {
                this.setEndDate(enddate);
            },
            value: function (newValue, oldValue) {

                //if (!_.isUndefined(this.allowclear)
                //    && ((newValue == "" || newValue == undefined || newValue == null)
                //        && !this.allowclear)) {
                //    let todayDate = moment().format('DD/MM/YYYY');
                //    $(this.$el).val('');
                //}
                //else {
                //    if (newValue == null || newValue == undefined) {
                //        $(this.$el).val('');
                //    }
                //    else {
                 
                //        let currentValue = moment(newValue, ["DD/MM/YYYY", moment.ISO_8601]).format('DD/MM/YYYY');
                //        $(this.$el).datepicker('update', currentValue);
                //    }
                //}
            }
        },
        methods: {
            setStartDate: function (startdate) {
                if (!_.isEmpty(startdate) && startdate != null && startdate != undefined) {
                    $(this.$el).datepicker('setStartDate', startdate);
                } else {
                    $(this.$el).datepicker('setStartDate', false);
                }
            },
            setEndDate: function (enddate) {
                if (!_.isEmpty(enddate) && enddate != null && enddate != undefined) {
                    $(this.$el).datepicker('setEndDate', enddate);
                } else {
                    $(this.$el).datepicker('setEndDate', false);
                }
            }
        },
        destroy() {
            this.$destroy();
        }
    });

   var modalCoverpage =  Vue.component('modal-coverpage', {
        template: '#modal-coverpage',

        data: function () {
            return {
                windowHeight: window.innerHeight

                //to be remove
                , request: {
                    requestID: null,  
                    userID: null,  
                    documentStatusID: null
                }

                , coverpage: {

                    //Will be update value from initial/save coverpage
                    coverPageID: null

	                , documents : []
                }

                , documentTypes: []
                , documentTypeID: "0186a007-9bb0-4ddb-822c-480b5a066e04"
                , action: {}
                , isSave: false
                , printCoverpage : false
         
            }
        },
         
       methods: {
            windowResize: function () {
                this.windowHeight   = window.innerHeight;
            }
            , initActionDocument: function (opt) {
                let content = this;

                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Document/GetDocumentWithTrayAction"
                    , loadMask: false
                    , method: "post"
                    , params: {
                        TrayActionID: content.action.TrayActionID
                    }
                    , success: function (res) {

                        if (res.Success) {

                            content.documentTypes = res.Data;
                            
                            if (opt.fn) {

                                if (content.documentTypes.length > 0) {
                                    opt.fn({ data: content.documentTypes[0] });
                                }
                            }

                            toastr.success(res.Message);
                        }

                        else {
                            toastr.error(res.Message);
                        }
                    }
                    , error: function (res) {

                        toastr.error(res);
                    }
                });
            }
            , initCoverPage: function (opt) {
                let content    = this;

                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Coverpage/List"
                    , loadMask: false
                    , method: "post"
                    , params: {
                          DocumentID: opt.DocumentID
                        , RequestID: content.request.requestID
                    }
                    , success: function (res) {
                        if (res.Success)
                        {
                            content.isSave                  = res.Data.isSave;
                            content.coverpage.documents     = res.Data.documents;
                            content.coverpage.coverPageID   = res.Data.coverPageID; 

                            toastr.success(res.Message);
                        }
                        else
                        {
                            toastr.error(res.Message);
                        }
                    }
                    , error: function (res) {
                        toastr.error(res);
                    }
                });
            }
            , options: function (source) {

                var options = [];

                try
                {
                    var option = JSON.parse(source);

                    option.data.forEach(function (op) {
                        options.push({ text: op, value: op });
                    });
                }

                catch (e) { };

                return options;

            }
            , onDocumentChange: function() {
                var content = this;

                content.initCoverPage({
                    DocumentID: content.documentTypeID
                });
            }
            , onSaveClick: function () {
                var content = this;

                var coverpages = content.coverpage.documents.filter(item => { return item.IsSelect == true; });

                if (coverpages.length == 0)
                {
                    toastr.error("Please select a cover page document!");

                    alert("Please select a cover page document!");

                    return false;
                }

                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Coverpage/Save"
                    , loadMask: false
                    , method: "post"
                    , params: {
                        documentTypeID: content.documentTypeID
                        , requestID: content.request.requestID
                        , userID: content.request.userID
                        , coverPageID: content.coverpage.coverPageID
                        , documents     : coverpages
                    }
                    , success: function (res) {

                        if (res.Success)
                        {
                            content.isSave = true; 

                            content.coverpage.coverPageID = res.Data.coverPageID; 

                            toastr.success(res.Message);
                        }

                        else
                        {
                            toastr.error(res.Message);
                        }
                    }
                    , error: function (res) {
                        toastr.error(res);
                    }
                });

            }
            , onPrintClick: function () {
                var content = this;

                content.printCoverpage = true; 
                toastr.success("You click print button.");
            }
        },

       mounted() {

           let self                     = this;
           var content                  = app.$root.$refs["buttonPermission"];
           
           self.request.requestID       = content.model.requestID;
           self.request.userID          = content.model.userID;
           self.action                  = content.action;
           
           self.initActionDocument({
                fn: function (req) {

                    self.initCoverPage({ DocumentID: req.data.DocumentID  });
                }
            });
           
           this.$nextTick(() => {
               window.addEventListener('resize', this.windowResize);
           });
        }
    });

</script>
