﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel
@{

    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var viewModel = Html.Raw(
         HttpUtility.JavaScriptStringEncode(
            JsonConvert.SerializeObject(new
            {
                ButtonControl = Model.ButtonPermission
                ,DocumentStatusID = Model.DocStatusID
                ,Model.DocumentTypeID
                ,Model.UserID
                ,Documents = (SelectList)ViewBag.DocumentTypeID
            }, Formatting.None, serializationSettings)
            , false)
    );
}

<style type="text/css">
    ul, li, p {
        margin: 0;
        padding: 0;
        list-style: none
    }

    .css_simple_tab {
        float: left;
        width: 100%;
        border-bottom: 2px solid #9c27b0;
        height: 29px;
    }

    /* css แท็บทั้งหมด */
    .css_simple_tab li {
        float: left;
        /*height: 29px;*/
        margin-right: 3px;
        border: 1px solid #CCCCCC;
        border-bottom: 0px;
        height: 39px;
        margin-top: -10px;
    }
    .css_simple_tab li i {
        float: left;
        width: 3px;
        overflow: hidden;
        height: 29px;
    }
    .css_simple_tab li a {
        float: left;
        line-height: 25px;
        padding-top: 4px;
        text-align: center;
        outline: none;
        padding: 5px 20px;
        margin-top: 2px;
    }
    .css_simple_tab li a:link {
        color: #383838
    }
    .css_simple_tab li a:visited {
        color: #383838
    }
    .css_simple_tab li a:hover {
        color: #8b0401
    }

    /* css แท็บที่ถูกเลือก */
    .css_simple_tab_li {
        height: 30px;
        border: 2px solid #9c27b0 !important;
        border-bottom: 0px !important;
        background-color: #FFF;
    }
    .css_simple_tab_li a {
        font-weight: bold !important;
        color: #9c27b0 !important;
    }
    .css_simple_tab_detailed {
        float: left;
        width: 96%;
        line-height: 23px;
        padding-top: 10px;
        padding-left: 15px;
        display: none;
        overflow: hidden
    }
</style>

 
<template id="modal-firstletter">
    <div class="vue-modal-mask-2">
        <div class="vue-modal-wrapper">
            <div class="vue-modal-container" style="width: 60% !important;">

                <div class="vue-modal-header">
                    <slot name="header">
                        default header
                    </slot>
                </div>

                <div class="vue-modal-body">
                    <slot name="body">
                        <div v-bind:style="{ height: (windowHeight-300) + 'px' }">

                            <ul class="css_simple_tab">
                                <li v-for="(detail, index) in firstLetter.Details" v-bind:class="{'css_simple_tab_li': (detail.CIFNo == activeCIFNo)}" :key="index">
                                    <a v-bind:href="'#'+detail.CIFNo" v-bind:id="detail.CIFNo" v-on:click="activeTab($event)">ในฐานะ{{detail.RelationName}}</a>
                                </li>
                            </ul>

                            <div class="css_simple_tab_detailed" v-for="detail in firstLetter.Details" v-bind:style="{display : (detail.CIFNo == activeCIFNo) ? 'block' : 'none' }">

                                <div class="form-group">
                                    <label>ชื่อ-สกุล</label>
                                    <input type="text" class="form-control" v-model="detail.CustomerName" v-on:change="changeHandler">
                                </div>

                                <div class="form-group">
                                    <label>Address 1</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="detail.Address1" v-on:change="changeHandler"></textarea>
                                </div>

                                <div class="form-group">
                                    <label>Address 2</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" v-model="detail.Address2" v-on:change="changeHandler"></textarea>
                                </div>

                            </div>

                        </div>
                    </slot>
                </div>

                <div class="vue-modal-footer">
                    <slot name="footer">
                        หมายเหตุ: -
                        <div class="vue-modal-default-button">

                            <button class="btn btn-outline-primary" type="button" v-on:click="showPreview()" :disabled="!firstLetter.IsSave">
                                <i class="fa fa-print"></i>&nbsp; พิมพ์เอกสาร
                            </button>

                            <button class="btn btn-outline-primary" type="button" v-on:click="onSave()" :disabled="firstLetter.IsSave">
                                <i class="fa fa-save"></i>&nbsp; บันทึกข้อมูล
                            </button>

                            <button class="btn btn-outline-primary" type="button" v-on:click="$emit('close')">
                                <i class="fa fa-close"></i>&nbsp; ปิด
                            </button>

                        </div>

                    </slot>
                </div>
            </div>
        </div>
    </div>
</template>
 
@*<script src="~/Scripts/Tray/TrayController.js"></script>*@
<script>

    // register modal component
    var ModalComponent = Vue.component('modal-firstletter', {
        template: '#modal-firstletter'
        , data: function () {
            return {
                   windowHeight: window.innerHeight
                , activeCIFNo: 0
                , trayController: {}
                , firstLetter: {
                    IsSave: false
                }
                , action: {}
                , model: {}
                , signature: {}
                
            }
        }
        , methods: {
            trayInitial: function () {
                let self = this;

                self.trayController = new TrayController(this);

                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/FirstLetter/Information"
                    , loadMask: false
                    , method: "post"
                    , signature: self.signature
                    , params: {}
                    , success: function (res)
                    {
                        if (res.Success)
                        {
                            self.firstLetter = res.Data;
                            self.activeCIFNo = res.Data.Details[0].CIFNo;
                        }

                        else
                        {
                            toastr.error(res.Message);
                        }
                    }

                    , error: function (res)
                    {
                        toastr.error(res);
                    }

                });

            }
            , windowResize: function () {
                this.windowHeight = window.innerHeight
            }
            , activeTab: function (e) {
                this.activeCIFNo = e.target.id;
            }
            , showPreview: function () {
                app.$refs.buttonPermission.isPrintForm = true; 
            }
            , onSave: function () {
                let self = this;

                self.firstLetter.Document.TrayActionID  = self.action.TrayActionID;
                self.firstLetter.Document.DocumentID    = self.action.DocumentID;
  
                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/FirstLetter/SaveAsync"
                    , loadMask: false
                    , method: "post"
                    , params: self.firstLetter
                    , success: function (res) {

                        console.log(res);

                        if (res.Success)
                        {
                            toastr.success(res.Message);

                            self.firstLetter            = res.Data;
                 
                            //self.firstLetter.IsSave         = res.Data.IsSave;
                            //self.firstLetter.FirstLetterID  = res.Data.FirstLetterID;
                            //self.firstLetter.LegalNo        = res.Data.LegalNo;
                        }

                        else
                        {
                            toastr.error(res.Message);
                        }
                    }

                    , error: function (res) {

                        toastr.error(res);
                    }
                });

 
            }
            , changeHandler: function () {
                let self = this;

                // if document status is waiting to approve will be nothing.
                if (self.model.documentStatusID !== 1)
                {
                    self.firstLetter.IsSave  = false;
                }
            }
        }
         
        , mounted() {
            let self                = this;
            let content             = app.$root.$refs["buttonPermission"];

            self.action             = content.action ;
            self.signature          = content.signature; 
            self.model              = content.model; 

            //start
            self.trayInitial();

            this.$nextTick(() => {
                window.addEventListener('resize', this.windowResize);
            });
        }
    });

</script>