﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{

    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var viewModel = Html.Raw(
         HttpUtility.JavaScriptStringEncode(
            JsonConvert.SerializeObject(new
            {
                ButtonControl = Model.ButtonPermission
                ,DocumentStatusNo = Model.DocStatusID
                ,Model.DocumentTypeID
                ,Model.UserID
                ,Documents = (SelectList)ViewBag.DocumentTypeID
            }, Formatting.None, serializationSettings)
            , false)
    );
}
 
<template id="modal-printpreview">
    <div class="vue-modal-mask-1">
        <div class="vue-modal-wrapper">
            <div class="vue-modal-container" >

                <div class="vue-modal-header">
                        <slot name="header">
                            default header
                        </slot>
                </div>

                <div class="vue-modal-body">
                    <slot name="body">
                        <div id="panel-preview" v-bind:style="{ height: (windowHeight-300)+ 'px' }"></div>
                    </slot>
                </div>

                <div class="vue-modal-footer">
                    <slot name="footer">
                        หมายเหตุ: -
                        <div class="vue-modal-default-button">

                            <button type="button" class="btn btn-outline-primary"
                                    v-if="permission.IsSend"
                                    v-on:click="onSend()"
                                    :disabled="model.DocumentStatusNo==1||model.DocumentStatusNo==3">
                                <i class="fa fa-send-o"></i>&nbsp; Send to Approve
                            </button>

                            <button v-if="permission.IsApprove" class="btn" v-bind:class="{'btn-outline-success': (model.DocumentStatusNo !=3), 'btn-success': (model.DocumentStatusNo==3)}" type="button" v-on:click="onApprove()" :disabled="model.DocumentStatusNo==2||model.DocumentStatusNo==3"><i class="fa fa-check-circle-o"></i>&nbsp; Approve</button>

                            <button v-if="permission.IsReturn" class="btn" v-bind:class="{'btn-outline-danger': (model.DocumentStatusNo !=2), 'btn-danger':(model.DocumentStatusNo==2)}" type="button" v-on:click="onReturn()" :disabled="model.DocumentStatusNo==2||model.DocumentStatusNo==3"><i class="fa fa-times-circle-o"></i>&nbsp; Return</button>

                            <button class="btn btn-outline-primary" type="button" v-on:click="$emit('close')">
                                <i class="fa fa-close"></i>&nbsp; ปิด
                            </button>
                        </div>

                    </slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    // register modal component
    var ModalComponent = Vue.component('modal-printpreview', {
        template: '#modal-printpreview',
        props: ['action'],
        data: function () {
            return {

                  cssPrint: 'fa fa-print'
                , lblBtnPrint: 'Print'
                , trayController: {}
                , windowHeight: window.innerHeight
                , IsPrint: true
                , signature: {}
                , permission: { IsSend: false }
                , model: {}
            }
        }
 
        , methods: {

            trayInitial: function (opt) {
                let self = this;
                self.trayController = new TrayController(this);
                opt.handler();
            },

            initial: function (opt) {
                let self = this;

                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Request/Information"
                    , loadMask: false
                    , method: "post"
                    , signature: self.signature
                    , params: {}
                    , success: function (res) {
                        if (res.Success) {

                            self.model = res.Data;
                            self.signature = res.Signature; 
                            console.log(res.Data);

                            opt.handler();
                        }

                        else {
                            toastr.error(res.Message);
                        }
                    }

                    , error: function (res) {
                        toastr.error(res);
                    }
                });
            },

            print: function () {

                let self = this;

                PDFObject.embed("/LegalSystem_DEV/Document/Print?id=" + self.model.ExtensionID + "&token=" + self.signature, "#panel-preview");
            }

            , onResize()
            {
                this.windowHeight = window.innerHeight
            }
            , onSend: function () {
                let self = this;
                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Document/Send"
                    , loadMask: false
                    , method: "post"
                    , signature: self.signature
                    , params: {
                        id: self.model.ExtensionID  
                    }
                    , success: function (res) {
                        if (res.Success)
                        {
                            console.log(res.Data);
                          
                            self.model                       = res.Data;
                            app.$refs.buttonPermission.model = res.Data;

                            toastr.success(res.Message);
                        }

                        else
                        {
                            toastr.error(res.Message);
                        }
                    }

                    , error: function (res) {
                        toastr.error(res);
                    }
                });
            }
            , onApprove: function () {
                let self = this;
                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Document/Approve"
                    , loadMask: false
                    , method: "post"
                    , signature: self.signature
                    , params: {
                        id: self.model.ExtensionID
                    }
                    , success: function (res) {
                        if (res.Success) {
                            console.log(res.Data);

                            self.model                       = res.Data;
                            app.$refs.buttonPermission.model = res.Data;

                            toastr.success(res.Message);
                        }

                        else {
                            toastr.error(res.Message);
                        }
                    }

                    , error: function (res) {
                        toastr.error(res);
                    }
                });
            }
            , onReturn: function () {
                let self = this;
                _Legal.Data.Ajax({
                    url: "/LegalSystem_DEV/Document/Return"
                    , loadMask: false
                    , method: "post"
                    , signature: self.signature
                    , params: {
                        id: self.model.ExtensionID
                    }
                    , success: function (res) {
                        if (res.Success) {
                            console.log(res.Data);
                            
                            self.model                       = res.Data;
                            app.$refs.buttonPermission.model = res.Data;

                            toastr.success(res.Message);
                        }

                        else {
                            toastr.error(res.Message);
                        }
                    }

                    , error: function (res) {
                        toastr.error(res);
                    }
                });
            }
        }
 
        , mounted() {

   
            let self        = this;
            let content     = app.$root.$refs["buttonPermission"];
            self.action     = content.action;
            self.signature  = content.signature;
            self.permission = content.permission; 


            self.trayInitial({
                handler: function () {
                    self.initial({
                        handler: function () {
                            self.print();
                        }
                    });
                }
            });


            this.$nextTick(() => {
                window.addEventListener('resize', this.onResize);
            })
        }
    });

</script>


