﻿<template id="uploadfile-template">
    <div>
        <div class="row" style="margin-top: -40px;margin-bottom: 40px;">
            <div class="col-md-12 text-right">
                @*<div class="form-group form-file-upload form-file-simple">
                    <input type="text" class="form-control inputFileVisible" placeholder="Choose File..." v-on:click="OpenFile">
                    <input type="file" class="inputFileHidden"  v-on:change="getBase64($event)" :disabled="check_LimitSizeFileUpload()">
                </div>*@
                <div class="form-group form-file-upload form-file-simple">
                    <input type="text" class="form-control inputFileVisible" placeholder="Choose File..." v-on:click="OpenFile">
                    <input type="file" class="inputFileHidden" v-on:change="getBase64($event)" :disabled="check_LimitSizeFileUpload()">
                </div>
            </div>
            <div class="col-md-12">
                <div class="form-group row pull-right">
                    <div class="col-md-12">
                        <button :disabled="(fileupload.length == 0) || check_LimitSizeFileUpload()"
                                v-on:click="uploadfile()" class="btn btn-w-m btn-primary btn-sm" type="button">
                            <i class="fa fa-upload"></i>
                            <span :class="{ 'text-danger':check_LimitSizeFileUpload() }"> {{lbUpload}}</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: -40px;margin-bottom: 40px;">
            <div class="col-md-12">
                <div class="ibox ">
                    <div class="ibox-title">
                        <h5 id="titleMessage"></h5>
                        <div class="ibox-tools">
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="font-weight: bold;font-size: small;">ID</th>
                                            <th style="font-weight: bold;font-size: small;">Type</th>
                                            <th style="font-weight: bold;font-size: small;">Name</th>
                                            <th style="font-weight: bold;font-size: small;">Size</th>
                                            <th style="font-weight: bold;font-size: small;">Del</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="fileupload.length > 0" v-for="(item, index) in fileupload">
                                            <td>{{item.ID}}</td>
                                            <td>{{item.Type}}</td>
                                            <td>{{item.Name}}</td>
                                            <td>{{item.Size | formatByte}}</td>
                                            <td class="text-center">
                                                <a v-on:click="deletefile(index)" href="javascript:;"><i class="text-danger fa fa-trash-o"></i></a>
                                            </td>
                                        </tr>
                                        <tr v-if="fileupload.length > 0">
                                            <td colspan="5">
                                                <span>Total Size: {{totalsize | formatByte}}</span>
                                            </td>
                                        </tr>
                                        <tr v-if="fileupload.length == 0">
                                            <td class="text-center" colspan="5">ไม่มีข้อมุล</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    Vue.component('uploadfile-component', {
        template: '#uploadfile-template',
        props: {
            list_fileupload: {
                type: Array,
                default: () => []
            },
        },
        filters: {
            formatByte: function (value) {
                return _formatBytes(value, 2);
            }
        },
        data: function () {
            return {
                fileupload: [],
                totalsize: 0
            }
        },
        mounted: function () {
            var self = this;

           
        },
        computed: {
            totalsizeFile: function () {
                let result = this.fileupload.map((item, index) => {
                    return item.Size;
                });

                return result;
            },
            lbUpload: function () {
                return this.check_LimitSizeFileUpload() ? `ขนาดไฟล์อัพโหลดต้องไม่เกิน 10MB.` : `Upload File.`;
            }
        },
        watch: {

            totalsizeFile: function (value) {
                this.totalsize = _.sum(value);
            },
            list_fileupload: function (value) {
                debugger;
                //this.fileupload = value;
            }
        },
        methods: {
            OpenFile: function () {
                debugger
                $(this.$el).find('input[type=file]').trigger('click');
            },
            text: function () {
                debugger;
            },
            getBase64: function ($event) {
                debugger;
                $event.preventDefault();
                let self = this;
                let objFile = $event.target.files[0];
                var reader = new FileReader();
                reader.readAsDataURL($event.target.files[0]);
                reader.onloadend = function (e) {
                    debugger
                    e.preventDefault();
                    let encodeBase64 = e.target.result.split(',')[1];
                    self.fileupload.push({
                        ID: _genGUID(),
                        Type: objFile.type,
                        Name: objFile.name,
                        EncodeBase64: encodeBase64,
                        Size: objFile.size,
                        IsAction: 0
                    });

                    $('input[type=file]').val(null);
                }
            },
            uploadfile: function () {
                let self = this;
                debugger;
                self.$emit('get_fileupload', self.fileupload);
                self.fileupload = [];
            },
            deletefile: function (index) {
                let self = this;
                self.fileupload.splice(index, 1);
            },
            check_LimitSizeFileUpload: function () {
                let result = this.totalsize > 10485760;
                return result;
            }
        },
        destroy() {
            console.log("destroy");
        }
    });
</script>
