﻿@using Newtonsoft.Json
@using LegalData;
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelWP = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-WealthPay">
    <div class="modal fade bd-example-modal-lg" id="frmWP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                    <button type="button" class="close" v-on:click="FromModalClose('frmWP');" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-top:-30px">
                        <div class="col-md-6 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <datepicker-component v-model="dataWealthPay_temp.W_Date">
                                </datepicker-component>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">รายละเอียดทรัพย์</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="dataWealthPay_temp.W_Desc" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5 v-if="dataWealthPay_temp.W_Type == '1'">
                                    <span class="tim-note">ค่าธรรมเนียมขอรับชำระหนี้</span>
                                </h5>
                                <h5 v-else-if="dataWealthPay_temp.W_Type == '2'">
                                    <span class="tim-note">ค่าธรรมเนียมขอเฉลี่ยทรัพย์</span>
                                </h5>
                                <h5 v-else-if="dataWealthPay_temp.W_Type == '3'">
                                    <span class="tim-note">ค่าธรรมเนียมขอกันส่วน</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <number-component v-model="dataWealthPay_temp.W_Fee">
                                </number-component>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันนัดไต่สวน</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <datepicker-component v-model="dataWealthPay_temp.W_LegalDate">
                                </datepicker-component>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่ศาลมีคำสั่ง</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <datepicker-component v-model="dataWealthPay_temp.W_CourtDate">
                                </datepicker-component>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่ยื่นคำสั่งให้ จพค.</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <datepicker-component v-model="dataWealthPay_temp.W_SendDate">
                                </datepicker-component>
                            </div>
                        </div>
                    </div>
                    <div class="row"  v-if="dataWealthPay_temp.W_Type != '1'">
                        <div class="col-md-6 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่รับเงิน</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <datepicker-component v-model="dataWealthPay_temp.W_ReciveMoneyDate">
                                </datepicker-component>
                            </div>
                        </div>
                    </div>
                    <div class="row" v-if="dataWealthPay_temp.W_Type != '1'">
                        <div class="col-md-6 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">จำนวนเงิน</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <number-component v-model.number="dataWealthPay_temp.W_Money">
                                </number-component>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" v-on:click="SubmitDataWealthPay();"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-fill btn-default"  v-on:click="ClearDataModal();"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                </div>
            </div>
        </div>

       

    </div>
</template>

@Html.Partial("~/Views/LegalTabComponent/NumberComponent.cshtml")
<script>
    var wpComponent = Vue.component('wp-component', {
        template: '#legal-WealthPay',
        data: function () {
            return {
                modalTitle: '',
                status: '',
                errors: [],
                dataWealthPay_temp: {},
                Modal_WealthPay: @Html.Raw(JsonConvert.SerializeObject(new trWealthPay { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
            }
        },
        mounted() {
            let self = this;

        },
        methods: {
            ClearDataModal: function () {
                let self = this;

                self.dataWealthPay_temp = _.cloneDeep(self.Modal_WealthPay);
            },
            FromModalClose: function (frm) {
                let self = this;

                $('#' + frm).modal('hide');
            },
            ValidateDataWealthPay: function () {
                let self = this;

                self.errors = [];

                

                if (!self.errors.length) {
                    return true
                }
                else {
                    return false
                }

            },
            SubmitDataWealthPay: function () {
                let self = this;

                if (self.ValidateDataWealthPay()) {

                    _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeWealthPay",
                        {
                            model: self.dataWealthPay_temp,
                            status: self.status
                        }, null, function (res) {
                            toastr.success(res);

                            switch (self.dataWealthPay_temp.W_Type)
                            {
                                case '2':
                                    tableWealthPay2.fnDraw();
                                    break;
                                case '3':
                                    tableWealthPay3.fnDraw();
                                    break;
                                default:
                                    tableWealthPay1.fnDraw();
                                    break;
                            }

                            $('#frmWP').modal('hide');
                        });
                }
                else {
                    let tabError = self.errors.join('</br> ');
                    toastr.error(tabError);
                }
            },
            
        }
    });
</script>