﻿@using Newtonsoft.Json
@using LegalData;
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelfa = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-findAsset">
    <div class="modal fade bd-example-modal-lg" id="frmfa" tabindex="-1" role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                    <button type="button" class="close" v-on:click= "FromModalClose('frmfa');" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @*<p v-if="errors.length">
                        <b class="text-danger">Please correct the following error(s):</b>
                        <ul>
                            <li v-for="error in errors" class="text-danger">{{ error }}</li>
                        </ul>
                    </p>*@
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่สืบทรัพย์</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="datafindAsset_temp.findDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">พบ/ไม่พบ</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <select class="form-control" v-model="datafindAsset_temp.findStatus" @@change="OnChangeFindStatus();">
                                    <option :value="null">-- Please Select --</option>
                                    <option v-for="(item, index) in listFindType" :key="index" v-bind:value="item.Value">
                                        {{ item.Text }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">รายละเอียดทรัพย์ที่พบ</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" v-on:click="addDataAssetDescModal();" :disabled="isDisableFindStatus"><i class="fa fa-plus"></i>&nbsp;เพิ่มรายละเอียด</button>
                            </div>
                        </div>
                      
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="margin-bottom:1%;">
                                <div class="container col-md-12 text-center">
                                    <div class="material-datatables table-responsive">
                                        <table id="gvAssetDesc" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bold;font-size: small;">No</th>
                                                    <th style="font-weight: bold;font-size: small;">ประเภท</th>
                                                    <th style="font-weight: bold;font-size: small;">เลขที่โฉนด</th>
                                                    <th style="font-weight: bold;font-size: small;">จังหวัด</th>
                                                    <th style="font-weight: bold;font-size: small;">อำเภอ</th>
                                                    <th style="font-weight: bold;font-size: small;">ตำบล</th>
                                                    <th style="font-weight: bold;font-size: small;">ที่อยู่</th>
                                                    <th style="font-weight: bold;font-size: small;">Edit</th>
                                                    <th style="font-weight: bold;font-size: small;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">แนบสิ่งที่สืบพบ</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" v-on:click="addDataUploadModal();" :disabled="isDisableFindStatus"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="margin-bottom:1%;">
                                <div class="container col-md-12 text-center">
                                    <div class="material-datatables table-responsive">
                                        <table id="gvUpload" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bold;font-size: small;">No</th>
                                                    <th style="font-weight: bold;font-size: small;">FileName</th>
                                                    <th style="font-weight: bold;font-size: small;">FileType</th>
                                                    <th style="font-weight: bold;font-size: small;">View</th>
                                                    <th style="font-weight: bold;font-size: small;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" v-on:click="SubmitDataFindAsset();"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-fill btn-default" v-on:click="ClearDataModal('frmfa');"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                </div>
            </div>
        </div>

        <!-- Modal FindAsset -->
        <div class="modal fade bd-example-modal-lg" id="frmfaDesc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitleDesc }}</h5>
                        <button type="button" class="close" v-on:click= "FromModalClose('frmfaDesc');"  aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p v-if="errors.length">
                            <b class="text-danger">Please correct the following error(s):</b>
                            <ul>
                                <li v-for="error in errors" class="text-danger">{{ error }}</li>
                            </ul>
                        </p>
                        <div class="row" style="margin-top: -40px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ประเภท</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <select class="form-control" v-model="datafindAssetDesc_temp.AssetType">
                                        <option :value="null">-- Please Select --</option>
                                        <option v-for="(item, index) in listAssetType" :key="index" v-bind:value="item.Value">
                                            {{ item.Text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">จังหวัด</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <select class="form-control" v-model="datafindAssetDesc_temp.AssetProvince">
                                        <option :value="null">-- Please Select --</option>
                                        <option v-for="(item, index) in listProvince" :key="index" v-bind:value="item.Value">
                                            {{ item.Text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">เลขที่โฉนด</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetNo" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">อำเภอ</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetDistrict" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ตำบล</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetSubDistrict" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 5px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ที่อยู่</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetAddress" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" v-on:click="SubmitDataAssetDescModal();"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        <button type="button" class="btn btn-fill btn-default" v-on:click="ClearDataModal('frmfaDesc');"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                    </div>
                </div>
            </div>
        </div>
      
        <!--Modal Upload-->
        <div class="modal fade bd-example-modal-lg" id="frmUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitleUpload }}</h5>
                        <button type="button" class="close" v-on:click="FromModalClose('frmUpload');" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <uploadfile-component :list_fileupload="fileuploads" v-on:get_fileupload="get_FileUpload($event)">
                        </uploadfile-component>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

<script>
    var tableAssetDesc;
    var tableUpload;
    var faComponent = Vue.component('fa-component', {
        template: '#legal-findAsset',
        mounted() {
            let self = this;

            self.InitialData();
        },
        data: function () {
            return {
                fileuploads: [],
                modalTitle: '',
                modalTitleUpload: '',
                modalTitleDesc: '',
                status: '',
                errors: [],
                errorsfa: [],
                listFindType: [],
                model_fa: JSON.parse('@modelfa'),
                datafindAsset_temp: {},
                Modal_findAsset: @Html.Raw(JsonConvert.SerializeObject(new trfindAsset { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                dataUpload_temp: {},
                Modal_Upload: @Html.Raw(JsonConvert.SerializeObject(new ScanDocument { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                datafindAssetDesc_temp: {},
                Modal_findAssetDesc: @Html.Raw(JsonConvert.SerializeObject(new AssetDesc { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                listProvince: [],
                listAssetType: [],
                isDisableFindStatus: true,
                isfaSave: false
            }
        },
        methods: {
            InitialData: function () {
                let self = this;

                //_.assign(self.datafindAsset_temp, self.Modal_findAsset);

                self.datafindAsset_temp = _.cloneDeep(self.Modal_findAsset);

                self.LoadListFindType();
                self.LoadListProvince();
                self.LoadListAssetType();

                //Call Data Table AssetDesc
                tableAssetDesc = $("#gvAssetDesc").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 5,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryfindAssetDesc",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, fid: self.datafindAsset_temp.f_ID
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "AssetTypeName" },
                        { data: "AssetNo" },
                        { data: "Province" },
                        { data: "AssetDistrict" },
                        { data: "AssetSubDistrict" },
                        { data: "AssetAddress" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-edit"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-trash"></i></a>';
                            }
                        }


                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableAssetDesc.fnGetData($(this).parents('tr')[0]);
                    self.editDataAssetDescModal(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableAssetDesc.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataAssetDesc(dataRow);
                });

                //Call Data Table Upload
                tableUpload = $("#gvUpload").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 5,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryFileUpload",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, fid: self.datafindAsset_temp.f_ID
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "ScanDocName" },
                        { data: "File_Type" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-file-code-o"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-trash"></i></a>';
                            }
                        }


                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableUpload.fnGetData($(this).parents('tr')[0]);
                    self.ViewFileUpload(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableUpload.fnGetData($(this).parents('tr')[0]);
                    self.deleteUploadFile(dataRow);
                });

            },
            ClearDataModal: function (frm) {
                let self = this;

                debugger;
                switch (frm) {
                    case 'frmfaDesc':
                        self.datafindAssetDesc_temp = _.cloneDeep(self.Modal_findAssetDesc)
                        break;
                    default:
                        self.datafindAsset_temp = _.cloneDeep(self.Modal_findAsset);
                        break;
                }

            },
            LoadListFindType: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListFindType",
                    {}, null, function (res) {
                        self.listFindType = res;
                    });
            },
            addDataAssetDescModal: function () {
                let self = this;

                _.assign(self.datafindAssetDesc_temp, self.Modal_findAssetDesc);
                self.datafindAssetDesc_temp.f_ID = self.datafindAsset_temp.f_ID;
                self.status = 'Add'
                self.modalTitleDesc = 'เพิ่มรายละเอียดทรัพย์ที่พบ';
                self.errors = [];

                $("#frmfaDesc").modal('show');
            },
            editDataAssetDescModal: function (obj) {
                let self = this;

                self.datafindAssetDesc_temp = obj;
                self.status = 'Edit'
                self.modalTitleDesc = 'แก้ไขรายละเอียดทรัพย์ที่พบ';
                self.errors = [];

                $("#frmfaDesc").modal('show');

            },
            LoadListProvince: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListProvince",
                    {}, null, function (res) {
                        self.listProvince = res;
                    });
            },
            LoadListAssetType: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListAssetType",
                    {}, null, function (res) {
                        self.listAssetType = res;
                    });
            },
            ValidateDataFindAsset: function () {
                let self = this;

                self.errors = [];

                if (isNull(self.datafindAsset_temp.findDate)) {
                    self.errors.push("วันที่วันที่สืบทรัพย์ is required.");
                }

                if (isNull(self.datafindAsset_temp.findStatus)) {
                    self.errors.push(" พบ/ไม่พบ is required.");
                }

                if (!self.errors.length) {
                    return true
                }
                else {
                    return false
                }

            },
            SubmitDataAssetDescModal: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeAssetDesc",
                    {
                        model: self.datafindAssetDesc_temp,
                        status: self.status
                    }, null, function (res) {
                        debugger;
                        toastr.success(res);
                        tableAssetDesc.fnDraw();
                        $('#frmfaDesc').modal('hide');
                    });
            },
            SubmitDataFindAsset: function () {
                let self = this;

                if (self.ValidateDataFindAsset()) {

                    _Ajax("/LegalSystem_DEV/LegalTab/SaveChangefindAsset",
                        {
                            model: self.datafindAsset_temp,
                            status: self.status
                        }, null, function (res) {
                            toastr.success(res.message);
                            self.isfaSave = true;
                            tablefindAsset.fnDraw();
                            app.LegalStatus = res.legalstatus;
                            $('#frmfa').modal('hide');
                        });
                }
                else {
                    let tabError = self.errors.join('</br> ');
                    toastr.error(tabError);
                }
            },
            FromModalClose: function (frm) {
                let self = this;
                let status = self.modalTitle.substring(0, 4).trim();
                switch (frm) {
                    case 'frmfa':
                        debugger;
                        if ((self.isfaSave == false && status == 'Add')
                            && (tableAssetDesc.DataTable().rows().count() > 0
                                || tableUpload.DataTable().rows().count() > 0)) {
                            toastr.error('กรุณากด save ก่อนปิดหน้าจอ');
                        }
                        else 
                        {
                            $('#' + frm).modal('hide');
                        }
                        break;
                    default:
                        $('#' + frm).modal('hide');
                        break;
                }

            },
            addDataUploadModal: function () {
                let self = this;

                _.assign(self.dataUpload_temp, self.Modal_Upload);
                self.dataUpload_temp.f_ID = self.datafindAsset_temp.f_ID;
                self.status = 'Add'
                self.modalTitleUpload = 'แนบไฟล์สิ่งที่สืบพบ';

                $("#frmUpload").modal('show');
            },
            get_FileUpload: function (fileupload) {
                let self = this;

                self.fileuploads = fileupload;
                this.destroyComponent = false;

                _Ajax("/LegalSystem_DEV/LegalTab/UploadData",
                    {
                        files: fileupload,
                        model: self.dataUpload_temp
                    }, null, function (res) {
                        toastr.success(res);
                        tableUpload.fnDraw();
                        $("#frmUpload").modal('hide');
                    });
            },
            ViewFileUpload: function (obj) {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/SelectDataView",
                    {
                        model: obj
                    }, null, function (res) {
                        debugger;
                        window.open("@Url.RouteUrl(new {
                                                Controller = "LegalTab", Action = "Download"
                                            })/?strfilename=" + res.filename + "&contype=" + res.type + "&path=" + res.filepath, '_blank')
                    });
            },
            deleteUploadFile: function (obj) {
                let self = this;

                var r = confirm("Are you sure to delete this item?");

                if (r == true) {
                    _Ajax("/LegalSystem_DEV/LegalTab/DeleteFileUpload",
                        {
                            model: obj
                        }, null, function (res) {
                            toastr.success(res);
                            tableUpload.fnDraw();
                        });
                }
            },
            deleteDataAssetDesc: function (obj) {
                let self = this;
                var r = confirm("Are you sure to delete this item?");

                if (r == true) {
                    _Ajax("/LegalSystem_DEV/LegalTab/DeleteDataAccessDesc",
                        {
                            model: obj
                        }, null, function (res) {
                            toastr.success(res);
                            tableAssetDesc.fnDraw();
                        });
                }
            },
            OnChangeFindStatus: function () {
                let self = this;

                if (isNull(self.datafindAsset_temp.findStatus) || self.datafindAsset_temp.findStatus == '2') {
                    self.isDisableFindStatus = true;
                }
                else {
                    self.isDisableFindStatus = false;
                }
            }

        },

    });
</script>