﻿@using Newtonsoft.Json
@using LegalData;
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelsa = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-SeizeAsset">
    <div class="modal fade bd-example-modal-lg" id="frmSa"  role="dialog" data-backdrop="static" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                    <button type="button" class="close" v-on:click="FromModalClose('frmSa');" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่รับหนังสือให้ส่งโฉนด</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="datafindAsset_temp.ReceivelanddocDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">โจทก์ผู้นำยึด</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="datafindAsset_temp.Plaintiff" />

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันที่ส่งโฉนด/สัญญาจำนอง</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="datafindAsset_temp.SendlanddocDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">สำนักงานบังคับคดี</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <select2-single :placeholdermesssage="'-- Please Select --'"
                                                :options="listlawoffice"
                                                :defaultselected="true"
                                                :allowclear="true"
                                                v-model="datafindAsset_temp.LO_ID"
                                                v-bind:disabled="false">
                                </select2-single>
                                @*<select class="form-control" v-model="datafindAsset_temp.LO_ID">
            <option :value="null">-- Please Select --</option>
            <option v-for="(item, index) in listlawoffice" :key="index" v-bind:value="item.Value">
                {{ item.Text }}
            </option>
        </select>*@

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">ภาระหนี้ ณ วันที่นำส่ง</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <number-component v-model="datafindAsset_temp.Debt">
                                </number-component>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">ศาล</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <select2-single :placeholdermesssage="'-- Please Select --'"
                                                :options="listCourt"
                                                :defaultselected="true"
                                                :allowclear="true"
                                                v-model="datafindAsset_temp.CourtZoneID"
                                                v-bind:disabled="false">
                                </select2-single>
                                @*<select class="form-control" v-model="datafindAsset_temp.CourtZoneID">
            <option :value="null">-- Please Select --</option>
            <option v-for="(item, index) in listCourt" :key="index" v-bind:value="item.Value">
                {{ item.Text }}
            </option>
        </select>*@

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันตั้งเรื่องยึด</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="datafindAsset_temp.SeizeDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">ค่าธรรมเนียมตั้งเรื่องยึด</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <number-component v-model="datafindAsset_temp.SeizeFee">
                                </number-component>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -30px;margin-bottom: 5px;">
                        <div class="col-md-2 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">วันตั้งเรื่องอายัด</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <datepicker-component v-model="datafindAsset_temp.DistrainDate">
                                </datepicker-component>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">ค่าธรรมเนียมตั้งเรื่องอายัด</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <number-component v-model="datafindAsset_temp.DistrainFee">
                                </number-component>

                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -10px;margin-bottom: 5px;">
                        <div class="col-md-3 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">แปลงที่ยึด</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" v-on:click="addDataAssetDescModal();"><i class="fa fa-plus"></i>&nbsp;เพิ่มรายละเอียด</button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="margin-bottom:1%;">
                                <div class="container col-md-12 text-center">
                                    <div class="material-datatables table-responsive">
                                        <table id="gvSaAssetDesc" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bold;font-size: small;">No</th>
                                                    <th style="font-weight: bold;font-size: small;">ประเภท</th>
                                                    <th style="font-weight: bold;font-size: small;">เลขที่โฉนด</th>
                                                    <th style="font-weight: bold;font-size: small;">จังหวัด</th>
                                                    <th style="font-weight: bold;font-size: small;">อำเภอ</th>
                                                    <th style="font-weight: bold;font-size: small;">ตำบล</th>
                                                    <th style="font-weight: bold;font-size: small;">ที่อยู่</th>
                                                    <th style="font-weight: bold;font-size: small;">Edit</th>
                                                    <th style="font-weight: bold;font-size: small;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -10px;margin-bottom: 5px;">
                        <div class="col-md-3 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">แนบสิ่งที่สืบพบ</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <button type="button" class="btn btn-success" v-on:click="addDataUploadModal();"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                            </div>
                        </div>

                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="row" style="margin-bottom:1%;">
                                <div class="container col-md-12 text-center">
                                    <div class="material-datatables table-responsive">
                                        <table id="gvSaUpload" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bold;font-size: small;">No</th>
                                                    <th style="font-weight: bold;font-size: small;">FileName</th>
                                                    <th style="font-weight: bold;font-size: small;">FileType</th>
                                                    <th style="font-weight: bold;font-size: small;">View</th>
                                                    <th style="font-weight: bold;font-size: small;">Delete</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top: -10px;margin-bottom: 5px;">
                        <div class="col-md-3 text-right">
                            <div class="tim-typo mt-4-5">
                                <h5>
                                    <span class="tim-note">Remark</span><span class="tim-note text-danger"> *</span>
                                </h5>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input type="text" class="form-control" v-model="datafindAsset_temp.Remark" />
                            </div>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" v-on:click="SubmitDataFindAsset();"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-fill btn-default" v-on:click="ClearDataModal('frmSa');"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                </div>
            </div>
        </div>

        <!-- Modal FindAsset -->
        <div class="modal fade bd-example-modal-lg" id="frmSafaDesc" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitleDesc }}</h5>
                        <button type="button" class="close" v-on:click="FromModalClose('frmSafaDesc');" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <p v-if="errors.length">
                            <b class="text-danger">Please correct the following error(s):</b>
                            <ul>
                                <li v-for="error in errors" class="text-danger">{{ error }}</li>
                            </ul>
                        </p>
                        <div class="row" style="margin-top: -40px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ประเภท</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <select class="form-control" v-model="datafindAssetDesc_temp.AssetType">
                                        <option :value="null">-- Please Select --</option>
                                        <option v-for="(item, index) in listAssetType" :key="index" v-bind:value="item.Value">
                                            {{ item.Text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">จังหวัด</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <select class="form-control" v-model="datafindAssetDesc_temp.AssetProvince">
                                        <option :value="null">-- Please Select --</option>
                                        <option v-for="(item, index) in listProvince" :key="index" v-bind:value="item.Value">
                                            {{ item.Text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">เลขที่โฉนด</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetNo" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">อำเภอ</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetDistrict" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 40px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ตำบล</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetSubDistrict" />
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: -60px;margin-bottom: 5px;">
                            <div class="col-md-4 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ที่อยู่</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="datafindAssetDesc_temp.AssetAddress" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" v-on:click="SubmitDataAssetDescModal();"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                        <button type="button" class="btn btn-fill btn-default" v-on:click="ClearDataModal('frmSafaDesc');"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal Upload-->
        <div class="modal fade bd-example-modal-lg" id="frmSaUpload" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitleUpload }}</h5>
                        <button type="button" class="close" v-on:click="FromModalClose('frmSaUpload');" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <uploadfile-component :list_fileupload="Safileuploads" v-on:get_fileupload="get_FileUploadx($event)">
                        </uploadfile-component>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>


    </div>
</template>



<script>
    var tableSaAssetDesc;
    var tableSaUpload;
    var saComponent = Vue.component('sa-component', {
        template: '#legal-SeizeAsset',
        mounted() {
            let self = this;

            self.InitialData();
        },
        data: function () {
            return {
                Safileuploads: [],
                modalTitle: '',
                modalTitleUpload: '',
                modalTitleDesc: '',
                status: '',
                errors: [],
                listCourt: [],
                listlawoffice: [],
                 model_sa: JSON.parse('@modelsa'),
                datafindAsset_temp: {},
                Modal_findAsset: @Html.Raw(JsonConvert.SerializeObject(new trfindAsset { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                dataUpload_temp: {},
                Modal_Upload: @Html.Raw(JsonConvert.SerializeObject(new ScanDocument { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                datafindAssetDesc_temp: {},
                Modal_findAssetDesc: @Html.Raw(JsonConvert.SerializeObject(new AssetDesc { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                listProvince: [],
                listAssetType: [],
                isSaSave: false
            }
        },
        methods: {
            InitialData: function () {
                let self = this;

                self.datafindAsset_temp = _.cloneDeep(self.Modal_findAsset);

                self.LoadListCourt();
                self.LoadListLawOffice();
                self.LoadListAssetType();
                self.LoadListProvince();

                //Call Data Table AssetDesc
                tableSaAssetDesc = $("#gvSaAssetDesc").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 5,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryfindAssetDesc",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, fid: self.datafindAsset_temp.f_ID
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "AssetTypeName" },
                        { data: "AssetNo" },
                        { data: "Province" },
                        { data: "AssetDistrict" },
                        { data: "AssetSubDistrict" },
                        { data: "AssetAddress" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-edit"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-trash"></i></a>';
                            }
                        }


                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableSaAssetDesc.fnGetData($(this).parents('tr')[0]);
                    self.editDataAssetDescModal(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableSaAssetDesc.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataAssetDesc(dataRow);
                });

                //Call Data Table Upload
                tableSaUpload = $("#gvSaUpload").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 5,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryFileUpload",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, fid: self.datafindAsset_temp.f_ID
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "ScanDocName" },
                        { data: "File_Type" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-file-code-o"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.A_ID + '"><i class="fa fa-trash"></i></a>';
                            }
                        }


                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableSaUpload.fnGetData($(this).parents('tr')[0]);
                    self.ViewFileUpload(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableSaUpload.fnGetData($(this).parents('tr')[0]);
                    self.deleteUploadFile(dataRow);
                });

            },
            ClearDataModal: function (frm) {
                let self = this;

                switch (frm) {
                    case 'frmSafaDesc':
                        self.datafindAssetDesc_temp = _.cloneDeep(self.Modal_findAssetDesc)
                        break;
                    default:
                        self.datafindAsset_temp = _.cloneDeep(self.Modal_findAsset);
                        break;
                }

            },
            LoadListCourt: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListCourtZone",
                    {}, null, function (res) {
                        self.listCourt = res;
                    });
            },
            LoadListLawOffice: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListLawOffice",
                    {}, null, function (res) {
                        self.listlawoffice = res;
                    });
            },
            FromModalClose: function (frm) {
                let self = this;
                let status = self.modalTitle.substring(0, 4).trim();
                switch (frm) {
                    case 'frmSa':
                        debugger;
                        if ((self.isSaSave == false && status == 'Add')
                            && (tableSaAssetDesc.DataTable().rows().count() > 0
                            || tableSaUpload.DataTable().rows().count() > 0)) {
                            toastr.error('กรุณากด save ก่อนปิดหน้าจอ');
                        }
                        else {
                            $('#' + frm).modal('hide');
                        }
                        break;
                    default:
                        $('#' + frm).modal('hide');
                        break;
                }
            },
            addDataAssetDescModal: function () {
                let self = this;
                debugger;
                _.assign(self.datafindAssetDesc_temp, self.Modal_findAssetDesc);
                self.datafindAssetDesc_temp.f_ID = self.datafindAsset_temp.f_ID;
                self.status = 'Add'
                self.modalTitleDesc = 'เพิ่มรายละเอียดทรัพย์ที่พบ';
                self.errors = [];

                $("#frmSafaDesc").modal('show');
            },
            editDataAssetDescModal: function (obj) {
                let self = this;

                self.datafindAssetDesc_temp = obj;
                self.status = 'Edit'
                self.modalTitleDesc = 'แก้ไขรายละเอียดทรัพย์ที่พบ';
                self.errors = [];

                $("#frmSafaDesc").modal('show');

            },
            LoadListAssetType: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListAssetType",
                    {}, null, function (res) {
                        self.listAssetType = res;
                    });
            },
            LoadListProvince: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListProvince",
                    {}, null, function (res) {
                        self.listProvince = res;
                    });
            },
            SubmitDataAssetDescModal: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeAssetDesc",
                    {
                        model: self.datafindAssetDesc_temp,
                        status: self.status
                    }, null, function (res) {
                        debugger;
                        toastr.success(res);
                        tableSaAssetDesc.fnDraw();
                        $('#frmSafaDesc').modal('hide');
                    });
            },
            addDataUploadModal: function () {
                let self = this;

                _.assign(self.dataUpload_temp, self.Modal_Upload);
                self.dataUpload_temp.f_ID = self.datafindAsset_temp.f_ID;
                self.status = 'Add'
                self.modalTitleUpload = 'แนบไฟล์สิ่งที่สืบพบ';

                $("#frmSaUpload").modal('show');
            },
            get_FileUploadx: function (fileupload) {
                let self = this;

                self.Safileuploads = fileupload;
                this.destroyComponent = false;

                _Ajax("/LegalSystem_DEV/LegalTab/UploadData",
                    {
                        files: fileupload,
                        model: self.dataUpload_temp
                    }, null, function (res) {
                        toastr.success(res);
                        tableSaUpload.fnDraw();
                        $("#frmSaUpload").modal('hide');
                    });
            },
            ViewFileUpload: function (obj) {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/SelectDataView",
                    {
                        model: obj
                    }, null, function (res) {
                        debugger;
                        window.open("@Url.RouteUrl(new {
                                                Controller = "LegalTab", Action = "Download"
                                            })/?strfilename=" + res.filename + "&contype=" + res.type + "&path=" + res.filepath, '_blank')
                    });
            },
            deleteUploadFile: function (obj) {
                let self = this;

                var r = confirm("Are you sure to delete this item?");

                if (r == true) {
                    _Ajax("/LegalSystem_DEV/LegalTab/DeleteFileUpload",
                        {
                            model: obj
                        }, null, function (res) {
                            toastr.success(res);
                            tableSaUpload.fnDraw();
                        });
                }
            },
            deleteDataAssetDesc: function (obj) {
                let self = this;
                var r = confirm("Are you sure to delete this item?");

                if (r == true) {
                    _Ajax("/LegalSystem_DEV/LegalTab/DeleteDataAccessDesc",
                        {
                            model: obj
                        }, null, function (res) {
                            toastr.success(res);
                            tableSaAssetDesc.fnDraw();
                        });
                }
            },
            ValidateDataFindAsset: function () {
                let self = this;

                self.errors = [];

                if (isNull(self.datafindAsset_temp.ReceivelanddocDate)) {
                    self.errors.push("วันที่รับหนังสือให้ส่งโฉนด is required.");
                }

                if (isNull(self.datafindAsset_temp.Plaintiff)) {
                    self.errors.push("โจทก์ผู้นำยึด is required.");
                }

                if (isNull(self.datafindAsset_temp.SendlanddocDate)) {
                    self.errors.push("วันที่ส่งโฉนด/สัญญาจำนอง is required.");
                }

                if (isNull(self.datafindAsset_temp.LO_ID)) {
                    self.errors.push("สำนักงานบังคับคดี is required.");
                }

                if (isNull(self.datafindAsset_temp.Debt)) {
                    self.errors.push("ภาระหนี้ ณ วันที่นำส่ง is required.");
                }

                if (isNull(self.datafindAsset_temp.CourtZoneID)) {
                    self.errors.push("ศาล is required.");
                }

                if (isNull(self.datafindAsset_temp.SeizeDate )) {
                    self.errors.push("วันตั้งเรื่องยึด is required.");
                }

                if (isNull(self.datafindAsset_temp.SeizeFee)) {
                    self.errors.push("ค่าธรรมเนียมตั้งเรื่องยึด is required.");
                }

                if (isNull(self.datafindAsset_temp.DistrainDate)) {
                    self.errors.push("วันตั้งเรื่องอายัด is required.");
                }

                if (isNull(self.datafindAsset_temp.DistrainFee)) {
                    self.errors.push("ค่าธรรมเนียมตั้งเรื่องอายัด is required.");
                }

                if (!self.errors.length) {
                    return true
                }
                else {
                    return false
                }

            },
            SubmitDataFindAsset: function () {
                let self = this;

                if (self.ValidateDataFindAsset()) {

                    _Ajax("/LegalSystem_DEV/LegalTab/SaveChangefindAsset",
                        {
                            model: self.datafindAsset_temp,
                            status: self.status
                        }, null, function (res) {
                            toastr.success(res.message);
                            self.isSaSave = true;
                            tableSeizeAsset.fnDraw();
                            app.LegalStatus = res.legalstatus;
                            $('#frmSa').modal('hide');
                        });
                }
                else {
                    let tabError = self.errors.join('</br> ');
                    toastr.error(tabError);
                }
            },
        },

    });
</script>