﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="PDFPage.aspx.cs" Inherits="LegalSystem.Pages.Helper.PDFPage" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    <iframe></iframe>
    </div>
    </form>
</body>
</html>
