﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization

@model LegalSystem.Model.LegalTabViewModel

@{
    ViewBag.Title = "Index";
    Layout = null;
    string strLegalStatus = (string.IsNullOrEmpty(Model.legalInfo.LegalStatus) ? "0" : Model.legalInfo.LegalStatus);
    string strTray = (string.IsNullOrEmpty(Model.legalInfo.TrayID.ToString()) ? string.Empty : Model.legalInfo.TrayID.ToString());

}

<div id="frmLegal" class="row justify-content-center">
    <div class="col-lg-12 col-md-12 col-12">
        <div class="card" style="margin-top:5px">
            <div class="card-body ">
                <div class="row col-md-12">
                    <div class="col-md-1 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">

                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2 col-sm-2 text-right">
                        <div class="tim-typo mt-4-5">

                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-2  text-right">
                        <div class="tim-typo mt-4-5">

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <button type="button" class="btn btn-success" v-on:click="submitFormData();" :disabled="isDisableSaveButton"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                            &nbsp;
                            <button id="btnBack" type="button" class="btn btn-fill btn-default" v-on:click="BackMenu();"><i class="fa fa-arrow-left"></i>&nbsp;Back</button>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12">
                    <div class="col-md-1 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">CIF :</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" id="txtCIF_L" runat="server" value="@Model.legalInfo.CifNo" class="form-control" style="padding-left: 1em;" readonly />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">Legal No :</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" id="txtLegalNo_L" value="@Model.legalInfo.LegalNo" runat="server" class="form-control" style="padding-left: 1em;" readonly />
                        </div>
                    </div>
                    <div class="col-md-2  text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">Legal Status :</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select id="ddlLegalStatus" class="form-control" v-model="LegalStatus" @@change="ddlLegalStatusOnChange();" :disabled="isDisableDDLLegal">
                                <option :value="0">-- Please Select --</option>
                                <option v-for="option in listLegalStatus" v-bind:value="option.Value" :disabled="option.Disabled">
                                    {{ option.Text }}
                                </option>
                            </select>
                            @*<asp:DropDownList ID="ddlLegalStatus_L" runat="server" CssClass="form-control" DataValueField="ActionCode" DataTextField="LegalStatusDisplay" Enabled="false"></asp:DropDownList>*@
                        </div>
                    </div>
                </div>
                <div class="row" style="padding-top:30px;padding-left:10px;">
                    <ul class="nav nav-pills" data-tabs="tablist">
                        <li class="nav-item">
                            <a id="t1" class="nav-link" href="#Tab1" v-on:click="ActiveTabOnClick($event)" data-toggle="tab">1 รับเรื่องดำเนินคดี</a>
                        </li>
                        <li class="nav-item">
                            <a id="t2" class="nav-link" href="#Tab2" v-on:click="ActiveTabOnClick($event)" data-toggle="tab">2 ออกหนังสือ</a>
                        </li>
                        <li class="nav-item">
                            <a id="t3" class="nav-link" href="#Tab3" v-on:click="ActiveTabOnClick($event)" data-toggle="tab">3 ระหว่างพิจารณา</a>
                        </li>
                        <li class="nav-item">
                            <a id="t4" class="nav-link" href="#Tab4" v-on:click="ActiveTabOnClick($event)" data-toggle="tab">4 บังคับคดี</a>
                        </li>
                        <li class="nav-item">
                            <a id="t5" class="nav-link" href="#Tab5" v-on:click="ActiveTabOnClick($event)" data-toggle="tab">5 สืบทรัพย์ / ยึดทรัพย์</a>
                        </li>
                        <li class="nav-item">
                            <a id="t6" class="nav-link" href="#Tab6" v-on:click="ActiveTabOnClick($event)" data-toggle="tab">6 ค่าจ้างค่าธรรมเนียม</a>
                        </li>
                        <li class="nav-item">
                            <a id="t7" class="nav-link" href="#Tab7" v-on:click="ActiveTabOnClick($event)" data-toggle="tab">7 เอกสารแนบ</a>
                        </li>
                        <li class="nav-item">
                            <a id="t8" class="nav-link" href="#Tab8" v-on:click="ActiveTabOnClick($event)" data-toggle="tab">8 ปรับภาระหนี้ตามคำพิพากษา</a>
                        </li>
                    </ul>
                    <div class="tab-content tab-space col-md-12">
                        <div class="tab-pane" id="Tab1">
                            <tab1-component ref="tab1">
                            </tab1-component>
                        </div>
                        <div class="tab-pane" id="Tab2">
                            <tab2-component ref="tab2">
                            </tab2-component>
                        </div>
                        <div class="tab-pane" id="Tab3">
                            <tab3-component ref="tab3">
                            </tab3-component>
                        </div>
                        <div class="tab-pane" id="Tab4">
                            <tab4-component ref="tab4">
                            </tab4-component>
                        </div>
                        <div class="tab-pane" id="Tab5">
                            <tab5-component ref="tab5">
                            </tab5-component>
                        </div>
                        <div class="tab-pane" id="Tab6">
                            <tab6-component ref="tab6">
                            </tab6-component>
                        </div>
                        <div class="tab-pane" id="Tab7">
                            <tab7-component ref="tab7">
                            </tab7-component>
                        </div>
                        <div class="tab-pane" id="Tab8">
                            ยังไม่ได้ทำ
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer justify-content-center">
                <div class="card-footer justify-content-center">
                    <button-permission ref="buttonPermission"></button-permission>
                </div>
            </div>
        </div>
    </div>

</div>

@Html.Partial("~/Views/LegalTab/lagalTab1.cshtml", Model)
@Html.Partial("~/Views/LegalTab/lagalTab2.cshtml", Model)
@Html.Partial("~/Views/LegalTab/lagalTab3.cshtml", Model)
@Html.Partial("~/Views/LegalTab/lagalTab4.cshtml", Model)
@Html.Partial("~/Views/LegalTab/lagalTab5.cshtml", Model)
@Html.Partial("~/Views/LegalTab/lagalTab6.cshtml", Model)
@Html.Partial("~/Views/LegalTab/lagalTab7.cshtml", Model)
@Html.Partial("~/Views/LegalTabComponent/_ButtonPermissionComponent.cshtml", Model)
@Html.Partial("~/Views/Shared/_Select2SingleComponent.cshtml")

<script type="text/javascript">
    var app = new Vue({
        el: '#frmLegal',
        data: function () {
            return {
                lblBtnPrint: 'Print'
                , showModal: false
                , FirstLetterForm : false
                , cssPrint:'fa fa-print'
                , DocumentStatusID: '@Model.DocStatusID'
                , isDisableDDLLegal: true
                , isDisableSaveButton: true
                , RequestID: '@Model.RequestID'
                , RequestType: '@Model.legalInfo.RequestType'
                , listLegalStatus: []
                , trayController: {}
                , LegalStatus: '@strLegalStatus'
                , ActiveTab: '@Model.legalInfo.ActiveTab'
                , disablePrintButton: false
                , SelLegalStatus:''
            }
        },

        methods: {

            LoadListLegalStatus: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListLegalStatus",
                    {},null, function (res) {
                        self.listLegalStatus = res;
                    });
            },
            IsTabEnable: function (id, status) {

                $('#' + id + '').removeClass();

                if (status == '1') {
                    $('#' + id + '').addClass("nav-link");
                }
                else {
                    $('#' + id + '').addClass("nav-link disabled");
                }
            },

            DisableAllTab: function () {
                let self = this;

                self.IsTabEnable('t2', '0');
                self.IsTabEnable('t3', '0');
                self.IsTabEnable('t4', '0');
                self.IsTabEnable('t5', '0');
                //self.IsTabEnable('t6', '0');
                //self.IsTabEnable('t7', '0');
                //self.IsTabEnable('t8', '0');
            },
            submitDataTab1: function ()
            {
                let self = this;

                var _tab1 = this.$refs.tab1;

                console.log(_tab1.errorsTab1);

                if (!_tab1.validateTab1()) {
                    let tab1ER = _tab1.errorsTab1.join('</br> ');

                    toastr.error(tab1ER);
                }
                else {

                    _tab1.submitDataTab1();
                }
            },
            submitFormData: function () {
                let self = this;

                debugger;

                switch (self.ActiveTab) {
                    case '2':
                        let _tab2 = this.$refs.tab2;

                        if (!_tab2.validateTab2()) {
                            let tab2ER = _tab2.errorsTab2.join('</br> ');

                            toastr.error(tab2ER);
                        }
                        else {

                            _tab2.submitDataTab2();
                        }

                        break;
                    case '3':
                        let _tab3 = this.$refs.tab3;

                        if (!_tab3.validateTab3()) {
                            let tab3ER = _tab3.errorsTab3.join('</br> ');

                            toastr.error(tab3ER);
                        }
                        else {

                            _tab3.submitDataTab3();
                        }

                        break;
                    case '4':
                        let _tab4 = this.$refs.tab4;
                        _tab4.SelectlegalStatus = self.SelLegalStatus;

                        if (!_tab4.validateTab4()) {
                            let tab4ER = _tab4.errorsTab4.join('</br> ');

                            toastr.error(tab4ER);
                        }
                        else {
                            _tab4.submitDataTab4();
                        }
                        break;
                    case '5':
                        let _tab5 = this.$refs.tab5;
                        _tab5.SelectlegalStatus = self.SelLegalStatus;
                        _tab5.submitDataTab5();
                        break;
                    case '6':

                        break;
                    case '7':

                        break;
                    case '8':

                        break;
                    default:
                        self.submitDataTab1();
                        break;
                }

            },

            LegalTabControl: function () {
                let self = this;
                self.DisableAllTab();

                if (isNull(self.ActiveTab)) {
                    self.IsTabEnable('t1', '1');
                    $('#t1').addClass("nav-link active");
                    $('#Tab1').addClass("tab-pane active");
                }
                else {

                    for (i = 1; i <= self.ActiveTab; i++) {
                        self.IsTabEnable('t' + i, '1');
                    }

                    //Active Tab and Active Content
                    $('#t' + self.ActiveTab).addClass("nav-link active");
                    $('#Tab' + self.ActiveTab).addClass("tab-pane active");

                }

                switch (self.ActiveTab) {
                    case '2':
                        self.isDisableDDLLegal = true;
                        self.isDisableSaveButton = false;
                        break;
                    case '3':
                        self.isDisableDDLLegal = true;
                        self.isDisableSaveButton = false;
                        break;
                    case '4':
                        self.isDisableDDLLegal = false;
                        self.isDisableSaveButton = false;
                        break;
                    case '5':
                        self.isDisableDDLLegal = false;
                        self.isDisableSaveButton = false;
                        break;
                    case '6':
                        self.isDisableDDLLegal = true;
                        self.isDisableSaveButton = true;
                        break;
                    case '7':
                        self.isDisableDDLLegal = true;
                        self.isDisableSaveButton = true;
                        break;
                    case '8':
                        self.isDisableDDLLegal = true;
                        self.isDisableSaveButton = true;
                        break;
                    default:
                        self.isDisableDDLLegal = true;
                        self.isDisableSaveButton = false;
                        break;
                }


            },
            ActiveTabOnClick: function (event) {
                let self = this;

                targetId = event.currentTarget.id;
                targetCSS = event.currentTarget.className;

                if (targetCSS != 'nav-link disabled') {
                    self.ActiveTab = targetId.substring(1, 2);

                    switch (self.ActiveTab) {
                        case '2':
                            self.isDisableDDLLegal = true;
                            self.isDisableSaveButton = false;
                            break;
                        case '3':
                            self.isDisableDDLLegal = true;
                            self.isDisableSaveButton = false;
                            break;
                        case '4':
                            self.isDisableDDLLegal = false;
                            self.isDisableSaveButton = false;
                            break;
                        case '5':
                            self.isDisableDDLLegal = false;
                            self.isDisableSaveButton = false;
                            break;
                        case '6':
                            self.isDisableDDLLegal = true;
                            self.isDisableSaveButton = true;
                            break;
                        case '7':
                            self.isDisableDDLLegal = true;
                            self.isDisableSaveButton = true;
                            break;
                        case '8':
                            self.isDisableDDLLegal = true;
                            self.isDisableSaveButton = true;
                            break;
                        default:
                            self.isDisableDDLLegal = true;
                            self.isDisableSaveButton = false;
                            break;
                    }

                }
            },
            BackMenu: function () {
                let self = this;

                if (!isNull(@strTray)) {
                    switch (@strTray) {
                        case 2:
                            window.location.href = "/LegalSystem_DEV/Tray/Tray2";
                            break;
                        case 3:
                            window.location.href = "/LegalSystem_DEV/Tray/Tray3";
                            break;
                        case 4:
                            window.location.href = "/LegalSystem_DEV/Tray/Tray4";
                            break;
                        case 5:
                            window.location.href = "/LegalSystem_DEV/Tray/Tray5";
                            break;
                        default:
                            window.location.href = "/LegalSystem_DEV/Tray/Tray1";
                            break;
                    }
                }
            },

            ddlLegalStatusOnChange: function () {
                let self = this;

                self.SelLegalStatus = self.LegalStatus;
            }
        },
        mounted() {
            let self = this;

            self.LoadListLegalStatus();
            self.LegalTabControl();

        },
    });


</script>