﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelT3 = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-tab3">
    <div>
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">คำฟ้องถูกต้อง/ไม่ถูกต้อง</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" v-model="model_T3.IndictmentStatus">
                                <option :value="null">-- Please Select --</option>
                                <option v-for="(item, index) in listIndictment" :key="index" v-bind:value="item.Value">
                                    {{ item.Text }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 col-1">
                        <div class="form-group bmd-form-group">
                            <input type="text" id="txtComment" class="form-control" v-model="model_T3.IndictmentReason">
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">คดีดำ</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" id="txtBlackCase" class="form-control" v-model="model_T3.Blackcase" maxlength="13" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="tim-typo mt-4-5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ศาล</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group">
                            <select2-single :placeholdermesssage="'-- Please Select --'"
                                            :options="listCourt"
                                            :defaultselected="true"
                                            :allowclear="true"
                                            v-model="model_T3.CourtZoneID"
                                            v-bind:disabled="false">
                            </select2-single>
                        </div>
                        @*<div class="form-group bmd-form-group">
                            <select class="form-control" v-model="model_T3.Court">
                                <option :value="null">-- Please Select --</option>
                                <option v-for="(item, index) in listProvince" :key="index" v-bind:value="item.Value">
                                    {{ item.Text }}
                                </option>
                            </select>
                        </div>*@
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ทุนทรัพย์</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text"  v-model="selCapital"
                                   v-on:change="set_Number($event.target,'1')" 
                                   @@keypress="isNumber($event)" 
                                   @@change ="CalculateCourtFee('1');" 
                                   class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="tim-typo mt-4-5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ค่าธรรมเนียมศาล</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <input type="text"  v-model="CapitalFee" class="form-control" style="padding-left: 1em;" readonly="readonly" />
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันที่ศาลนัด</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text"  v-model="CourtDate1" class="form-control" readonly="readonly" style="padding-left: 1em;"/>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div style="margin-top:27px;">
                            <button type="button" class="btn btn-success" v-on:click="addDataModal(1);"><i class="fa fa-plus"></i>&nbsp;Add</button>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">เหตุผล</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <input type="text" v-model="model_T3.CourtDateReason1" class="form-control" />
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันพิพากษา</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <datepicker-component v-model="model_T3.JudgmentDate">
                            </datepicker-component>
                        </div>
                    </div>
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันพิพากษาตามยอม</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <datepicker-component v-model="model_T3.JudgmentAllowDate">
                            </datepicker-component>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">คดีแดง</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" v-model="model_T3.RedCase" class="form-control" maxlength="13" />
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="tim-typo mt-4-5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">บัญชีค่าฤชาธรรมเนียม</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <select class="form-control" v-model="model_T3.CaseFee">
                                <option :value="null">-- Please Select --</option>
                                <option v-for="(item, index) in listCaseFee" :key="index" v-bind:value="item.Value">
                                    {{ item.Text }}
                                </option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">คำพิพากษาถูกต้อง/ไม่ถูกต้อง</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" v-model="model_T3.JudgmentStatus" @@change="OnChangeJudgmentStatus();">
                                <option :value="null">-- Please Select --</option>
                                <option v-for="(item, index) in listIndictment" :key="index" v-bind:value="item.Value">
                                    {{ item.Text }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-2 col-1">
                        <div class="form-group bmd-form-group">
                            <input type="text" class="form-control" v-model="model_T3.JudgmentReason">
                        </div>
                    </div>
                </div>

                <div class="row" v-bind:style="{ display: isDivAppealShow }">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">อุทธรณ์/งดอุทธรณ์</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" v-model="model_T3.AppealType" @@change="OnChangeAppeal();">
                                <option :value="null">-- Please Select --</option>
                                <option v-for="(item, index) in listAppeal" :key="index" v-bind:value="item.Value">
                                    {{ item.Text }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="tim-typo mt-4-5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">เหตุผล</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <input type="text" class="form-control" v-model="model_T3.AppealReason" />
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body" v-bind:style="{ display: isAppealShow }">
                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันอุทธรณ์</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <datepicker-component v-model="model_T3.AppealDate">
                                    </datepicker-component>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">คดีดำ (อุทธรณ์) </span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="model_T3.AppealBlackcase" maxlength="13" />
                                </div>
                            </div>

                        </div>

                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ทุนทรัพย์ชั้นอุทธรณ์</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" v-model="selCapital2"
                                           v-on:change="set_Number($event.target,'2')"
                                           @@keypress="isNumber($event)"
                                           @@change="CalculateCourtFee('2');"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ค่าธรรมเนียมอุทธรณ์</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text"  v-model="Capital2Fee" class="form-control" style="padding-left: 1em;" readonly="readonly" />
                                </div>
                            </div>

                        </div>

                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันยื่นแก้อุทธรณ์</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <datepicker-component v-model="model_T3.AppealEditdate">
                                    </datepicker-component>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันที่ศาลนัด (อุทธรณ์)</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="CourtDate2" readonly="readonly" style="padding-left: 1em;" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div style="margin-top:27px;">
                                    <button type="button" class="btn btn-success" v-on:click="addDataModal(2);"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">เหตุผล (อุทธรณ์)</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="model_T3.CourtDateReason2" />
                                </div>
                            </div>

                        </div>

                        <div class="row" style="padding-bottom:15px">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันที่ศาลอุทธรณ์พิพากษา</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <datepicker-component v-model="model_T3.AppealCourtjudgmentDate">
                                    </datepicker-component>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">คดีแดง (อุทธรณ์)</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="model_T3.AppealRedCase" maxlength="13" />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="row" v-bind:style="{ display: isDivPetitionShow }">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ฏีกา/งดฏีกา</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <select class="form-control" v-model="model_T3.PetitionType" @@change="OnChangePetition();">
                                <option :value="null">-- Please Select --</option>
                                <option v-for="(item, index) in listPetition" :key="index" v-bind:value="item.Value">
                                    {{ item.Text }}
                                </option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-1">
                        <div class="tim-typo mt-4-5">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">เหตุผล</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <input type="text" class="form-control" v-model="model_T3.PetitionReason" />
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body" v-bind:style="{ display: isPetitionShow }">
                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันฏีกา</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <datepicker-component v-model="model_T3.SupremeDate">
                                    </datepicker-component>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">คดีดำ (ฏีกา) </span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="model_T3.BlackcaseSupreme" maxlength="13" />
                                </div>
                            </div>

                        </div>

                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ทุนทรัพย์ชั้นฏีกา</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" v-model="selCapital3"
                                           v-on:change="set_Number($event.target,'3')"
                                           @@keypress="isNumber($event)"
                                           @@change="CalculateCourtFee('3');"
                                           class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ค่าธรรมเนียมฏีกา</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text"  v-model="Capital3Fee" class="form-control" style="padding-left: 1em;" readonly="readonly" />
                                </div>
                            </div>

                        </div>

                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันยื่นแก้ฏีกา</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <datepicker-component v-model="model_T3.SupremeEditDate
">
                                    </datepicker-component>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันที่ศาลนัด (ฏีกา)</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="CourtDate3" readonly="readonly" style="padding-left: 1em;" />
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div style="margin-top:27px;">
                                    <button type="button" class="btn btn-success" v-on:click="addDataModal(3);"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                </div>
                            </div>
                        </div>

                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">เหตุผล (ฏีกา)</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="model_T3.CourtDateReason3" />
                                </div>
                            </div>

                        </div>

                        <div class="row" style="padding-bottom:15px">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันที่ศาลฏีกาพิพากษา</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <datepicker-component v-model="model_T3.SupremeCourtjudgmentDate">
                                    </datepicker-component>
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">คดีแดง (ฏีกา)</span><span class="tim-note text-danger"> *</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="model_T3.SupremeRedCase" maxlength="13"  />
                                </div>
                            </div>

                        </div>
                    </div>
                </div>



                <!-- Modal -->
                <div class="modal fade bd-example-modal-lg" id="frmModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg" style="width:800px;">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p v-if="errors.length">
                                    <b class="text-danger">Please correct the following error(s):</b>
                                    <ul>
                                        <li v-for="error in errors" class="text-danger">{{ error }}</li>
                                    </ul>
                                </p>
                                <div class="row" style="margin-top: -40px;margin-bottom: 40px;">
                                    <div class="col-md-2 text-right">
                                        <div class="tim-typo mt-4-5">
                                            <h5>
                                                <span class="tim-note">วันที่ศาลนัด</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="form-group">
                                            <datepicker-component v-model="dataModal_temp.CourtDate">
                                            </datepicker-component>
                                        </div>
                                    </div>
                                    <div class="col-md-2 col-sm-1 text-right">
                                        <div class="tim-typo mt-4-5">
                                            <h5>
                                                <span class="tim-note">เหตุผล</span>
                                            </h5>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group bmd-form-group">
                                            <input type="text"  class="form-control" v-model="dataModal_temp.Comment">
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: -50px;margin-bottom: 40px;">
                                    <div class="col-md-12" style="margin-left:4%;">
                                        <div class="form-group">
                                            <button type="button" class="btn btn-success" v-on:click="SubmitDataModal();"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
                                            &nbsp;
                                            <button  type="button" class="btn btn-fill btn-default" v-on:click="ResetDataModal();"><i class="fa fa-undo"></i>&nbsp;Clear</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="material-datatables table-responsive">
                                        <table id="gv" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th style="font-weight: bold;font-size: small;">No</th>
                                                    <th style="font-weight: bold;font-size: small;">วันที่ศาลนัด</th>
                                                    <th style="font-weight: bold;font-size: small;">เหตุผล</th>
                                                    <th style="font-weight: bold;font-size: small;">Action</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                        </table>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
        var tableSearch;
        var tab3Component = Vue.component('tab3-component', {
        template: '#legal-tab3',
            mounted() {
                let self = this;

                self.InitialData();

                tableSearch = $("#gv").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryCourtAppointmentDate",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: self.dataModal_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        { data: "RowNo" },
                        {
                            data: 'CourtDate',
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        { data: "Comment" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.CA_ID + '"><i class="fa fa-edit"></i>&nbsp;&nbsp;Edit</a>'
                                    + '&nbsp;&nbsp;<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.CA_ID + '"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>';
                            }
                        },

                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableSearch.fnGetData($(this).parents('tr')[0]);
                    self.editDataModal(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableSearch.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataModal(dataRow);
                });
        },
        data: function () {
            return {
                modalTitle: '',
                status: '',
                errors: [],
                errorsTab3: [],
                model_T3: JSON.parse('@modelT3'),
                listAppeal: [],
                listPetition: [],
                listIndictment: [],
                listCaseFee: [],
                //listProvince: [],
                listCourt: [],
                isDivAppealShow: 'flex',
                isDivPetitionShow: 'flex',
                isAppealShow: 'block',
                isPetitionShow: 'block',
                CapitalFee: '@Model.legalInfo.Courtfees',
                Capital2Fee: '@Model.legalInfo.AppealFee',
                Capital3Fee: '@Model.legalInfo.SupremeFee',
                selCapital: '@Model.legalInfo.Capital',
                selCapital2: '@Model.legalInfo.AppealCapital',
                selCapital3: '@Model.legalInfo.SupremeCapital',
                dataModal_temp: {},
                Modal_create: {
                    CA_ID: '',
                    CourtID: '',
                    RequestID: '',
                    CourtDate: null,
                    Comment: ''
                },
                CourtDate1: '',
                CourtDate2: '',
                CourtDate3: '',

            }
        },
        methods: {
            addDataModal: function (type) {
                let self = this;

                debugger;
                self.errors = [];
                self.modalTitle = "Add วันที่ศาลนัด";
                self.status = 'Add';

                _createObj(self.dataModal_temp, self.Modal_create);

                switch (type)
                {
                    case 2:
                        self.dataModal_temp.CourtID = 2;
                        break;
                    case 3:
                        self.dataModal_temp.CourtID = 3;
                        break;
                    default:
                        self.dataModal_temp.CourtID = 1;
                        break;
                }

                self.dataModal_temp.RequestID = self.model_T3.RequestID;
                tableSearch.fnDraw();
                $("#frmModal").modal('show');
            },
            editDataModal: function (obj) {
                let self = this;
                debugger;

                self.errors = [];
                self.modalTitle = "Edit วันที่ศาลนัด";
                self.status = 'Edit';
                obj.CourtDate = _moment_DDMMYY(obj.CourtDate);
                _.assign(self.dataModal_temp, obj);
                $("#frmModal").modal('show');
            },
            deleteDataModal: function (obj) {
                let self = this;

                var r = confirm("Are you sure to delete this item?");
                if (r == true) {
                    _Ajax("/LegalSystem_DEV/LegalTab/DeleteCourtAppointmentDate"
                        , {
                            strCA_ID: obj.CA_ID
                        }
                        , null, function (res) {
                            toastr.error(res);
                            tableSearch.fnDraw();
                            debugger;
                            self.LoadLastAppointmentDate(obj.CourtID);
                        });
                }
            },
            ResetDataModal: function () {
                let self = this;

                self.errors = [];
                self.modalTitle = "Add วันที่ศาลนัด";
                self.status = 'Add';
                self.dataModal_temp.CourtDate = null;
                self.dataModal_temp.Comment = '';

            },
            ValidateModal: function () {
                let self = this;

                self.errors = [];

                if (isNull(self.dataModal_temp.CourtDate)) {
                    self.errors.push("วันที่ศาลนัด is required.");
                }

                if (isNull(self.dataModal_temp.Comment)) {
                    self.errors.push("เหตุผล is required.");
                }

                if (!self.errors.length) {
                    return true
                }
                else {
                    return false
                }

            },
            SubmitDataModal: function () {
                let self = this;

                if (self.ValidateModal()) {

                    _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeCourtAppointmentDate",
                        {
                            model: self.dataModal_temp,
                            status: self.status
                        }, null, function (res) {
                            toastr.success(res);
                            self.ResetDataModal();
                            tableSearch.fnDraw();
                            debugger;
                            self.LoadLastAppointmentDate(self.dataModal_temp.CourtID);
                        });
                }
            },
            LoadLastAppointmentDate: function (CourtID) {
                let self = this;
                debugger;
                _Ajax("/LegalSystem_DEV/LegalTab/GetLastAppointmentDate",
                    {
                        model: self.dataModal_temp
                    }, null, function (res) {
                        switch (CourtID) {
                            case 2:
                                self.CourtDate2 = _moment_DDMMYY(res);
                                break;
                            case 3:
                                self.CourtDate3 = _moment_DDMMYY(res);
                                break;
                            default:
                                self.CourtDate1 = _moment_DDMMYY(res);
                                break;
                        }
                    });
            },
            LoadListAppeal: function () {
                let self = this;

                self.OnChangeAppeal();

                _Ajax("/LegalSystem_DEV/LegalTab/ListAppeal",
                    {}, null, function (res) {
                        self.listAppeal = res;
                });
            },
            LoadListPetition: function () {
                let self = this;

                self.OnChangePetition();

                _Ajax("/LegalSystem_DEV/LegalTab/ListPetition",
                    {}, null, function (res) {
                        self.listPetition = res;
                    });
            },
            LoadListIndictment: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListIndictment",
                    {}, null, function (res) {
                        self.listIndictment = res;
                    });
            },
            LoadListCaseFee: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListCaseFee",
                    {}, null, function (res) {
                        self.listCaseFee = res;
                    });
            },
            LoadListCourt: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListCourtZone",
                    {}, null, function (res) {
                        self.listCourt = res;
                    });
            },
            //LoadListProvince: function () {
            //    let self = this;

            //    _Ajax("/LegalSystem_DEV/LegalTab/ListProvince",
            //        {}, null, function (res) {
            //            self.listProvince = res;
            //        });
            //},
            OnChangeAppeal: function () {
                let self = this;

                if (isNull(self.model_T3.AppealType) || self.model_T3.AppealType == '2' || self.model_T3.AppealType == '0') {
                    self.isAppealShow = 'none';
                }
                else {
                    self.isAppealShow = 'block';
                }
            },
            OnChangePetition: function () {
                let self = this;

                if (isNull(self.model_T3.PetitionType) || self.model_T3.PetitionType == '2' || self.model_T3.PetitionType == '0') {
                    self.isPetitionShow = 'none';
                }
                else {
                    self.isPetitionShow = 'block';
                }
            },
            OnChangeJudgmentStatus: function () {
                let self = this;

                if (isNull(self.model_T3.JudgmentStatus) || self.model_T3.JudgmentStatus == '2' || self.model_T3.JudgmentStatus == '0') {
                    self.isDivAppealShow = 'none';
                    self.isDivPetitionShow = 'none';
                    self.model_T3.AppealType = null;
                    self.model_T3.PetitionType = null;
                    self.OnChangeAppeal();
                    self.OnChangePetition();
                }
                else {
                    self.isDivAppealShow = 'flex';
                    self.isDivPetitionShow = 'flex';
                }
            },
            CalculateCourtFee: function (type) {
                let self = this;

                switch (type) {
                    case '2':
                        _Ajax("/LegalSystem_DEV/LegalTab/ListCourtFee",
                            {
                                id: type,
                                capital: ConvertToNumber(self.selCapital2)
                            }, null, function (res) {
                                self.Capital2Fee = self.numberToFixed(res);
                            });
                        break;
                    case '3':
                        _Ajax("/LegalSystem_DEV/LegalTab/ListCourtFee",
                            {
                                id: type,
                                capital: ConvertToNumber(self.selCapital3)
                            }, null, function (res) {
                                self.Capital3Fee = self.numberToFixed(res);
                            });
                        break;
                    default:
                        _Ajax("/LegalSystem_DEV/LegalTab/ListCourtFee",
                            {
                                id: type,
                                capital:   ConvertToNumber(self.selCapital)
                            }, null, function (res) {
                                self.CapitalFee = self.numberToFixed(res);
                            });
                        break;
                }
            },
            set_Number: function (e,type) {
                let self = this;
                var $value = self.numberToFixed(e.value)

                switch (type)
                {
                    case '2':
                        self.selCapital2 = $value;
                        break;
                    case '3':
                        self.selCapital3 = $value;
                        break;
                    default:
                        self.selCapital = $value;
                        break;
                }
            },
            numberToFixed: function (value) {
                let obj = { value: _.toString(value) }
                NumberToFixed(obj);
                return obj.value;
            },
            isNumber: function (evt) {
                evt = (evt) ? evt : window.event;
                var charCode = (evt.which) ? evt.which : evt.keyCode;
                if ((charCode > 31 && (charCode < 48 || charCode > 57)) && charCode !== 46) {
                    evt.preventDefault();
                } else {
                    return true;
                }
            },
            InitialData: function () {
                let self = this;

                self.CourtDate1 = self.model_T3.LastCourtDate1;
                self.CourtDate2 = self.model_T3.LastCourtDate2;
                self.CourtDate3 = self.model_T3.LastCourtDate3;

                if (!isNull(self.selCapital)) {
                    self.selCapital = self.numberToFixed(self.selCapital);
                }

                if (!isNull(self.CapitalFee)) {
                    self.CapitalFee = self.numberToFixed(self.CapitalFee);
                }
                if (!isNull(self.selCapital2)) {
                    self.selCapital2 = self.numberToFixed(self.selCapital2);
                }

                if (!isNull(self.Capital2Fee)) {
                    self.Capital2Fee = self.numberToFixed(self.Capital2Fee);
                }
                if (!isNull(self.selCapital3)) {
                    self.selCapital3 = self.numberToFixed(self.selCapital3);
                }

                if (!isNull(self.Capital3Fee)) {
                    self.Capital3Fee = self.numberToFixed(self.Capital3Fee);
                }
                if (!isNull(self.CourtDate1)) {
                    self.CourtDate1 = _moment_DDMMYY(self.CourtDate1);
                }
                if (!isNull(self.CourtDate2)) {
                    self.CourtDate2 = _moment_DDMMYY(self.CourtDate2);
                }
                if (!isNull(self.CourtDate3)) {
                    self.CourtDate3 = _moment_DDMMYY(self.CourtDate3);
                }

                self.LoadListAppeal();
                self.LoadListPetition();
                self.LoadListIndictment();
                self.LoadListCaseFee();
                self.LoadListCourt();
                self.OnChangeJudgmentStatus();

            },
            validateTab3: function () {
                let self = this;

                self.errorsTab3 = [];



                if (isNull(self.model_T3.IndictmentStatus))
                {
                    self.errorsTab3.push("คำฟ้องถูกต้อง/ไม่ถูกต้อง is required.");
                }
                if (isNull(self.model_T3.Blackcase)) {
                    self.errorsTab3.push("คดีดำ is required.");
                }

                if (isNull(self.model_T3.CourtZoneID)) {
                    self.errorsTab3.push("ศาล is required.");
                }

                if (isNull(self.selCapital)) {
                    self.errorsTab3.push("ทุนทรัพย์ is required.");
                }

                if (isNull(self.CourtDate1)) {
                    self.errorsTab3.push("วันที่ศาลนัด is required.");
                }

                if (isNull(self.model_T3.CourtDateReason1)) {
                    self.errorsTab3.push("เหตุผล is required.");
                }
                //if (isNull(self.model_T3.JudgmentDate)) {
                //    self.errorsTab3.push("วันพิพากษา is required.");
                //}

                //if (isNull(self.model_T3.JudgmentAllowDate)) {
                //    self.errorsTab3.push("วันพิพากษาตามยอม is required.");
                //}

                if (isNull(self.model_T3.RedCase)) {
                    self.errorsTab3.push("คดีแดง is required.");
                }

                if (isNull(self.model_T3.CaseFee)) {
                    self.errorsTab3.push("บัญชีค่าฤชาธรรมเนียม is required.");
                }

                if (isNull(self.model_T3.JudgmentStatus)) {
                    self.errorsTab3.push("คำพิพากษาถูกต้อง/ไม่ถูกต้อง is required.");
                }
                //Validate Case คำพิพากษาถูกต้อง
                if (self.model_T3.JudgmentStatus == '1')
                {
                     //Validate Case อุทธรณ์/งดอุทธรณ์
                    if (isNull(self.model_T3.AppealType)) {
                        self.errorsTab3.push("อุทธรณ์/งดอุทธรณ์ is required.");
                    }

                    if (self.model_T3.AppealType == '1') {

                        //if (isNull(self.model_T3.AppealDate)) {
                        //    self.errorsTab3.push("วันอุทธรณ์ is required.");
                        //}
                        if (isNull(self.model_T3.AppealBlackcase)) {
                            self.errorsTab3.push("คดีดำ (อุทธรณ์) is required.");
                        }
                        if (isNull(self.selCapital2)) {
                            self.errorsTab3.push("ทุนทรัพย์ชั้นอุทธรณ์ is required.");
                        }
                        if (isNull(self.model_T3.AppealEditdate)) {
                            self.errorsTab3.push("วันยื่นแก้อุทธรณ์ is required.");
                        }
                        if (isNull(self.CourtDate2)) {
                            self.errorsTab3.push("วันที่ศาลนัด (อุทธรณ์) is required.");
                        }
                        if (isNull(self.model_T3.CourtDateReason2)) {
                            self.errorsTab3.push("เหตุผล (อุทธรณ์) is required.");
                        }
                        //if (isNull(self.model_T3.AppealCourtjudgmentDate)) {
                        //    self.errorsTab3.push("วันที่ศาลอุทธรณ์พิพากษา is required.");
                        //}
                        if (isNull(self.model_T3.AppealRedCase)) {
                            self.errorsTab3.push("คดีแดง (อุทธรณ์) is required.");
                        }
                    }

                     //Validate Case ฏีกา/งดฏีกา
                    if (isNull(self.model_T3.PetitionType)) {
                        self.errorsTab3.push("ฏีกา/งดฏีกา is required.");
                    }
                    if (self.model_T3.PetitionType == '1') {
                        //if (isNull(self.model_T3.SupremeDate))
                        //{
                        //    self.errorsTab3.push("วันฏีกา is required.");
                        //}
                        if (isNull(self.model_T3.BlackcaseSupreme)) {
                            self.errorsTab3.push("คดีดำ (ฏีกา) is required.");
                        }
                        if (isNull(self.selCapital3)) {
                            self.errorsTab3.push("ทุนทรัพย์ชั้นฏีกา is required.");
                        }
                        if (isNull(self.model_T3.SupremeEditDate)) {
                            self.errorsTab3.push("วันยื่นแก้ฏีกา is required.");
                        }
                        if (isNull(self.CourtDate3)) {
                            self.errorsTab3.push("วันที่ศาลนัด (ฏีกา) is required.");
                        }
                        if (isNull(self.model_T3.CourtDateReason3)) {
                            self.errorsTab3.push("เหตุผล (ฏีกา) is required.");
                        }
                        //if (isNull(self.model_T3.SupremeCourtjudgmentDate)) {
                        //    self.errorsTab3.push("วันที่ศาลฏีกาพิพากษา is required.");
                        //}
                        if (isNull(self.model_T3.SupremeRedCase)) {
                            self.errorsTab3.push("คดีแดง (ฏีกา) is required.");
                        }
                    }
                }


                if (!self.errorsTab3.length) {
                    return true
                }
                else {
                    return false
                }

            },
            submitDataTab3: function () {
                let self = this;

                self.model_T3.ActiveTab = '4';

                self.model_T3.Capital = ConvertToNumber(self.selCapital);
                self.model_T3.Courtfees = ConvertToNumber(self.CapitalFee);
                self.model_T3.AppealCapital = ConvertToNumber(self.selCapital2);
                self.model_T3.AppealFee = ConvertToNumber(self.Capital2Fee);
                self.model_T3.SupremeCapital = ConvertToNumber(self.selCapital3);
                self.model_T3.SupremeFee = ConvertToNumber(self.Capital3Fee);
                self.model_T3.LastCourtDate1 = self.CourtDate1;
                self.model_T3.LastCourtDate2 = self.CourtDate2;
                self.model_T3.LastCourtDate3 = self.CourtDate3;

                if (!isNull(self.model_T3.JudgmentDate)) {
                    self.model_T3.LegalStatus = '201';
                }
                if (!isNull(self.model_T3.JudgmentAllowDate)) {
                    self.model_T3.LegalStatus = '202';
                }
                if (!isNull(self.model_T3.AppealDate)) {
                    self.model_T3.LegalStatus = '207';
                }
                if (!isNull(self.model_T3.AppealCourtjudgmentDate)) {
                    self.model_T3.LegalStatus = '208';
                }
                if (!isNull(self.model_T3.SupremeDate)) {
                    self.model_T3.LegalStatus = '210';
                }
                if (!isNull(self.model_T3.SupremeCourtjudgmentDate)) {
                    self.model_T3.LegalStatus = '211';
                }

                _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeLegalInfoTab3",
                    {
                        model: self.model_T3,
                    }
                    , null, function (res) {
                        toastr.success(res.Msg);
                        location.reload();
                    });
            }
        },

    });
</script>
