﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelT5 = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-tab5">
    <div>
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">สืบทรัพย์</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-1 text-right">
                        <div style="margin-top:27px;">
                            <button type="button" class="btn btn-success" v-on:click="addDataModal('1');"><i class="fa fa-plus"></i>&nbsp;เพิ่ม/แก้ไขข้อมูล</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">     
                        <div class="row" style="margin-bottom:1%;">
                            <div class="container col-md-8 text-center">
                                <div class="material-datatables table-responsive">
                                    <table id="gvfindAsset" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bold;font-size: small;">สืบครั้งที่</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่สืบ</th>
                                                <th style="font-weight: bold;font-size: small;">รายละเอียด</th>
                                                <th style="font-weight: bold;font-size: small;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card card-nav-tabs" style="padding-top:20PX;">
                    <h4 class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-wrapper">
                            <ul class="nav nav-tabs" data-tabs="tabs">
                                <li class="nav-item">
                                    <a class="nav-link active show" href="#T1" data-toggle="tab">Reassign กรณีสืบทรัพย์</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#T2" data-toggle="tab">Reassign กรณียึดทรัพย์/ขายทอดตลาด<div class="ripple-container"></div></a>
                                </li>
                            </ul>
                        </div>
                    </h4>
                    <div class="tab-content">
                        <div class="tab-pane active" id="T1">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    <div class="tim-typo mt-4-5">
                                        <h5>
                                            <span class="tim-note">ทนายใน</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="model_T5.TH_Name" style="padding-left: 1em;" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2 col-sm-1 text-right">
                                    <div class="tim-typo mt-4-5">
                                        <h5>
                                            <span class="tim-note">ทนายนอก</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-2 col-1 ">
                                    <div class="form-group bmd-form-group">
                                        <input type="text" class="form-control" v-model="model_T5.LawyerName" style="padding-left: 1em;" readonly="readonly" />
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="padding-bottom:2%">
                                <div class="col-md-2 text-right">
                                    <div class="tim-typo mt-4-5">
                                        <h5>
                                            <span class="tim-note">วันส่งเรื่องให้ทนาย</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="model_T5.SendingLawyerDate" style="padding-left: 1em;" readonly="readonly" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane" id="T2">
                            <div class="row">
                                <div class="col-md-2 text-right">
                                    <div class="tim-typo mt-4-5">
                                        <h5>
                                            <span class="tim-note">ทนายใน</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="model_T5.TH_Name" style="padding-left: 1em;" readonly="readonly" />
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-2 col-sm-1 text-right">
                                    <div class="tim-typo mt-4-5">
                                        <h5>
                                            <span class="tim-note">ทนายนอก</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-2 col-1 ">
                                    <div class="form-group bmd-form-group">
                                        <input type="text" class="form-control" v-model="model_T5.LawyerName" style="padding-left: 1em;" readonly="readonly" />
                                    </div>
                                </div>

                            </div>

                            <div class="row" style="padding-bottom:2%">
                                <div class="col-md-2 text-right">
                                    <div class="tim-typo mt-4-5">
                                        <h5>
                                            <span class="tim-note">วันส่งเรื่องให้ทนาย</span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <input type="text" class="form-control" v-model="model_T5.SendingLawyerDate" style="padding-left: 1em;" readonly="readonly" />
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ยึดทรัพย์/อายัดทรัพย์</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-1 text-right">
                        <div style="margin-top:27px;">
                            <button type="button" class="btn btn-success" v-on:click="addDataModal('2');"><i class="fa fa-plus"></i>&nbsp;เพิ่ม/แก้ไขข้อมูล</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-bottom:1%;">
                            <div class="container col-md-8 text-center">
                                <div class="material-datatables table-responsive">
                                    <table id="gvSeizeAsset" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bold;font-size: small;">ครั้งที่ยึด/อายัด</th>
                                                <th style="font-weight: bold;font-size: small;">วันตั้งเรื่องยึด/อายัด</th>
                                                <th style="font-weight: bold;font-size: small;">รายละเอียด</th>
                                                <th style="font-weight: bold;font-size: small;">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ขอรับชำระหนี้จำนอง</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-1 text-right">
                        <div style="margin-top:27px;">
                            <button type="button" class="btn btn-success" v-on:click="addDataModal('3')"><i class="fa fa-plus"></i>&nbsp;เพิ่ม/แก้ไขข้อมูล</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-bottom:1%;">
                            <div class="container col-md-8 text-center">
                                <div class="material-datatables table-responsive">
                                    <table id="gvWealthPay1" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bold;font-size: small;">No</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่</th>
                                                <th style="font-weight: bold;font-size: small;">รายละเอียดทรัพย์</th>
                                                <th style="font-weight: bold;font-size: small;">ค่าธรรมเนียมขอรับชำระหนี้</th>
                                                <th style="font-weight: bold;font-size: small;">วันนัดไต่สวน</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่ศาลมีคำสั่ง</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่ยื่นคำสั่งให้ จพค</th>
                                                <th style="font-weight: bold;font-size: small;">Edit</th>
                                                <th style="font-weight: bold;font-size: small;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ขอเฉลี่ยทรัพย์</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-1 text-right">
                        <div style="margin-top:27px;">
                            <button type="button" class="btn btn-success" v-on:click="addDataModal('4')"><i class="fa fa-plus"></i>&nbsp;เพิ่ม/แก้ไขข้อมูล</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-bottom:1%;">
                            <div class="container col-md-8 text-center">
                                <div class="material-datatables table-responsive">
                                    <table id="gvWealthPay2" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bold;font-size: small;">No</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่</th>
                                                <th style="font-weight: bold;font-size: small;">รายละเอียดทรัพย์</th>
                                                <th style="font-weight: bold;font-size: small;">ค่าธรรมเนียมขอเฉลี่ยทรัพย์</th>
                                                <th style="font-weight: bold;font-size: small;">วันนัดไต่สวน</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่ศาลมีคำสั่ง</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่ยื่นคำสั่งให้ จพค</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่รับเงิน</th>
                                                <th style="font-weight: bold;font-size: small;">จำนวนเงิน</th>
                                                <th style="font-weight: bold;font-size: small;">Edit</th>
                                                <th style="font-weight: bold;font-size: small;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ขอกันส่วน</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-1 text-right">
                        <div style="margin-top:27px;">
                            <button type="button" class="btn btn-success" v-on:click="addDataModal('5')"><i class="fa fa-plus"></i>&nbsp;เพิ่ม/แก้ไขข้อมูล</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-bottom:1%;">
                            <div class="container col-md-8 text-center">
                                <div class="material-datatables table-responsive">
                                    <table id="gvWealthPay3" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bold;font-size: small;">No</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่</th>
                                                <th style="font-weight: bold;font-size: small;">รายละเอียดทรัพย์</th>
                                                <th style="font-weight: bold;font-size: small;">ค่าธรรมเนียมขอกันส่วน</th>
                                                <th style="font-weight: bold;font-size: small;">วันนัดไต่สวน</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่ศาลมีคำสั่ง</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่ยื่นคำสั่งให้ จพค</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่รับเงิน</th>
                                                <th style="font-weight: bold;font-size: small;">จำนวนเงิน</th>
                                                <th style="font-weight: bold;font-size: small;">Edit</th>
                                                <th style="font-weight: bold;font-size: small;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ขายทอดตลาด</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-1 text-right">
                        <div style="margin-top:27px;">
                            <button type="button" class="btn btn-success" v-on:click="addDataModal('6')"><i class="fa fa-plus"></i>&nbsp;เพิ่ม/แก้ไขข้อมูล</button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-bottom:1%;">
                            <div class="container col-md-8 text-center">
                                <div class="material-datatables table-responsive">
                                    <table id="gvAuctionNew" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bold;font-size: small;">นัดที่</th>
                                                <th style="font-weight: bold;font-size: small;">วันที่ประกาศขาย</th>
                                                <th style="font-weight: bold;font-size: small;">Remark</th>
                                                <th style="font-weight: bold;font-size: small;">View Detail</th>
                                                <th style="font-weight: bold;font-size: small;">Delete</th>
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal FindAsset -->
        <fa-component ref="fa">
        </fa-component>

        <!-- Modal SeizeAsset -->
        <sa-component ref="sa">
        </sa-component>

        <!-- Modal WealthPay -->
        <wp-component ref="wp">
        </wp-component>

        <!-- Modal AuctionNew -->
        <an-component ref="an">
        </an-component>
    </div>
</template>

@Html.Partial("~/Views/LegalTabComponent/findAssetModal.cshtml", Model)
@Html.Partial("~/Views/LegalTabComponent/SeizeAssetModal.cshtml", Model)
@Html.Partial("~/Views/LegalTabComponent/_WealthPay.cshtml", Model)
@Html.Partial("~/Views/LegalTabComponent/_AuctionNew.cshtml", Model)
@Html.Partial("~/Views/LegalTabComponent/_UploadFileComponent.cshtml")
@Html.Partial("~/Views/LegalTabComponent/NumberComponent.cshtml")

<script>
    var tablefindAsset;
    var tableSeizeAsset;
    var tableWealthPay1;
    var tableWealthPay2;
    var tableWealthPay3;
    var tableAuctionNew;
    var tab5Component = Vue.component('tab5-component', {
        template: '#legal-tab5',
        mounted() {
            let self = this;

            self.InitialData();
        },
        data: function () {
            return {
                errorsTab5: [],
                model_T5: JSON.parse('@modelT5'),
                SelectlegalStatus: '',
                dataF_temp: {},
                dataSeizeAsset_temp: {},
                Modal_findAsset: {
                    f_ID: '',
                    RequestID: '',
                    findType: '',
                    findDate: null,
                    findStatus: '',
                    CreateBy: '',
                    CreateDate: '',
                    UpdateBy: '',
                    UpdateDate: '',
                },
            }
        },
        methods: {
            InitialData: function () {
                let self = this;

                self.InquiryDataFindAsset();
                self.InquiryDataSeizeAsset();
                self.InquiryDataWealthPay();
                self.InquiryDataAuctionNew();

            },
            InquiryDataFindAsset: function () {
                let self = this;

                //_.assign(self.dataF_temp, self.Modal_findAsset);
                self.dataF_temp = _.cloneDeep(self.Modal_findAsset);
                self.dataF_temp.RequestID = self.model_T5.RequestID;
                self.dataF_temp.findType = '1';

                //if (!isNull(self.model_T5.SendingLawyerDate)) {
                //    self.model_T5.SendingLawyerDate = _moment_DDMMYY(self.model_T5.SendingLawyerDate);
                //}

                //Call Data Table findAsset
                tablefindAsset = $("#gvfindAsset").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryfindAsset",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: self.dataF_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        {
                            data: 'findDate',
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.f_ID + '"><i class="fa fa-edit"></i>&nbsp;&nbsp;View</a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.f_ID + '"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>';
                            }
                        }

                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tablefindAsset.fnGetData($(this).parents('tr')[0]);
                    self.editDataModal(dataRow,'1');
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tablefindAsset.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataModal(dataRow,'1');
                });
            },
            InquiryDataSeizeAsset: function () {
                let self = this;

                _createObj(self.dataSeizeAsset_temp, self.Modal_findAsset);

                self.dataSeizeAsset_temp.RequestID = self.model_T5.RequestID;
                self.dataSeizeAsset_temp.findType = '2';

                if (!isNull(self.model_T5.SendingLawyerDate)) {
                    self.model_T5.SendingLawyerDate = _moment_DDMMYY(self.model_T5.SendingLawyerDate);
                }

                //Call Data Table SeizeAsset
                tableSeizeAsset = $("#gvSeizeAsset").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryfindAsset",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: self.dataSeizeAsset_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        {
                            data: 'SeizeDate',
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.f_ID + '"><i class="fa fa-edit"></i>&nbsp;&nbsp;View</a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.f_ID + '"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>';
                            }
                        }

                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableSeizeAsset.fnGetData($(this).parents('tr')[0]);
                    self.editDataModal(dataRow,'2');
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableSeizeAsset.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataModal(dataRow,'2');
                });
            },
            InquiryDataWealthPay: function () {
                let self = this;
                let _wp1 = this.$refs.wp;

                _wp1.dataWealthPay_temp = _.cloneDeep(_wp1.Modal_WealthPay);
                _wp1.dataWealthPay_temp.RequestID = self.model_T5.RequestID;
                _wp1.dataWealthPay_temp.W_Type = '1';

                //Call Data Table WealthPay1
                tableWealthPay1 = $("#gvWealthPay1").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryWealthPay",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: _wp1.dataWealthPay_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        {
                            data: 'W_Date',
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        { data: "W_Desc" },
                        { data: "W_Fee" },
                        {
                            data: "W_LegalDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: "W_CourtDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: "W_SendDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.W_ID + '"><i class="fa fa-edit"></i>&nbsp;&nbsp;edit</a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.W_ID + '"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>';
                            }
                        }

                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableWealthPay1.fnGetData($(this).parents('tr')[0]);
                    self.editDataModal(dataRow, '3');
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableWealthPay1.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataModal(dataRow, '3');
                });

                let _wp2 = this.$refs.wp;

                _wp2.dataWealthPay_temp = _.cloneDeep(_wp2.Modal_WealthPay);
                _wp2.dataWealthPay_temp.RequestID = self.model_T5.RequestID;
                _wp2.dataWealthPay_temp.W_Type = '2';

                //Call Data Table WealthPay1
                tableWealthPay2 = $("#gvWealthPay2").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryWealthPay",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: _wp2.dataWealthPay_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        {
                            data: 'W_Date',
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        { data: "W_Desc" },
                        { data: "W_Fee" },
                        {
                            data: "W_LegalDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: "W_CourtDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: "W_SendDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: "W_ReciveMoneyDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        { data: "W_Money" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.W_ID + '"><i class="fa fa-edit"></i>&nbsp;&nbsp;edit</a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.W_ID + '"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>';
                            }
                        }

                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableWealthPay2.fnGetData($(this).parents('tr')[0]);
                    self.editDataModal(dataRow, '4');
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableWealthPay2.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataModal(dataRow, '4');
                });

                let _wp3 = this.$refs.wp;

                _wp3.dataWealthPay_temp = _.cloneDeep(_wp3.Modal_WealthPay);
                _wp3.dataWealthPay_temp.RequestID = self.model_T5.RequestID;
                _wp3.dataWealthPay_temp.W_Type = '3';

                //Call Data Table WealthPay1
                tableWealthPay3 = $("#gvWealthPay3").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryWealthPay",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: _wp3.dataWealthPay_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        {
                            data: 'W_Date',
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        { data: "W_Desc" },
                        { data: "W_Fee" },
                        {
                            data: "W_LegalDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: "W_CourtDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: "W_SendDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        {
                            data: "W_ReciveMoneyDate",
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        { data: "W_Money" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.W_ID + '"><i class="fa fa-edit"></i>&nbsp;&nbsp;edit</a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.W_ID + '"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>';
                            }
                        }

                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableWealthPay3.fnGetData($(this).parents('tr')[0]);
                    self.editDataModal(dataRow, '5');
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableWealthPay3.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataModal(dataRow, '5');
                });

            },
            InquiryDataAuctionNew: function () {
                let self = this;
                let _an = this.$refs.an;

                _an.dataAuctionNew_temp = _.cloneDeep(_an.Modal_AuctionNew);
                _an.dataAuctionNew_temp.RequestID = self.model_T5.RequestID;

                //Call Data Table AuctionNew
                tableAuctionNew = $("#gvAuctionNew").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryAuctionNew",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: _an.dataAuctionNew_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        {
                            data: 'SellDate',
                            render: function (o) {
                                return _moment_DDMMYY(o);
                            }
                        },
                        { data: "Remark" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.W_ID + '"><i class="fa fa-edit"></i>&nbsp;&nbsp;View</a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.W_ID + '"><i class="fa fa-trash"></i>&nbsp;&nbsp;Delete</a>';
                            }
                        }

                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableAuctionNew.fnGetData($(this).parents('tr')[0]);
                    self.editDataModal(dataRow, '6');
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableAuctionNew.fnGetData($(this).parents('tr')[0]);
                    self.deleteDataModal(dataRow, '6');
                });

            },

            addDataModal: function (type) {
                let self = this;

                switch (type) {
                    case '2':
                        let _sa = this.$refs.sa;
                        self.dataF_temp.f_ID = _genGUID();
                        _sa.datafindAsset_temp = _.cloneDeep(_sa.Modal_findAsset);
                        _sa.datafindAsset_temp.f_ID = self.dataF_temp.f_ID;
                        _sa.datafindAsset_temp.RequestID = self.model_T5.RequestID;
                        _sa.datafindAsset_temp.findType = '2';
                        _sa.status = 'Add';
                        _sa.modalTitle = "Add ข้อมูลยึดทรัพย์/อายัดทรัพย์";
                        _sa.errors = [];
                        tableSaAssetDesc.fnDraw();
                        tableSaUpload.fnDraw();
                        $("#frmSa").modal('show');
                        break;
                    case '3':
                        let _wp1 = this.$refs.wp;
                        _wp1.dataWealthPay_temp = _.cloneDeep(_wp1.Modal_WealthPay);
                        _wp1.dataWealthPay_temp.RequestID = self.model_T5.RequestID;
                        _wp1.dataWealthPay_temp.W_Type = '1';
                        _wp1.status = 'Add';
                        _wp1.modalTitle = "Add ขอรับชำระหนี้จำนอง";
                        _wp1.errors = [];
                        $("#frmWP").modal('show');
                        break;
                    case '4':
                        let _wp2 = this.$refs.wp;
                        _wp2.dataWealthPay_temp = _.cloneDeep(_wp2.Modal_WealthPay);
                        _wp2.dataWealthPay_temp.RequestID = self.model_T5.RequestID;
                        _wp2.dataWealthPay_temp.W_Type = '2';
                        _wp2.status = 'Add';
                        _wp2.modalTitle = "Add ขอเฉลี่ยทรัพย์";
                        _wp2.errors = [];
                        $("#frmWP").modal('show');
                        break;
                    case '5':
                        let _wp3 = this.$refs.wp;
                        _wp3.dataWealthPay_temp = _.cloneDeep(_wp3.Modal_WealthPay);
                        _wp3.dataWealthPay_temp.RequestID = self.model_T5.RequestID;
                        _wp3.dataWealthPay_temp.W_Type = '3';
                        _wp3.status = 'Add';
                        _wp3.modalTitle = "Add ขอกันส่วน";
                        _wp3.errors = [];
                        $("#frmWP").modal('show');
                        break;
                    case '6':
                        let _an = this.$refs.an;
                        debugger;
                        _an.dataAuctionNew_temp = _.cloneDeep(_an.Modal_AuctionNew);
                        _an.dataAuctionNew_temp.f_ID = _genGUID();
                        _an.dataAuctionNew_temp.RequestID = self.model_T5.RequestID;
                        _an.status = 'Add';
                        _an.modalTitle = "Add ข้อมูลขายทอดตลาด";
                        _an.errors = [];
                        tableAnAssetDesc.fnDraw();
                        tableAnUpload.fnDraw();
                        $("#frmAN").modal('show');
                        break;
                    default:
                        let _fa = this.$refs.fa;
                        self.dataF_temp.f_ID = _genGUID();
                        _fa.datafindAsset_temp =  _.cloneDeep(_fa.Modal_findAsset);
                        _fa.datafindAsset_temp.f_ID = self.dataF_temp.f_ID;
                        _fa.datafindAsset_temp.RequestID = self.model_T5.RequestID;
                        _fa.datafindAsset_temp.findType = '1';
                        _fa.status = 'Add';
                        _fa.modalTitle = "Add ข้อมูลสืบทรัพย์";
                        _fa.errors = [];
                        tableAssetDesc.fnDraw();
                        tableUpload.fnDraw();
                        $("#frmfa").modal('show');
                        break;
                }

            },
            editDataModal: function (obj, type) {
                let self = this;

                switch (type) {
                    case '2':
                        let _sa = this.$refs.sa;
                        //convertDATE(obj);
                        _sa.datafindAsset_temp = _.cloneDeep(_sa.Modal_findAsset);
                        obj.ReceivelanddocDate = _moment_DDMMYY(obj.ReceivelanddocDate);
                        obj.SendlanddocDate = _moment_DDMMYY(obj.SendlanddocDate);
                        obj.SeizeDate = _moment_DDMMYY(obj.SeizeDate);
                        obj.DistrainDate = _moment_DDMMYY(obj.DistrainDate);
                        _sa.datafindAsset_temp = obj;
                        _sa.status = 'Edit';
                        _sa.modalTitle = "Edit ข้อมูลยึดทรัพย์/อายัดทรัพย์";
                        _sa.errors = [];
                        tableSaAssetDesc.fnDraw();
                        tableSaUpload.fnDraw();
                        $("#frmSa").modal('show');
                        break;
                    case '3':
                        let _wp1 = this.$refs.wp;
                        _wp1.dataWealthPay_temp = _.cloneDeep(_wp1.Modal_WealthPay);
                        obj.W_Date = _moment_DDMMYY(obj.W_Date);
                        obj.W_LegalDate = _moment_DDMMYY(obj.W_LegalDate);
                        obj.W_CourtDate = _moment_DDMMYY(obj.W_CourtDate);
                        obj.W_SendDate = _moment_DDMMYY(obj.W_SendDate);
                        obj.W_ReciveMoneyDate = _moment_DDMMYY(obj.W_ReciveMoneyDate);
                        //_.assign(_wp1.dataWealthPay_temp, obj);
                        _wp1.dataWealthPay_temp = obj;
                        _wp1.status = 'Edit';
                        _wp1.modalTitle = "Edit ขอรับชำระหนี้จำนอง";
                        _wp1.errors = [];
                        tableWealthPay1.fnDraw();
                        $("#frmWP").modal('show');
                        break;
                    case '4':
                        let _wp2 = this.$refs.wp;
                        debugger;
                        _wp2.dataWealthPay_temp = _.cloneDeep(_wp2.Modal_WealthPay);
                        obj.W_Date = _moment_DDMMYY(obj.W_Date);
                        obj.W_LegalDate = _moment_DDMMYY(obj.W_LegalDate);
                        obj.W_CourtDate = _moment_DDMMYY(obj.W_CourtDate);
                        obj.W_SendDate = _moment_DDMMYY(obj.W_SendDate);
                        obj.W_ReciveMoneyDate = _moment_DDMMYY(obj.W_ReciveMoneyDate);
                        _wp2.dataWealthPay_temp = obj;
                        _wp2.status = 'Edit';
                        _wp2.modalTitle = "Edit ขอเฉลี่ยทรัพย์";
                        _wp2.errors = [];
                        tableWealthPay2.fnDraw();
                        $("#frmWP").modal('show');
                        break;
                    case '5':
                        let _wp3 = this.$refs.wp;
                        _wp3.dataWealthPay_temp = _.cloneDeep(_wp3.Modal_WealthPay);
                        obj.W_Date = _moment_DDMMYY(obj.W_Date);
                        obj.W_LegalDate = _moment_DDMMYY(obj.W_LegalDate);
                        obj.W_CourtDate = _moment_DDMMYY(obj.W_CourtDate);
                        obj.W_SendDate = _moment_DDMMYY(obj.W_SendDate);
                        obj.W_ReciveMoneyDate = _moment_DDMMYY(obj.W_ReciveMoneyDate);
                        _wp3.dataWealthPay_temp = obj;
                        _wp3.status = 'Edit';
                        _wp3.modalTitle = "Edit ขอกันส่วน";
                        _wp3.errors = [];
                        tableWealthPay3.fnDraw();
                        $("#frmWP").modal('show');
                        break;
                    case '6':
                        let _an = this.$refs.an;
                        _an.dataAuctionNew_temp = _.cloneDeep(_an.Modal_AuctionNew);
                        obj.SellDate = _moment_DDMMYY(obj.SellDate);
                        obj.OutsiderBuyDate = _moment_DDMMYY(obj.OutsiderBuyDate);
                        obj.BankBuyDate = _moment_DDMMYY(obj.BankBuyDate);
                        obj.ReceiveMoneySellDate = _moment_DDMMYY(obj.ReceiveMoneySellDate);
                        _an.dataAuctionNew_temp = obj;
                        _an.status = 'Edit';
                        _an.modalTitle = "Edit ข้อมูลขายทอดตลาด";
                        _an.errors = [];
                        tableAnAssetDesc.fnDraw();
                        tableAnUpload.fnDraw();
                        $("#frmAN").modal('show');
                        break;
                    default:
                        let _fa = this.$refs.fa;
                        _fa.datafindAsset_temp = _.cloneDeep(_fa.Modal_findAsset);
                        obj.findDate = _moment_DDMMYY(obj.findDate);
                        _fa.datafindAsset_temp = obj;
                        _fa.status = 'Edit';
                        _fa.modalTitle = "Edit ข้อมูลสืบทรัพย์";
                        _fa.errors = [];
                        _fa.OnChangeFindStatus();
                        tableAssetDesc.fnDraw();
                        tableUpload.fnDraw();
                        $("#frmfa").modal('show');
                        break;
                }
            },
            deleteDataModal: function (obj, type) {
                let self = this;

                switch (type) {
                    case '2':
                        var r = confirm("Are you sure to delete this item?");

                        if (r == true) {
                            _Ajax("/LegalSystem_DEV/LegalTab/DeleteDatafindAsset",
                                {
                                    model: obj
                                }, null, function (res) {
                                    toastr.success(res);
                                    tableSeizeAsset.fnDraw();
                                });
                        }
                        break;
                    case '3':
                        var r = confirm("Are you sure to delete this item?");

                        if (r == true) {
                            _Ajax("/LegalSystem_DEV/LegalTab/DeleteDataWealthPay",
                                {
                                    model: obj
                                }, null, function (res) {
                                    toastr.success(res);
                                    tableWealthPay1.fnDraw();
                                });
                        }
                        break;
                    case '4':
                        var r = confirm("Are you sure to delete this item?");

                        if (r == true) {
                            _Ajax("/LegalSystem_DEV/LegalTab/DeleteDataWealthPay",
                                {
                                    model: obj
                                }, null, function (res) {
                                    toastr.success(res);
                                    tableWealthPay2.fnDraw();
                                });
                        }
                        break;
                    case '5':
                        var r = confirm("Are you sure to delete this item?");

                        if (r == true) {
                            _Ajax("/LegalSystem_DEV/LegalTab/DeleteDataWealthPay",
                                {
                                    model: obj
                                }, null, function (res) {
                                    toastr.success(res);
                                    tableWealthPay3.fnDraw();
                                });
                        }
                        break;
                    case '6':
                        var r = confirm("Are you sure to delete this item?");

                        if (r == true) {
                            _Ajax("/LegalSystem_DEV/LegalTab/DeleteDataAuctionNew",
                                {
                                    model: obj
                                }, null, function (res) {
                                    toastr.success(res);
                                    tableAuctionNew.fnDraw();
                                });
                        }
                        break;
                    default:
                        var r = confirm("Are you sure to delete this item?");

                        if (r == true) {
                            _Ajax("/LegalSystem_DEV/LegalTab/DeleteDatafindAsset",
                                {
                                    model: obj
                                }, null, function (res) {
                                    toastr.success(res);
                                    tablefindAsset.fnDraw();
                                });
                        }
                        break;
                }
            },
            submitDataTab5: function () {
                let self = this;

                if (!isNull(self.SelectlegalStatus)) {
                    self.model_T5.LegalStatus = self.SelectlegalStatus;
                }

                _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeLegalInfoTab4",
                    {
                        model: self.model_T5,
                    }
                    , null, function (res) {
                        toastr.success(res.Msg);
                        location.reload();
                    });
            }
        }
    });
</script>