﻿<template id="legal-tab6">
    <div>
        <div class="card card-nav-tabs" style="padding-top:20PX;">
            <h4 class="card-header card-header-tabs card-header-primary">
                <div class="nav-tabs-wrapper">
                    <ul class="nav nav-tabs" data-tabs="tabs">
                        <li class="nav-item">
                            <a class="nav-link active show" href="#TabCost" data-toggle="tab">ค่่าใช้จ่าย</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#TabFee" data-toggle="tab">ค่าฤชา ค่าธรรมเนียม<div class="ripple-container"></div></a>
                        </li>
                    </ul>
                </div>
            </h4>
            <div class="tab-content" style="">
                <div class="tab-pane active" id="TabCost">
                    <div class="row " style="margin-bottom: 20px;">
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-fill btn-warning"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i>&nbsp;Del</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-info"><i aria-hidden="true" class="fa fa-refresh"></i>&nbsp;Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-1 col-1 ">

                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="material-datatables table-responsive">
                                <table id="gv" class="table table-striped table-no-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="font-weight: bold;font-size:small">Sel</th>
                                            <th style="font-weight: bold;font-size:small">Cost No</th>
                                            <th style="font-weight: bold;font-size:small">ค่าใช้จ่าย</th>
                                            <th style="font-weight: bold;font-size:small">OA/IA</th>
                                            <th style="font-weight: bold;font-size:small">วันที่เกิดค่าใช้จ่าย</th>
                                            <th style="font-weight: bold;font-size:small">จำนวนเงิน</th>
                                            <th style="font-weight: bold;font-size:small">Description</th>
                                            <th style="font-weight: bold;font-size:small">วันที่จ่าย</th>
                                            <th style="font-weight: bold;font-size:small">จำนวนเงิน</th>
                                            <th style="font-weight: bold;font-size:small">รายรับ</th>
                                            <th style="font-weight: bold;font-size:small">วันที่รับ</th>
                                            <th style="font-weight: bold;font-size:small">Advise No</th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-1 text-right">
                        </div>
                        <div class="col-md-4 col-sm-1 text-right">
                        </div>
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="form-group">
                                <label class="label">รวมค่าใช้จ่าย</label>
                                &nbsp;
                                <label class="label">248,000</label>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-1 text-right">
                        </div>
                        <div class="col-md-4 col-sm-1 text-right">
                        </div>
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="form-group">
                                <label class="label">รวมรายจ่าย</label>
                                &nbsp;
                                <label class="label">184,000</label>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-sm-1 text-right">
                        </div>
                        <div class="col-md-4 col-sm-1 text-right">
                        </div>
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="form-group">
                                <label class="label">รวมรายรับ</label>
                                &nbsp;
                                <label class="label">92,000</label>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="TabFee">
                    <div class="row " style="margin-bottom: 20px;">
                        <div class="col-md-3 col-sm-1 text-right">
                            <div class="tim-typo mt-4-5">
                                <div class="form-group">
                                    <button type="button" class="btn btn-success"><i class="fa fa-plus"></i>&nbsp;Add</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-fill btn-warning"><i class="fa fa-edit"></i>&nbsp;Edit</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-danger"><i aria-hidden="true" class="fa fa-trash"></i>&nbsp;Del</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-info"><i aria-hidden="true" class="fa fa-refresh"></i>&nbsp;Reset</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-lg-2 col-sm-1 col-1 ">

                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-md-12">
                            <div class="material-datatables table-responsive">
                                <table id="gv" class="table table-striped table-no-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th style="font-weight: bold;font-size:small">ค่าธรรมเนียม</th>
                                            <th style="font-weight: bold;font-size:small">ค่าธรรมเนียมศาลจ่าย</th>
                                            <th style="font-weight: bold;font-size:small">ค่าธรรมเนียมศาลคืน</th>
                                            <th style="font-weight: bold;font-size:small">วันที่บันทึกค่าธรรมเนียมศาลคืน</th>
                                            <th style="font-weight: bold;font-size:small">Cheque ธนาคาร/รายการโอนเงิน</th>
                                            <th style="font-weight: bold;font-size:small">วันที่ Cheque</th>
                                            <th style="font-weight: bold;font-size:small">เลขที่ Cheque</th>
                                            <th style="font-weight: bold;font-size:small">สาขาธนาคาร</th>
                                            <th style="font-weight: bold;font-size:small">วันที่ส่ง Cheque เรียกเก็บ</th>

                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    var tab6Component = Vue.component('tab6-component', {
        template: '#legal-tab6',
        mounted() {
            //alert('test Tab6');
        },
        data: function () {
            return {

            }
        },
        methods: {

        },

    });
</script>
