﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelT2 = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-tab2">
    <div>
        <div class="card">
            <div class="card-body">
                <div class="row" :style="{ display: isNoticeDate }">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันออก Notice</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <datepicker-component v-model="model_T2.NoticeDate">
                            </datepicker-component>
                        </div>
                    </div>
                </div>

                <div class="row" :style="{ display: isSetCaseDate }">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันที่กำหนดฟ้อง</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <datepicker-component v-model="model_T2.SetCaseDate">
                            </datepicker-component>
                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันที่ฟ้อง</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <datepicker-component v-model="model_T2.CaseDate">
                            </datepicker-component>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;margin-bottom:5px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">Remark</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" v-model="model_T2.RemarkTab2" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</template>

@Html.Partial("~/Views/Shared/_DatepickerComponent.cshtml")
<script>
    var tab2Component = Vue.component('tab2-component', {
        template: '#legal-tab2',
        mounted() {
            let self = this;

            self.model_T2.ActiveTab = '3';

            if (self.RequestType == '2') {
                self.isNoticeDate = 'flex';
                self.isSetCaseDate = 'none';
                self.model_T2.LegalStatus = '102';

                if (!isNull(self.model_T2.NoticeDate)) {
                    self.model_T2.NoticeDate = _moment_DDMMYY(self.model_T2.NoticeDate);
                }
            }
            else {
                self.isNoticeDate = 'none';
                self.isSetCaseDate = 'flex';
                self.model_T2.LegalStatus = '200';

                if (!isNull(self.model_T2.SetCaseDate)) {
                    self.model_T2.SetCaseDate = _moment_DDMMYY(self.model_T2.SetCaseDate);
                }
                if (!isNull(self.model_T2.CaseDate)) {
                    self.model_T2.CaseDate = _moment_DDMMYY(self.model_T2.CaseDate);
                }
            }
        },
        data: function () {
            return {
                errorsTab2: [],
                isNoticeDate: 'flex',
                isSetCaseDate: 'flex',
                RequestType: '@Model.legalInfo.RequestType',
                model_T2: JSON.parse('@modelT2')
            }
        },
        methods: {
            validateTab2: function () {
                let self = this;

                self.errorsTab2 = [];

                switch (self.RequestType) {
                    case '2':
                        if (isNull(self.model_T2.NoticeDate)) {
                            self.errorsTab2.push("วันออก Notice is required.");
                        }
                        break;
                    default:
                        if (isNull(self.model_T2.SetCaseDate)) {
                            self.errorsTab2.push("วันที่กำหนดฟ้อง is required.");
                        }
                        if (isNull(self.model_T2.CaseDate)) {
                            self.errorsTab2.push("วันที่ฟ้อง is required.");
                        }

                        break;
                }

                if (!self.errorsTab2.length) {
                    return true
                }
                else {
                    return false
                }
            },
            submitDataTab2: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeLegalInfoTab2",
                    {
                        model: self.model_T2,
                    }
                    , null, function (res) {
                        toastr.success(res.Msg);
                        location.reload();
                    });
            }
        },
    });
</script>
