﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelT1 = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}
<template id="legal-tab1">
    <div>
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันรับเรื่อง</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" id="txtAcceptDate" v-model="LegalNoRegister" class="form-control" style="padding-left: 1em;" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันส่งเบิกเอกสาร</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <input type="text" id="txtDocSendDate" v-model="EmailSendDate" class="form-control" style="padding-left: 1em;" readonly="readonly">
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ทนายใน</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" id="txtLawyerIn" v-model="TH_Name" class="form-control" style="padding-left: 1em;" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ทนายนอก</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-3 col-1 ">
                        <div class="form-group bmd-form-group">
                            <input type="text" id="txtLawyerOut" v-model="LawyerName" class="form-control" style="padding-left: 1em;" readonly="readonly">
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันออกหนังสือทวงหนี้</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <input type="text" id="txtSendDebt" v-model="C1stDocDate" class="form-control" style="padding-left: 1em;" readonly="readonly" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันรับเอกสาร</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <datepicker-component v-model="model_T1.ReceivingDocdate">
                            </datepicker-component>
                        </div>
                    </div>

                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันส่งเรื่องให้ทนาย</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <datepicker-component v-model="model_T1.SendingLawyerDate">
                            </datepicker-component>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px; margin-bottom:5px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">Remark</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <input type="text" v-model="model_T1.RemarkTab1" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</template>

@Html.Partial("~/Views/Shared/_DatepickerComponent.cshtml")
<script>
    var tab1Component = Vue.component('tab1-component', {
        template: '#legal-tab1',
        mounted() {
            let self = this;

            self.EmailSendDate = self.model_T1.EmailSendDate;
            self.LegalNoRegister = self.model_T1.LegalNoRegister;
            self.C1stDocDate = self.model_T1.C1stDocDate;


            if (!isNull(self.EmailSendDate))
            {
                self.EmailSendDate = _moment_DDMMYY(self.EmailSendDate);
            }
            if (!isNull(self.LegalNoRegister)) {
                self.LegalNoRegister = _moment_DDMMYY(self.LegalNoRegister);
            }

            if (!isNull(self.C1stDocDate)) {
                self.C1stDocDate = _moment_DDMMYY(self.C1stDocDate);
            }

            if (!isNull(self.model_T1.ReceivingDocdate)) {
                self.model_T1.ReceivingDocdate = _moment_DDMMYY(self.model_T1.ReceivingDocdate);
            }
            if (!isNull(self.model_T1.SendingLawyerDate)) {
                self.model_T1.SendingLawyerDate = _moment_DDMMYY(self.model_T1.SendingLawyerDate);
            }

        },
        data: function () {
            return {
                errorsTab1: [],
                EmailSendDate: '',
                LegalNoRegister: '',
                C1stDocDate: '',
                LawyerName: '@Model.legalInfo.LawyerName',
                TH_Name: '@Model.legalInfo.TH_Name',
                model_T1: JSON.parse('@modelT1')
                @*EmailSendDate: '@Model.legalInfo.EmailSendDate',*@
                @*LegalNoRegister: '@Model.legalInfo.LegalNoRegister',*@
                @*C1stDocDate: '@Model.legalInfo.C1stDocDate',*@

            }
        },
        methods: {
            validateTab1: function () {
                let self = this;

                self.errorsTab1 = [];

                if (isNull(self.model_T1.ReceivingDocdate)) {
                    self.errorsTab1.push("วันที่รับเอกสาร is required.");
                }

                if (isNull(self.model_T1.SendingLawyerDate))
                {
                    self.errorsTab1.push("วันส่งเรื่องให้ทนาย is required.");
                }

                if (isNull(self.C1stDocDate)) {
                    self.errorsTab1.push("วันออกหนังสือทวงหนี้ is required.");
                }


                if (!self.errorsTab1.length) {
                    return true
                }
                else {
                    return false
                }
            },
            submitDataTab1: function () {
                let self = this;

                self.model_T1.ActiveTab = '2';

                //Call function Update to Database
                _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeLegalInfoTab1",
                    {
                        model: self.model_T1,
                    }
                    , null, function (res) {
                        toastr.success(res.Msg);
                        location.reload();
                    });
            }
        },

    });
</script>
