﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelT4 = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-tab4">
    <div>
        <div class="card">
            <div class="card-body">
                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันออกหมายบังคับคดี</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group">
                            <datepicker-component v-model="model_T4.ExecuteDate">
                            </datepicker-component>
                        </div>
                    </div>
                    <div class="col-md-1-5" style="padding-right:10px">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันรับเรื่องบังคับคดี</span><span class="tim-note text-danger"> *</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <datepicker-component v-model="model_T4.SetExecuteDate">
                            </datepicker-component>
                        </div>
                   </div>
                    <div class="col-md-1 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันส่งเบิกเอกสาร</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <datepicker-component v-model="model_T4.SendExecuteDocdate">
                            </datepicker-component>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">

                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-1 col-sm-1 text-right" style="padding-right:10px">
                        <div class="tim-typo mt-4-5">

                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">

                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">วันรับเอกสาร</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">
                            <datepicker-component v-model="model_T4.ReceivingExecuteDocdate">
                            </datepicker-component>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">

                        </div>
                    </div>
                    <div class="col-md-2">

                    </div>
                    <div class="col-md-1 col-sm-1 text-right" style="padding-right:10px">
                        <div class="tim-typo mt-4-5">

                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group bmd-form-group">

                        </div>
                    </div>
                    <div class="col-md-1 col-sm-1 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">ประเภทหนังสือ</span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-md-2 col-1 ">
                        <div class="form-group">
                            <select class="form-control" v-model="model_T4.ExecuteBookType">
                                <option :value="null">-- Please Select --</option>
                                <option v-for="(item, index) in listExecuteBookType" :key="index" v-bind:value="item.Value">
                                    {{ item.Text }}
                                </option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row" style="margin-top: -25px;">
                    <div class="col-md-2 text-right">
                        <div class="tim-typo mt-4-5">
                            <h5>
                                <span class="tim-note">กรณี Reassign บังคับคดี</span>
                            </h5>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <div class="row" style="margin-top: -25px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ทนายใน</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control" v-model="model_T4.TH_Name" style="padding-left: 1em;" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-1">
                            </div>
                            <div class="col-md-2 col-sm-1 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ทนายนอก</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2 col-1 ">
                                <div class="form-group bmd-form-group">
                                    <input type="text" class="form-control" v-model="model_T4.LawyerName" style="padding-left: 1em;" readonly="readonly" />
                                </div>
                            </div>

                        </div>

                        <div class="row" style="padding-bottom:15px">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">วันส่งเรื่องให้ทนาย</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <input type="text" class="form-control"v-model ="model_T4.SendingLawyerDate" style="padding-left: 1em;" readonly="readonly" />
                                </div>
                            </div>

                        </div>

                    </div>
                </div>


            </div>
        </div>


    </div>
</template>

<script>
    var tab4Component = Vue.component('tab4-component', {
        template: '#legal-tab4',
        mounted() {
            let self = this;

            self.InitialData();
        },
        data: function () {
            return {
                errorsTab4: [],
                model_T4: JSON.parse('@modelT4'),
                listExecuteBookType: [],
                SelectlegalStatus: '',
            }
        },
        methods: {
            validateTab4: function () {
                let self = this;

                self.errorsTab4 = [];

                if (isNull(self.model_T4.ExecuteDate)) {
                    self.errorsTab4.push("วันออกหมายบังคับคดี is required.");
                }

                if (isNull(self.model_T4.SetExecuteDate)) {
                    self.errorsTab4.push("วันรับเรื่องบังคับคดี is required.");
                }

                if (!self.errorsTab4.length) {
                    return true
                }
                else {
                    return false
                }
            },
            LoadListExecuteBookType: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListExecuteBookType",
                    {}, null, function (res) {
                        self.listExecuteBookType = res;
                    });
            },
            InitialData: function () {
                let self = this;

                if (!isNull(self.model_T4.SendingLawyerDate)) {
                    self.model_T4.SendingLawyerDate = _moment_DDMMYY(self.model_T4.SendingLawyerDate);
                }

                self.LoadListExecuteBookType();
                
            },
            submitDataTab4: function () {
                let self = this;

                self.model_T4.ActiveTab = '5';

                if (!isNull(self.model_T4.ExecuteDate)) {
                    if (self.model_T4.AppealType == '2') {
                        self.model_T4.LegalStatus = '206';
                    }
                    if (self.model_T4.AppealType == '1' && self.model_T4.PetitionType == '2') {
                        self.model_T4.LegalStatus = '209';
                    }
                    if (self.model_T4.AppealType == '1' && self.model_T4.PetitionType == '1') {
                        self.model_T4.LegalStatus = '212';
                    }
                    if (!isNull(self.SelectlegalStatus)) {
                        self.model_T4.LegalStatus = self.SelectlegalStatus;
                    }
                }

                _Ajax("/LegalSystem_DEV/LegalTab/SaveChangeLegalInfoTab4",
                    {
                        model: self.model_T4,
                    }
                    , null, function (res) {
                        toastr.success(res.Msg);
                        location.reload();
                    });
            }
        },

    });
</script>