﻿@using Newtonsoft.Json
@using LegalData;
@using Newtonsoft.Json.Serialization
@model LegalSystem.Model.LegalTabViewModel

@{
    var serializationSettings = new JsonSerializerSettings()
    {
        ContractResolver = new CamelCasePropertyNamesContractResolver(),
        StringEscapeHandling = StringEscapeHandling.EscapeHtml
    };

    var modelT7 = Html.Raw(HttpUtility.JavaScriptStringEncode(
                JsonConvert.SerializeObject(Model.legalInfo
                , Formatting.None)
                , false));
}

<template id="legal-tab7">
    <div class="card">
        <div class="card-body">
            <div class="row" style="margin-top: -25px;">
                <div class="col-md-2 text-right">
                    <div class="tim-typo mt-4-5">
                        <h5>
                            <span class="tim-note">File Name</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-1 text-right">
                    <div style="margin-top:27px;">
                      <input type="text" class="form-control" v-model="dataFileScan_temp.File_Name" />
                    </div>
                </div>
                <div class="col-md-1 text-right">
                    <div class="tim-typo mt-4-5">
                        <h5>
                            <span class="tim-note">ประเภท</span>
                        </h5>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <select class="form-control" v-model="dataFileScan_temp.fg_ID">
                            <option :value="null">-- Please Select --</option>
                            <option v-for="(item, index) in lisFileScanType" :key="index" v-bind:value="item.Value">
                                {{ item.Text }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="tim-typo mt-4-5">
                        <button type="button" class="btn btn-primary" v-on:click="SearchFileScan();"><i class="fa fa-search"></i>&nbsp;Search</button>
                        <button type="button" class="mb-sm btn btn-outline-secondary" v-on:click="ClearData();"><i class="fa fa-refresh"></i>&nbsp;Clear</button>
                    </div>
                </div>
              </div>
            <div class="row" style="margin-top: -25px;">
                <div class="col-md-2 text-right">
                    <div class="tim-typo mt-4-5">
                        <button type="button" class="btn btn-success" v-on:click="addDataUploadModal();"><i class="fa fa-upload"></i>&nbsp;Upload</button>
                    </div>
                </div>
                <div class="col-md-1 text-right">
                    <div style="margin-top:27px;">
                        
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row" style="margin-bottom:1%;">
                        <div class="container col-md-8 text-center">
                            <div class="material-datatables table-responsive">
                                <table id="gvFileScan" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                    <thead>
                                        <tr>
                                            <th style="font-weight: bold;font-size: small;">No</th>
                                            <th style="font-weight: bold;font-size: small;">ประเภท</th>
                                            <th style="font-weight: bold;font-size: small;">ชื่อไฟล์</th>
                                            <th style="font-weight: bold;font-size: small;">Version</th>
                                            <th style="font-weight: bold;font-size: small;">Edit</th>
                                            <th style="font-weight: bold;font-size: small;">View History</th>
                                            <th style="font-weight: bold;font-size: small;">Delete</th>       
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
          
        </div>

        <!--Modal Upload-->
        <div class="modal fade bd-example-modal-lg" id="frmUploadFC" tabindex="-1" data-backdrop="static"  role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitleUpload }}</h5>
                        <button type="button" class="close" v-on:click="FromModalClose('frmUploadFC');" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-top: -25px;margin-bottom:30px;">
                            <div class="col-md-2 text-right">
                                <div class="tim-typo mt-4-5">
                                    <h5>
                                        <span class="tim-note">ประเภท</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="form-group">
                                    <select class="form-control" v-model="dataFileScan_temp.fg_ID">
                                        <option :value="null">-- Please Select --</option>
                                        <option v-for="(item, index) in lisFileScanType" :key="index" v-bind:value="item.Value">
                                            {{ item.Text }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <uploadfile-component :list_fileupload="fileScanupload" v-on:get_fileupload="get_FileUpload($event)">
                        </uploadfile-component>
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>

        <!--Model File History-->
        <div class="modal fade bd-example-modal-lg" id="frmFileHistory" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width:700px;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitleHistory }}</h5>
                        <button type="button" class="close" v-on:click="FromModalClose('frmFileHistory');" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row" style="margin-bottom:30px;">
                            <div class="container col-md-12 text-center">
                                <div class="material-datatables table-responsive">
                                    <table id="gvFileScanHistory" class="table table-striped table-no-bordered table-hover" style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th style="font-weight: bold;font-size: small;">No</th>
                                                <th style="font-weight: bold;font-size: small;">ชื่อไฟล์</th>
                                                <th style="font-weight: bold;font-size: small;">Version</th>
                                                <th style="font-weight: bold;font-size: small;">รายละเอียด</th>     
                                            </tr>
                                        </thead>
                                        <tbody></tbody>
                                    </table>

                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

@Html.Partial("~/Views/LegalTabComponent/_UploadFileComponent.cshtml")

<script>
    var tableFileScan;
    var tableFileScanHistory;
    var tab7Component = Vue.component('tab7-component', {
        template: '#legal-tab7',
        data: function () {
            return {
                errorsTab7: [],
                model_T7: JSON.parse('@modelT7'),
                modalTitleUpload: '',
                modalTitleHistory: '',
                status: '',
                fileScanupload: [],
                lisFileScanType: [],
                dataFileScan_temp: {},
                Modal_FileScan: @Html.Raw(JsonConvert.SerializeObject(new msFileScan { CreateBy = Model.UserID, CreateDate = DateTime.Now })),
                dataFileScanHistory_temp: {},
                Modal_FileScanHistory: @Html.Raw(JsonConvert.SerializeObject(new msFileScanHistory())),
            }
        },
        methods: {
            InitialData: function () {
                let self = this;

                self.dataFileScan_temp = _.cloneDeep(self.Modal_FileScan);
                self.dataFileScan_temp.RequestID = self.model_T7.RequestID;
                self.LoadListFileScanType();

                self.dataFileScanHistory_temp = _.cloneDeep(self.Modal_FileScanHistory);

                tableFileScan = $("#gvFileScan").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 20,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryFileScan",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: self.dataFileScan_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "fg_Name" },
                        { data: "File_Name" },
                        { data: "File_Version" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="edit" class="btn btn-info" href="javascript:;" data-id="' + o.fs_ID + '"><i class="fa fa-edit"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="view" class="btn btn-primary" href="javascript:;" data-id="' + o.fs_ID + '"><i class="fa fa-file-code-o"></i></a>';
                            }
                        },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="delete" class="btn btn-danger" href="javascript:;" data-id="' + o.fs_ID + '"><i class="fa fa-trash"></i></a>';
                            }
                        }



                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#edit', 'tr', function () {
                    var dataRow = tableFileScan.fnGetData($(this).parents('tr')[0]);
                    self.editDataUploadModal(dataRow);
                }).on('click', '#delete', 'tr', function () {
                    var dataRow = tableFileScan.fnGetData($(this).parents('tr')[0]);
                    self.deleteUploadFile(dataRow);
                }).on('click', '#view', 'tr', function () {
                    var dataRow = tableFileScan.fnGetData($(this).parents('tr')[0]);
                    self.ViewDataUplodHistory(dataRow);
                });

                tableFileScanHistory = $("#gvFileScanHistory").dataTable({
                    lengthChange: false,
                    processing: false,
                    searching: false,
                    pageLength: 10,
                    serverSide: true,
                    responsive: true,

                    ajax: {
                        async: true,
                        url: "/LegalSystem_DEV/LegalTab/InquiryFileScanHistory",
                        type: "POST",
                        data: function (d) {
                            return JSON.stringify({
                                option: d, model: self.dataFileScanHistory_temp
                            });
                        },
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        beforeSend: function () {
                            $(".se-pre-con").show();
                        },
                        complete: function (d) {
                            $(".se-pre-con").hide();
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            console.log(thrownError);
                        }
                    },
                    columns: [
                        {
                            data: null,
                            render: function (data, type, row, meta) {
                                return meta.row + 1;
                            }
                        },
                        { data: "File_Name" },
                        { data: "File_Version" },
                        {
                            data: null,
                            render: function (o) {
                                return '<a id="view" class="btn btn-primary" href="javascript:;" data-id="' + o.fs_ID + '"><i class="fa fa-file-code-o"></i></a>';
                            }
                        },

                    ],
                    order: [
                        [1, "asc"]
                    ],

                }).on('click', '#view', 'tr', function () {
                    var dataRow = tableFileScanHistory.fnGetData($(this).parents('tr')[0]);
                    self.ViewFileHistory(dataRow);
                });

            },
            SearchFileScan: function () {
                let self = this;

                tableFileScan.fnDraw();
            },
            FromModalClose: function (frm) {
                let self = this;

                self.dataFileScan_temp = _.cloneDeep(self.Modal_FileScan);

                $('#' + frm).modal('hide');

            },
            addDataUploadModal: function () {
                let self = this;

                self.dataFileScan_temp = _.cloneDeep(self.Modal_FileScan);
                self.dataFileScan_temp.RequestID = self.model_T7.RequestID;
                self.status = 'Add'
                self.modalTitleUpload = 'Upload File Scan';

                $("#frmUploadFC").modal('show');
            },
            editDataUploadModal: function (obj) {
                let self = this;

                self.dataFileScan_temp = _.cloneDeep(self.Modal_FileScan);
                self.dataFileScan_temp = obj;
                self.status = 'Edit'
                self.modalTitleUpload = 'Upload File Scan';

                $("#frmUploadFC").modal('show');
            },
            ViewDataUplodHistory: function (obj) {
                let self = this;

                debugger;
                self.dataFileScan_temp = _.cloneDeep(self.Modal_FileScan);
                self.dataFileScan_temp = obj;

                self.dataFileScanHistory_temp = _.cloneDeep(self.Modal_FileScanHistory);
                self.dataFileScanHistory_temp.fs_ID = self.dataFileScan_temp.fs_ID
                tableFileScanHistory.fnDraw();

                self.modalTitleHistory = 'Upload File History';
                $("#frmFileHistory").modal('show');
            },
            LoadListFileScanType: function () {
                let self = this;

                _Ajax("/LegalSystem_DEV/LegalTab/ListFileScanType",
                    {}, null, function (res) {
                        self.lisFileScanType = res;
                    });
            },
            get_FileUpload: function (fileupload) {
                let self = this;

                self.fileScanupload = fileupload;
                this.destroyComponent = false;

                _Ajax("/LegalSystem_DEV/LegalTab/UploadFileScan",
                    {
                        files: fileupload,
                        model: self.dataFileScan_temp,
                        status: self.status
                    }, null, function (res) {
                        toastr.success(res);
                        self.ClearData();
                        tableFileScan.fnDraw();

                        $("#frmUploadFC").modal('hide');
                    });
            },
            ClearData: function () {
                let self = this;

                self.dataFileScan_temp = _.cloneDeep(self.Modal_FileScan);
                self.dataFileScan_temp.RequestID = self.model_T7.RequestID;
            },
            deleteUploadFile: function (obj) {
                let self = this;

                var r = confirm("Are you sure to delete this item?");

                if (r == true) {
                    _Ajax("/LegalSystem_DEV/LegalTab/DeleteFileScan",
                        {
                            model: obj
                        }, null, function (res) {
                            toastr.success(res);
                            tableFileScan.fnDraw();
                            self.ClearData();
                        });
                }
            },
             ViewFileHistory: function (obj) {
                let self = this;

                 _Ajax("/LegalSystem_DEV/LegalTab/SelectDataViewHistory",
                    {
                        model: obj
                    }, null, function (res) {
                        debugger;
                        window.open("@Url.RouteUrl(new {
                                                Controller = "LegalTab", Action = "Download"
                                            })/?strfilename=" + res.filename + "&contype=" + res.type + "&path=" + res.filepath, '_blank')
                    });
            },
        },
        mounted() {
            let self = this;

            self.InitialData();
        },
    });
</script>