﻿@model  LegalSystem.Model.TrayViewModel
@{
    ViewBag.Title = "อยู่ระหว่างพิจารณาคดี";
}


@section Styles {
    <style>

        select.form-control:not([size]):not([multiple]) {
            height: 36px;
            color: #aaa;
        }

        /*.table thead tr th {
            font-size: 14px !important;
        }*/

        /*.dataTables_filter {
                display: none;
            }*/

        /*div.dataTables_wrapper {
                width: 100%;
                margin: 0 auto;
            }*/

        .label-select {
            position: absolute;
            top: -4px;
            margin-left: -5px;
        }

        label {
            line-height: 0;
        }
    </style>
}

<div class="row">


    <div class="col-lg-12">
        @using (Html.BeginForm("Search", "Tray", FormMethod.Post, new { @class = "form-horizontal", id = "search-form" }))
        {
            <div class="card ">

                <div class="card-header card-header-tabs card-header-info">
                    <h4 id="trayname" class="card-title">@ViewBag.Title</h4>
                </div>
                <div class="card-body">

                    <div class="form-row">
                        <div class="col form-group">
                            @Html.LabelFor(m => m.RequestNo, htmlAttributes: new { @class = "label-floating" })
                            @Html.EditorFor(m => m.RequestNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col form-group">
                            @Html.LabelFor(m => m.CIFNo, htmlAttributes: new { @class = "label-floating" })
                            @Html.EditorFor(m => m.CIFNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col form-group">
                            @Html.LabelFor(m => m.AssignOAName, htmlAttributes: new { @class = "label-floating" })
                            @Html.EditorFor(m => m.AssignOAName, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>


                    <div class="form-row">
                        <div class="col form-group">
                            @Html.LabelFor(m => m.LegalNo, htmlAttributes: new { @class = "label-floating" })
                            @Html.EditorFor(m => m.LegalNo, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                        <div class="col form-group">
                            @Html.LabelFor(m => m.DocumentTypeID, htmlAttributes: new { @class = "label-floating label-select" })
                            @Html.DropDownListFor(m => m.DocumentTypeID, (SelectList)ViewBag.DocumentTypeID, "-- Please select --", new { @class = "form-control" })
                        </div>
                        <div class="col form-group">
                            @Html.LabelFor(m => m.DocumentStatusID, htmlAttributes: new { @class = "label-floating label-select" })

                            @Html.DropDownListFor(m => m.DocumentStatusID, (SelectList)ViewBag.DocumentStatusID, "-- Please select --", new { @class = "form-control" })

                        </div>
                    </div>


                </div>

                <div class="card-footer">

                    <div class="form-group mb">
                        <div class="col-xs-12">
                            <button class="btn btn-primary btn-main btn-search" type="submit">Search</button>
                            <button class="mb-sm btn btn-outline-secondary" type="reset">Clear</button>
                        </div>
                    </div>
                </div>

            </div>
        }

    </div>

</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card" style="margin-top:50px;">
            <div class="card-header card-header-tabs card-header-info">
                <h4 class="card-title">SEARCH RESULT</h4>
            </div>
            <div class="card-body">

                <div class="material-datatables table-responsive">
                    <table id="table-tray" class="table table-striped table-no-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th>No</th>
                                <th>Req No</th>
                                <th>Request Type ID</th>
                                <th>Request Type</th>
                                <th>CIF No</th>
                                <th>Name</th>
                                <th>Legal No</th>
                                <th>Legal Status</th>
                                <th>SLA OA Send Date</th>
                                <th>Assign OA ID</th>
                                <th>Assign OA</th>
                                <th>Tray Action ID</th>
                                <th>Document Type</th>
                                <th>Document Status ID</th>
                                <th>Document Status</th>
                                <th>วันที่ออกหนังสือ</th>
                                <th>Loan Type</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
            </div>

            <div class="card-footer">

            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script>

            $(document).ready(function () {

                var Tray = {};
                Tray.Form = {};
                Tray.Form.Table = $('#table-tray').DataTable({
                    order: [[1, "desc"]],
                    // scrollY: '70vh',
                    scrollX: true,
                    searching: true,
                    processing: true,
                    serverSide: true,
                    ajax: {
                        "url": "@Url.Action("Search", (string)this.ViewContext.RouteData.Values["controller"])",
                        "type": "POST",
                        "data": {
                            "TrayID": 3
                        }
                    },
                    columnDefs: [

                        { targets: 0, data: "RowNo", orderable: false, width: 30 },
                        { targets: 1, data: "RequestNo" },
                        { targets: 2, data: "RequestTypeID", "visible": false },
                        { targets: 3, data: "RequestTypeName", width: 200 },
                        { targets: 4, data: "CIFNo" },
                        { targets: 5, data: "CIFName" },
                        { targets: 6, data: "LegalNo" },
                        { targets: 7, data: "LegalStatusName", width: 100 },
                        //{ targets: 8, data: "SLASendDate", width: 100 },

                        {
                            targets: 8, data: "SLASendDate", width: 100, render: function (data, type, row, meta) {
                                if (data) {

                                    return moment(data).local().format('DD/MM/YYYY');
                                }
                                return data
                            }
                        },

                        { targets: 9, data: "AssignOAID", "visible": false },
                        { targets: 10, data: "AssignOAName" },
                        { targets: 11, data: "TrayActionID", "visible": false },
                        { targets: 12, data: "TrayActionName" },
                        { targets: 13, data: "DocumentStatusID", "visible": false },
                        { targets: 14, data: "DocumentStatusName" },


                        {
                            targets: 15, data: "PrintDate", width: 100, render: function (data, type, row, meta) {
                                if (data) {

                                    return moment(data).local().format('DD/MM/YYYY HH:mm');
                                }
                                return data
                            }
                        },

                        { targets: 16, data: "LoanType" },
                        {
                            targets: 17,
                            data: "RequestID",
                            width: 60,
                            render: function (data, type, row, meta) {
                                var html = '';
                                html += '<button type="button" class="mb-sm btn btn-outline-info" form-mode="edit"  onclick="location.href=\'/LegalSystem_DEV/Pages/LegalInfo.aspx?rid=' + row.RequestID + '\'" ><i class="icon-pencil "></i> View</button>';

                                return html;

                                return "";
                            }
                        },

                        { targets: 18, data: "RequestID", "visible": false },
                        { targets: 19, data: "LegalID", "visible": false }
                    ]

                    , fixedColumns: {
                        leftColumns: 3,
                        rightColumns: 19
                    }
                });

                Tray.Form.Search = function () {
                    console.log("search processing...");

                    $('#search-form :input').each(function () {
                        var input = $(this);
                        var key = input[0].name;

                        switch (key) {
                            case "RequestNo": Tray.Form.Table.columns(1).search($(this).val()); break;
                            case "CIFNo": Tray.Form.Table.columns(4).search($(this).val()); break;
                            case "AssignOAName": Tray.Form.Table.columns(10).search($(this).val()); break;
                            case "LegalNo": Tray.Form.Table.columns(6).search($(this).val()); break;
                            case "TrayActionID": Tray.Form.Table.columns(11).search($(this).val()); break;
                            case "DocumentStatusID": Tray.Form.Table.columns(13).search($(this).val()); break;

                        }
                    });

                    Tray.Form.Table.draw();
                }

                $("#search-form").on('submit', function (e) {
                    e.preventDefault();

                    setTimeout(function () {
                        Tray.Form.Search();
                    }, 100);

                });

                $("#search-form").on('reset', function (e) {

                    setTimeout(function () {

                        $(".is-filled").removeClass("is-filled");

                        Tray.Form.Search();

                    }, 100);

                });

            });

    </script>

}