﻿#loader {
    background: #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}



#loaderInner {
    /*background: #ffffff url(../images/spinner.gif) center center no-repeat;*/
    /*height: 60px;
    left: 50%;
    margin: -50px 0 0 -50px;
    position: absolute;
    top: 50%;
    width: 60px;*/
    background: url('/LegalSystem_DEV/Resources/Preloader_4.gif') center center no-repeat;
    position: fixed;
    opacity: 0.90;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
}

.my-custom-scrollbar {
    position: relative;
    height: auto;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.navbar-static-top {
    z-index: 1000;
    border-width: 0 0 1px;

}

.se-pre-con {
    position: fixed;
    opacity: 0.90;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    /*background: url('/LegalSystem_DEV/Images/Preloader_3.gif') center no-repeat #fff;*/
    background: url('/LegalSystem_DEV/Resources/Preloader_4.gif') center no-repeat #fff;
}
.my-container {
    position: relative;
    background: #5C97FF;
    overflow: hidden;
}

    .my-container:before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        /*z-index: 1;*/
        opacity: 0.6;
        background-image: url('/LegalSystem_DEV/Images/astronomy.jpeg');
        background-repeat: no-repeat;
        background-position: 50% 0;
        -ms-background-size: cover;
        -o-background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        background-size: cover;
    }

    .my-container h1 {
        padding: 50px;
        text-align: center;
        z-index: 2;
        position: relative;
        color: #fff;
    }
.datepicker {
    /* width:300px; */
    background-color: white;
    color: black !important;
    padding: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    direction: ltr;
}
/*.sidebar #sidebarToggle {
    width: 75px;
    height: 50px;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
}

    .sidebar #sidebarToggle::after {
        font-weight: 900;
        content: '\f104';
        font-family: 'Font Awesome 5 Free';
        margin-right: 0.1rem;
    }

    .sidebar #sidebarToggle:hover {
        text-decoration: none;
    }

    .sidebar #sidebarToggle:focus {
        outline: none;
    }

.sidebar.toggled {
    width: 0 !important; 
    overflow: no-content;
}

    .sidebar.toggled #sidebarToggle::after {
        content: '\f105';
        font-family: 'Font Awesome 5 Free';
        margin-left: 0.25rem;
    }


.sidebar-light #sidebarToggle {
    background-color: #eaecf4;
}

    .sidebar-light #sidebarToggle::after {
        color: #b7b9cc;
    }

    .sidebar-light #sidebarToggle:hover {
        background-color: #dddfeb;
    }*/





.vue-modal-mask-1 {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}


.vue-modal-mask-2 {
    position: fixed;
    z-index: 9997;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}

.vue-modal-mask-3 {
    position: fixed;
    z-index: 9996;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    display: table;
    transition: opacity .3s ease;
}
 
 
.vue-modal-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.vue-modal-container {
    width: 70%;
    min-width: 900px;
    margin: 0px auto;
    padding: 20px 30px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
    transition: all .3s ease;
    font-family: Helvetica, Arial, sans-serif;
}

.vue-modal-header h3 {
    margin-top: 0;
    color: #42b983;
}

.vue-modal-body {
    margin: 20px 0;
}

.vue-modal-default-button {
    float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.vue-modal-enter {
    opacity: 0;
}

.vue-modal-leave-active {
    opacity: 0;
}

.vue-modal-enter .vue-modal-container,
.vue-modal-leave-active .vue-modal-container {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.pdfobject-container {
    height: 60%;
    min-height: 500px;
    border: 1rem solid rgba(0,0,0,.1);
}